{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Batch Samples {% endblock %} 

{% block content %}

<link rel="stylesheet" href="{% static 'css/batch_samples.css' %}">

<div class="container h-100">

  <div class="row justify-content-center">
    <h2>Batch</h2>
  </div>

  <div class="row justify-content-center">
    <p>Once created, batches cannot be changed and can only be deleted with its samples.</p>
  </div>

  <div class="row justify-content-center mb-2">
    <input class="btn btn-danger" type="Submit" value="Delete Batch">
  </div>

  <div class="row font-weight-bold">
    <div class="col border border-dark">Date Created</div>
    <div class="col border border-dark">Name</div>
    <div class="col border border-dark">Assay Code</div>
    <div class="col border border-dark">Number of Assays</div>
    <div class="col border border-dark">Number of Samples</div>
    <div class="col border border-dark">Total Tests</div>
    <div class="col border border-dark">Extraction Protocol</div>
    <div class="col border border-dark">Lab ID</div>
  </div>

  <div class="row">
    <div class="col border border-dark">{{batch.date_created}}</div>
    <div class="col border border-dark">{{batch.name}}</div>
    <div class="col border border-dark">{{batch.code}}</div>
    <div class="col border border-dark">{{batch.number_of_assays}}</div>
    <div class="col border border-dark">{{batch.number_of_samples}}</div>
    <div class="col border border-dark">{{batch.total_tests}}</div>
    <div class="col border border-dark">{{batch.extraction_protocol}}</div>
    <div class="col border border-dark">{{batch.lab_id}}</div>
  </div>

  <div class="row justify-content-center">
    <h3>Samples</h3>
  </div>

  <div class="row justify-content-center mb-2">
    <input class="btn btn-primary" type="Submit" value="Upload CSV">
  </div>


  <div class="row font-weight-bold">
    <div class="col border border-dark">Lab ID Number</div>
    <div class="col border border-dark">Sample ID</div>
    <div class="col border border-dark">Assays</div>
  </div>

  <form action="" method="POST">
    {{ formset.management_form }}
    {% csrf_token %}
    {% for samples, formset in data %}

    {% for hidden in formset.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {{formset.id}}

      <div class="row">
  
        <div class="col border border-dark">{{samples.lab_id_num}}</div>
        <div class="col border border-dark">{{formset.sample_id}}</div>
  
        <div class="col border border-dark">
        {% for assay in samples.assays.all%}
          {% if samples.assays.all|length > 1%}
          <span>
            {{assay}} |
          </span>
          {% else %}
          <span>
            {{assay}}
          </span>
          {% endif %}
        {% endfor %}
        </div>
  
      </div>
    {% endfor %}

    <div class="row justify-content-center"> 
      <input type="Submit" name="Update Samples">
    </div>
  </form>

</div>
{% endblock %}