{% extends "base.html" %} 

{% load static %}

{% block title %} Batches - LabPrep {% endblock %} 

{% block content %}

<div class="container h-100">

    <div class="row">
      <div class="col d-flex justify-content-center"> 
        <h1>View All Batches</h1>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-center"> 
        <a href="{% url 'create_batch'%}">Create Batch</a>
      </div>
    </div>
  
    {% for batch in batches %}
    <div class="row">
      <div class="col d-flex justify-content-center"> 
        <li>{{batch.name}}</li>
      </div>
    </div>
    {% endfor %}
  
</div>

{% endblock %}