{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Batch Samples {% endblock %} 

{% block content %}

<link rel="stylesheet" href="{% static 'css/batch_samples.css' %}">

<div class="container-fluid">

  <div class="row justify-content-center">
    <h2>Batch</h2>
  </div>

  <div class="row justify-content-center">
    <h6 class="text-center">
      **Once created, batches cannot be changed and can only be deleted with its samples.**
    </h6>
  </div>

  <div class="row justify-content-center mb-2">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">
      Delete Batch
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Date Created</th>
          <th scope="col">Name</th>
          <th scope="col">Assay Code</th>
          <th scope="col">Number of Assays</th>
          <th scope="col">Number of Samples</th>
          <th scope="col">Total Tests</th>
          <th scope="col">Extraction Protocol</th>
          <th scope="col">Lab ID</th>
        </tr>
      </thead>

      <tbody>
        <tr class="batch-row" data-href="{% url 'batch_samples' request.user.username batch.pk %}">
          <td>{{batch.date_created}}</td>
          <td>{{batch.name}}</td>
          <td>{{batch.code}}</td>
          <td>{{batch.number_of_assays}}</td>
          <td>{{batch.number_of_samples}}</td>
          <td>{{batch.total_tests}}</td>
          <td>{{batch.extraction_protocol}}</td>
          <td>{{batch.lab_id}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row justify-content-center">
    <h3>Samples</h3>
  </div>

  <div class="row justify-content-center mb-2">
    <h6>
      **Make sure to update Sample ID's before updating their assays.**
    </h6>
  </div>

  <div class="row justify-content-center mb-2">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#populate-modal">
      Paste Data
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Lab ID</th>
          <th scope="col">Sample ID</th>
          <th scope="col">Assay</th>
        </tr>
      </thead>

      <tbody>

      <form action="" method="POST">

        {{ formset.management_form }}
        {% csrf_token %}
        {% for samples, formset in data %}

        {% for hidden in formset.hidden_fields %}
          {{ hidden }}
        {% endfor %}

        {{formset.id}}

        <tr>

          <td>{{samples.lab_id_num}}</td>
          <td>{{formset.sample_id}}</td>

          <td class="col-8">
            <a href="{% url 'sample_assay' request.user.username samples.pk %}">
              <i class="fa-solid fa-vial-circle-check"></i>
            </a>
            {% for assay in samples.assays.all%}
              {% if samples.assays.all|length > 1 %}
              <span>
                {{assay}} |
              </span>
              {% else %}
              <span>
                {{assay}}
              </span>
              {% endif %}
            {% endfor %}
          </td>

        </tr>
        {% endfor %}

      </tbody>

    </table>

  </div>

  <div class="row justify-content-center"> 
    <input class="btn btn-primary mt-2" type="Submit" value="Update Sample ID's">
  </div>

  </form>


  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Deleting batch...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="row justify-content-center">
            <h5 class="text-center">Deleting this batch will also delete all its samples. Are you sure?</h5>
          </div>

        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a href="{% url 'delete_batch' request.user.username batch.pk %}">
            <button type="button" class="btn btn-danger" id="delete-button">Confirm</button>
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="populate-modal" tabindex="-1" role="dialog" aria-labelledby="populate-modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="populate-modalLabel">Data from Excel/Google Spreadsheets...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="row justify-content-center"> 

            <div class="col">
              <label>Paste row here:</label>
              <textarea id="textarea-data" placeholder="Paste here..."></textarea>
            </div>

            <div class="col">
              <ol>
                <li>Copy &amp; paste column</li>
                <li>Remove any blank spaces</li>
                <li>Make sure list size is less than or equal to number of samples in batch</li>
                <li>Populate sample ID's</li>
                <li>Rows will be filled in the order shown</li>
              </ol>
            </div>
            
          </div>

        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-primary" id="populate-button">Populate</button>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- https://stackoverflow.com/questions/454202/creating-a-textarea-with-auto-resize -->
<script>
  $("textarea").each(function () {
    this.setAttribute("style", "height:200px" + (this.scrollHeight) + "px;overflow-y:scroll;");
  }).on("input", function () {
    this.style.height = 0;
    this.style.height = (this.scrollHeight) + "px";
  });
</script>

<script>
  const button = document.getElementById("populate-button");

  function populate() {
    inputNum = $('.form-control')
    var array = $('#textarea-data').val().split('\n');

    if (array.length <= inputNum.length) {

      for (let i=0; i < array.length; i++) {
        inputNum[i].value = array[i]
      }
      
      $('#populate-modal').modal('toggle');
    } else {
      alert("The list size is greater than the samples in the batch. Please modify list such as removing duplicates or blank spaces.")
    }
  }

  button.addEventListener("click", populate);

</script>

{% endblock %}