{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Batch Samples {% endblock %} 

{% block content %}

<link rel="stylesheet" href="{% static 'css/batch_samples.css' %}">

<div class="container h-100">

  <div class="row justify-content-center">
    <h2>Batch</h2>
  </div>

  <div class="row justify-content-center">
    <p>Once created, batches cannot be changed and can only be deleted with its samples.</p>
  </div>

  <div class="row justify-content-center mb-2">
    <input class="btn btn-danger" type="Submit" value="Delete Batch">
  </div>

  <div class="row font-weight-bold">
    <div class="col border border-dark">Date Created</div>
    <div class="col border border-dark">Name</div>
    <div class="col border border-dark">Assay Code</div>
    <div class="col border border-dark">Number of Assays</div>
    <div class="col border border-dark">Number of Samples</div>
    <div class="col border border-dark">Total Tests</div>
    <div class="col border border-dark">Extraction Protocol</div>
    <div class="col border border-dark">Lab ID</div>
  </div>

  <div class="row">
    <div class="col border border-dark">{{batch.date_created}}</div>
    <div class="col border border-dark">{{batch.name}}</div>
    <div class="col border border-dark">{{batch.code}}</div>
    <div class="col border border-dark">{{batch.number_of_assays}}</div>
    <div class="col border border-dark">{{batch.number_of_samples}}</div>
    <div class="col border border-dark">{{batch.total_tests}}</div>
    <div class="col border border-dark">{{batch.extraction_protocol}}</div>
    <div class="col border border-dark">{{batch.lab_id}}</div>
  </div>

  <div class="row justify-content-center">
    <h3>Samples</h3>
  </div>

  <div class="row justify-content-center mb-2">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Paste Data
    </button>
  </div>


  <div class="row font-weight-bold">
    <div class="col border border-dark">Lab ID Number</div>
    <div class="col border border-dark">Sample ID</div>
    <div class="col border border-dark">Assays</div>
  </div>

  <form action="" method="POST">
    {{ formset.management_form }}
    {% csrf_token %}
    {% for samples, formset in data %}

    {% for hidden in formset.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {{formset.id}}

      <div class="row">
  
        <div class="col border border-dark">{{samples.lab_id_num}}</div>
        <div class="col border border-dark">{{formset.sample_id}}</div>
  
        <div class="col border border-dark">
        {% for assay in samples.assays.all%}
          {% if samples.assays.all|length > 1 %}
          <span>
            {{assay}} |
          </span>
          {% else %}
          <span>
            {{assay}}
          </span>
          {% endif %}
        {% endfor %}
        </div>
  
      </div>
    {% endfor %}

    <div class="row justify-content-center"> 
      <input type="Submit" name="Update Samples">
    </div>
  </form>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Excel/Google Spreadsheets</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="row justify-content-center"> 

            <div class="col">
              <label>Paste row here:</label>
              <textarea placeholder="Paste here..."></textarea>
            </div>

            <div class="col">
              <ol>
                <li>Copy &amp; paste row</li>
                <li>Remove any blank spaces</li>
                <li>Populate rows</li>
                <li>Rows will be filled in the order shown</li>
              </ol>
            </div>
            
          </div>

        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-primary">Populate</button>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- https://stackoverflow.com/questions/454202/creating-a-textarea-with-auto-resize -->
<script>
  $("textarea").each(function () {
    this.setAttribute("style", "height:200px" + (this.scrollHeight) + "px;overflow-y:scroll;");
  }).on("input", function () {
    this.style.height = 0;
    this.style.height = (this.scrollHeight) + "px";
  });
</script>

{% endblock %}