{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Edit Extraction Protocol {% endblock %} 

{% block content %}

<link rel="stylesheet" href="{% static 'css/edit_extraction_protocol.css' %}">
<link rel="stylesheet" href="{% static 'css/global.css' %}">

<div class="container-fluid">

  {% for message in messages %}
  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h5 class="messages">{{ message }}</h5>
    </div>
  </div>
  {% endfor %}

  <div class="row justify-content-center">
    <h3 class="text-center">Edit Existing Extraction Protocol</h3>
  </div>

  <form method="POST" action="">
    {% csrf_token %}

    <div class="row justify-content-center">
      Protocol Name
    </div>

    <div class="row justify-content-center">
      {{form.name}}
    </div>

    <div class="row justify-content-center">
      Extraction Type
    </div>

    <div class="row justify-content-center mb-2">
        {{form.type}}
    </div>

    <div class="row justify-content-center">
      Document URL
    </div>

    <div class="row justify-content-center mb-2">
        {{form.doc_url}}
    </div>

    <div class="row justify-content-center">
      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Tubes
            <button class="btn btn-primary btn-sm float-right btn-arrow" type="button" data-toggle="collapse" data-target="#tubes-collapse" aria-expanded="false" aria-controls="collapseExample">
              ⮟
            </button>
          </li>

          <div class="collapse" id="tubes-collapse">
            {% for box in form.tubes%}
            <li class="list-group-item">
              {{box}}
            </li>
            {% endfor %}
          </div>
        </ul>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Reagents
            <button class="btn btn-primary btn-sm float-right btn-arrow" type="button" data-toggle="collapse" data-target="#reagents-collapse" aria-expanded="false" aria-controls="collapseExample">
              ⮟
            </button>
          </li>

          <div class="collapse" id="reagents-collapse">
            {% for box in form.reagents%}
            <li class="list-group-item">
              {{box}}
            </li>
            {% endfor %}
          </div>
        </ul>
      </div>
    </div>

    <div class="row justify-content-center"> 
      <input class="btn btn-primary mt-2" type="Submit" value="Update &amp; Edit Quantity">
    </div>

  </form>

  <div class="justify-content-center">
    <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-danger mt-2" data-toggle="modal" data-target="#delete-modal">
        Delete Protocol
      </button>
    </div>
  </div>

  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Deleting Extraction Protocol...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <div class="row justify-content-center">
            <h5 class="text-center">Are you sure you want to delete this protocol? If this protocol is being used by any batches, you will not be able to delete.</h5>
          </div>

          <div class="row justify-content-center">
            <label>Enter Protocol Name: "{{protocol.name}}"</label>
          </div>

          <div class="row justify-content-center">
            <input type="text" id="confirm-del">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" id="delete-button">Confirm</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    $('.btn-arrow').click(function(){
      $(this).text(function(i,old){
          return old=='⮝' ?  '⮟' : '⮝';
      });
    });

    const delButton = document.getElementById("delete-button");
    const confirmInput = document.getElementById("confirm-del")

    function del() {
      value = '{{protocol.name}}'
      if (confirmInput.value === value) {
        window.location.href = "{% url 'delete_extraction_protocol' request.user.username protocol.pk %}"
      } else {
        alert("Invalid code name entered, please try again.")
      }
    }

    delButton.addEventListener("click", del);
  </script>

</div>
{% endblock %}