{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Add Reagent {% endblock %} 

{% block content %}
<link rel="stylesheet" href="{% static 'css/global.css' %}">

<div class="container">

  <div class="row justify-content-center">
    <h3 class="text-center">Add New Reagent</h3>
  </div>

  <form method="POST" action="">
    {% csrf_token %}
    <div class="row justify-content-center mb-2">

      <div class="col-sm-3">
        <div class="text-center">
          <label class="form-label">Name</label>
          {{form.name}}
        </div>

        <div class="text-center">
          <label class="form-label">Brand</label>
          {{form.brand}}
        </div>

        <div class="text-center">
          <label class="form-label">Lot Number</label>
          {{form.lot_number}}
        </div>

        <div class="text-center">
          <label class="form-label">Catalog Number</label>
          {{form.catalog_number}}
        </div>

        <div class="text-center">
          <label class="form-label">Usage</label>
          {{form.usage}}
        </div>
      </div>

      <div class="col-sm-3">
        <div class="text-center">
          <label class="form-label">PCR Reagent Type</label>
          {{form.pcr_reagent}}
        </div>

        <div class="text-center">
          <label class="form-label">Volume</label>
          {{form.volume}}
        </div>

        <div class="text-center">
          <label class="form-label">Volume Unit</label>
          {{form.unit_volume}}
        </div>

        <div class="text-center">
          <label class="form-label">Stock Concentration</label>
          {{form.stock_concentration}}
        </div>

        <div class="text-center">
          <label class="form-label">Concentration Unit</label>
          {{form.unit_concentration}}
        </div>
      </div>
      
      <div class="col-sm-3">

        <div class="text-center mb-2">
          <label class="form-label">Expiration Date</label>
          {{form.exp_date}}
        </div>

        <div class="card mx-auto" style="width: 18rem;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Locations
              <button class="btn btn-primary btn-sm float-end btn-arrow" type="button" data-bs-toggle="collapse" data-bs-target="#reagents-collapse" aria-expanded="false" aria-controls="reagents-collapse">
                ⮝
              </button>
            </li>

            <div class="collapse show" id="reagents-collapse">
              <div class="card-body"> 
                <ul class="list-group">
                  {% for loc in form.location %}
                    <li class="list-group-item">
                      {{loc}}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </ul>
        </div>
      </div>

    </div>

    {% if messages %}
    <div class="row text-center mt-4">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </div>
    {% endif %}

    <div class="row justify-content-center mb-2">
      <div class="text-center mt-2"> 
        <a class="btn btn-secondary" href="{% url 'reagents' %}">Cancel</a>
        <button class="btn btn-primary" type="submit" name="update">Add Reagent</button>
      </div>
    </div>

  </form>

</div>

<script>
  $('.btn-arrow').click(function(){
    $(this).text(function(i,old){
      return old=='⮟' ?  '⮝' : '⮟';
    });
  });
</script>
{% endblock %}