{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Add Ladder {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="row justify-content-center">
    <h3 class="text-center">Add New Ladder</h3>
    <p class="text-center"><a href="{% url 'inventory_guide' %}" target="_blank" class="text-center">Inventory Guide</a></p>
  </div>

  <form method="POST" action="">
    {% csrf_token %}
    <div class="row justify-content-center mb-2">

      <div class="col-sm-3 form-width-18">
        <div class="text-center mt-3">
          <label class="form-label">Name</label>
          {{form.name}}
        </div>

        <div class="text-center mt-3">
          <label class="form-label">Brand</label>
          {{form.brand}}
        </div>

        <div class="text-center mt-3">
          <label class="form-label">Lot Number</label>
          {{form.lot_number}}
        </div>
      </div>

      <div class="col-sm-3 form-width-18">
        <div class="text-center mt-3">
          <label class="form-label">Catalog Number</label>
          {{form.catalog_number}}
        </div>

        <div class="text-center mt-3">
          <label class="form-label">Amount Stored (&#181;L)</label>
          {{form.amount}}
        </div>

        <div class="text-center mt-3">
          <span class="d-inline-block float-start" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right" data-bs-content="Set the amount of ladder (in microliters) that you wish to maintain in your lab. Otherwise, leave it at 0.">
            <i class="fa-solid fa-circle-info"></i>
          </span>
          <label class="form-label">Threshold (&#181;L)</label>
          {{form.threshold}}
        </div>
      </div>

      <div class="col-sm-3 form-width-18">
        <div class="text-center mt-3">
          <label class="form-label">Expiration Date</label>
          {{form.exp_date}}
        </div>
        
        <div class="card  mt-2">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Locations
              <button class="btn btn-primary btn-sm float-end btn-arrow" type="button" data-bs-toggle="collapse" data-bs-target="#ladders-collapse" aria-expanded="false" aria-controls="ladders-collapse">
                ⮝
              </button>
            </li>

            <div class="collapse show" id="ladders-collapse">
              <div class="card-body"> 
                <ul class="list-group">
                  {% for loc in form.location %}
                    <li class="list-group-item">
                      {{loc}}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>

    {% if form.errors %}
    <div class="row text-center mt-2">
      {% for key,value in form.errors.items %} 
      <div class="alert alert-danger" role="alert">
        {{ value|escape }}
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="row justify-content-center mb-2">
      <div class="text-center mt-2">
        <a class="btn btn-secondary" href="{% url 'ladders' %}">Cancel</a>
        <button type="submit" class="btn btn-primary">Add New Ladder</button>
      </div>
    </div>

  </form>
  
</div>

<script>
  $('.btn-arrow').click(function(){
    $(this).text(function(i,old){
      return old=='⮟' ?  '⮝' : '⮟';
    });
  });
</script>
{% endblock %}