{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Add Location {% endblock %} 

{% block content %}
<link rel="stylesheet" href="{% static 'css/global.css' %}">

<div class="container">

  <div class="row justify-content-center">
    <h3 class="text-center">Add New Location</h3>
  </div>

  <form method="POST" action="">
    {% csrf_token %}
    <div class="row justify-content-center">

      <div class="col-sm-3">
        <div class="text-center mx-auto">
          <label class="form-label">Name</label>
          {{form.name}}
        </div>
      </div>

    </div>

    {% if form.errors %}
    <div class="row text-center mt-2">
      {% for key,value in form.errors.items %} 
        {{ value|escape }}
      {% endfor %}
    </div>
    {% endif %}

    <div class="row justify-content-center">
      <div class="text-center mt-2">
        <a class="btn btn-secondary" href="{% url 'locations' %}">Cancel</a>
        <button type="submit" class="btn btn-primary">Add New Location</button>
      </div>
    </div>
  </form>

</div>

{% endblock %}