{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Add Reagent {% endblock %} 

{% block content %}

<link rel="stylesheet" href="{% static 'css/create_reagent.css' %}">

<div class="container-fluid">

  <div class="row justify-content-center">
    <h3 class="text-center">Add New Reagent</h3>
  </div>

  <form method="POST" action="">
    {% csrf_token %}

    <div class="text-center w-25 mx-auto">
      <label class="form-label">Usage</label>
      {{form.usage}}
    </div>

    <div class="text-center w-25 mx-auto">
      <label class="form-label">Name</label>
      {{form.name}}
    </div>

    <div class="text-center w-25 mx-auto">
      <label class="form-label">Brand</label>
      {{form.brand}}
    </div>

    <div class="text-center w-25 mx-auto">
      <label class="form-label">Lot Number</label>
      {{form.lot_number}}
    </div>

    <div class="text-center w-25 mx-auto">
      <label class="form-label">Catalog Number</label>
      {{form.catalog_number}}
    </div>

    <div class="text-center w-25 mx-auto">
      <label class="form-label">PCR Water?</label>
      {{form.is_pcr_water}}
    </div>

    <div class="text-center w-25 mx-auto">
      <label class="form-label">Volume</label>
      {{form.volume}}
    </div>

    <div class="text-center w-25 mx-auto">
      <label class="form-label">Volume Unit</label>
      {{form.unit_volume}}
    </div>

    <div class="text-center w-25 mx-auto">
      <label class="form-label">Stock Concentration</label>
      {{form.stock_concentration}}
    </div>

    <div class="text-center w-25 mx-auto">
      <label class="form-label">Concentration Unit</label>
      {{form.unit_concentration}}
    </div>
    
    <div class="row justify-content-center mt-2">
      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Locations
            <button class="btn btn-primary btn-sm float-end" type="button" data-bs-toggle="collapse" data-bs-target="#reagents-collapse" aria-expanded="false" aria-controls="reagents-collapse">
              ⮟
            </button>
          </li>

          <div class="collapse" id="reagents-collapse">
            {% for loc in form.location %}
              <li class="list-group-item">
                {{loc}}
              </li>
            {% endfor %}
          </div>
        </ul>
      </div>
    </div>

    <div class="text-center mt-2"> 
      <input class="btn btn-primary mt-2" type="Submit" value="Add New Reagent">
    </div>

  </form>

</div>

{% endblock %}