{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Add Gel {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="row justify-content-center">
    <h3 class="text-center">{{dye.name}}</h3>
    <h6 class="text-center">Added on {{dye.date_created}}</h6>
    <p class="text-center"><a href="{% url 'inventory_guide' %}" target="_blank" class="text-center">Inventory Guide</a></p>
  </div>

  <form method="POST" action="">
    {% csrf_token %}
    <div class="row justify-content-center mb-2">

      <div class="col-sm-3 form-width-18">
        <div class="text-center mt-3">
          <label class="form-label">Name</label>
          {{form.name}}
        </div>

        <div class="text-center mt-3">
          <label class="form-label">Brand</label>
          {{form.brand}}
        </div>

        <div class="text-center mt-3">
          <label class="form-label">Lot Number</label>
          {{form.lot_number}}
        </div>
      </div>

      <div class="col-sm-3 form-width-18">
        <div class="text-center mt-3">
          <label class="form-label">Catalog Number</label>
          {{form.catalog_number}}
        </div>

        <div class="text-center mt-3">
          <label class="form-label">Amount Stored (&#181;L)</label>
          {{form.amount}}
        </div>

        <div class="text-center mt-3">
          <span class="d-inline-block float-start" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right" data-bs-content="Set the amount of dye (in microliters) that you wish to maintain in your lab. Otherwise, leave it at 0.">
            <i class="fa-solid fa-circle-info"></i>
          </span>
          <label class="form-label">Threshold (&#181;L)</label>
          {{form.threshold}}
        </div>
      </div>

      <div class="col-sm-3 form-width-18">
        <div class="text-center mb-2 mt-3">
          <label class="form-label">Expiration Date</label>
          {{form.exp_date}}
        </div>
        
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Locations
              <button class="btn btn-primary btn-sm float-end btn-arrow" type="button" data-bs-toggle="collapse" data-bs-target="#dyes-collapse" aria-expanded="false" aria-controls="dyes-collapse">
                ⮝
              </button>
            </li>

            <div class="collapse show" id="dyes-collapse">
              <div class="card-body"> 
                <ul class="list-group">
                  {% for loc in form.location %}
                    <li class="list-group-item">
                      {{loc}}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>

    {% if form.errors %}
    <div class="row text-center mt-2">
      {% for key,value in form.errors.items %} 
      <div class="alert alert-danger" role="alert">
        {{ value|escape }}
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="row justify-content-center">
      <div class="text-center mt-2">
        <a class="btn btn-secondary" href="{% url 'dyes' %}">Cancel</a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">
          Delete Plate
        </button>
        <button type="submit" class="btn btn-primary" name='update'>Update dye</button>
      </div>

      {% if dye.merged_lot_numbers|length > 0 %}
      <div class="col-sm-3 form-width-18">
        <span class="d-inline-block float-start mt-3" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right" data-bs-content="You have merged this item with the following lot numbers.">
          <i class="fa-solid fa-circle-info"></i>
        </span>
        <div class="text-center mt-3">
          <label class="form-label">Merged Lot Numbers</label>
        </div>
        <ul class="list-group">
          {% for lot in dye.merged_lot_numbers %}
          <li class="list-group-item">{{lot}}<a hx-confirm="Are you sure you want to remove lot# {{lot}} from {{dye}}? " hx-on::after-request="this.parentNode.remove()" class="btn btn-danger btn-sm float-end" hx-post="{% url 'remove_dye_lot_number' dye.pk lot %}" role="button"><i class="fa-regular fa-square-minus"></i></a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

    </div>

  </form>

  {% if dye.assay_set.all %}
  <div class="row justify-content-center mt-3">
    <h4 class="text-center">Correlations</h4>

    <div class="col-sm-6">
      
      <div class="table-responsive">
        <table class="table table-bordered table-hover">

          <thead>
            <tr>
              <th scope="col" class="col-sm-3">Assays</th>
            </tr>
          </thead>

          <tbody>
            {% for assay in dye.assay_set.all %}
            <tr class="link-row" data-href="{% url 'edit_assay' assay.pk %}">
              <td>{{assay.name}}</td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>

    </div>
  </div>
  {% endif %}
  
  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Deleting dye...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="container-sm">

            <div class="row justify-content-center">
              <h5 class="text-center">Are you sure?</h5>
            </div>
            
            <div class="row justify-content-center">
              <div class="col-sm-8">
                <form method="POST" action="">
                  {% csrf_token %}
            
                  <div class="text-center mx-auto">
                    <label class="form-label">Enter: "{{dye.name}}" &amp; Confirm</label>
                    {{del_form.confirm}}
                  </div>

                  {% if del_form.errors %}
                  <div class="row text-center mt-2">
                    {% for key,value in del_form.errors.items %} 
                    <div class="alert alert-danger" role="alert">
                      {{ value|escape }}
                    </div>
                    {% endfor %}
                  </div>
                  {% endif %}
            
                  <div class="text-center mt-2">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" name="delete">Confirm</button>
                  </div>
                </form>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
  
</div>

<script>
  $('.btn-arrow').click(function(){
    $(this).text(function(i,old){
      return old=='⮟' ?  '⮝' : '⮟';
    });
  });

  jQuery(document).ready(function($) {
    $(".link-row").click(function() {
        window.location = $(this).data("href");
    });
  });
</script>
{% endblock %}