{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Edit Reagent {% endblock %} 

{% block content %}

<link rel="stylesheet" href="{% static 'css/create_reagent.css' %}">

<div class="container-fluid">

  {% for message in messages %}
  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h5 class="messages">{{ message }}</h5>
    </div>
  </div>
  {% endfor %}

  <div class="row justify-content-center">
    <h3 class="text-center">Updating: {{reagent.name}}</h3>
  </div>

  <form method="POST" action="">
    {% csrf_token %}

    <div class="text-center w-25 mx-auto">
      <label class="form-label">Usage</label>
      {{form.usage}}
    </div>

    <div class="text-center w-25 mx-auto">
      <label class="form-label">Name</label>
      {{form.name}}
    </div>

    <div class="text-center w-25 mx-auto">
      <label class="form-label">Brand</label>
      {{form.brand}}
    </div>

    <div class="text-center w-25 mx-auto">
      <label class="form-label">Lot Number</label>
      {{form.lot_number}}
    </div>

    <div class="text-center w-25 mx-auto">
      <label class="form-label">Catalog Number</label>
      {{form.catalog_number}}
    </div>

    <div class="text-center w-25 mx-auto">
      <label class="form-label">PCR Water?</label>
      {{form.is_pcr_water}}
    </div>

    <div class="text-center w-25 mx-auto">
      <label class="form-label">Volume</label>
      {{form.volume}}
    </div>

    <div class="text-center w-25 mx-auto">
      <label class="form-label">Volume Unit</label>
      {{form.unit_volume}}
    </div>

    <div class="text-center w-25 mx-auto">
      <label class="form-label">Stock Concentration</label>
      {{form.stock_concentration}}
    </div>

    <div class="text-center w-25 mx-auto">
      <label class="form-label">Concentration Unit</label>
      {{form.unit_concentration}}
    </div>

    <div class="text-center w-25 mx-auto">
      <label class="form-label">Expiration Date</label>
      {{form.exp_date}}
    </div>
    
    <div class="row justify-content-center mt-2">
      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Locations
            <button class="btn btn-primary btn-sm float-end btn-arrow" type="button" data-bs-toggle="collapse" data-bs-target="#reagents-collapse" aria-expanded="false" aria-controls="reagents-collapse">
              ⮟
            </button>
          </li>

          <div class="collapse" id="reagents-collapse">
            <div class="card-body"> 
              <ul class="list-group">
                {% for loc in form.location %}
                  <li class="list-group-item">
                    {{loc}}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </ul>
      </div>
    </div>

    <div class="text-center mt-2"> 
      <button class="btn btn-primary" type="submit" name="update">Update Reagent</button>
    </div>

  </form>

  <div class="justify-content-center">
    <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#delete-modal">
        Delete Location
      </button>
    </div>
  </div>

  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Deleting reagent...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="container-sm">

            <div class="row justify-content-center">
              <h5 class="text-center">Are you sure?</h5>
            </div>
            
            <div class="row justify-content-center">
              <form method="POST" action="">
                {% csrf_token %}
          
                <div class="text-center mx-auto">
                  <label class="form-label">Enter: "{{reagent.name}}" &amp; Confirm</label>
                  {{del_form.confirm}}
                </div>
          
                <div class="text-center mt-2">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary" name="delete">Confirm</button>
                </div>
              </form>
            </div>

          </div>

        </div>
       
      </div>
    </div>
  </div>

  <script>
    $('.btn-arrow').click(function(){
      $(this).text(function(i,old){
          return old=='⮝' ?  '⮟' : '⮝';
      });
    });
  </script>

</div>

{% endblock %}