{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Update Location {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="row justify-content-center">
    <h3 class="text-center">{{location.name}}</h3>
    <p class="text-center"><a href="{% url 'inventory_guide' %}" target="_blank" class="text-center">Inventory Guide</a></p>
  </div>

  <form method="POST" action="">
    {% csrf_token %}
    <div class="row justify-content-center">

      <div class="col-sm-3 form-width-18">
        <div class="text-center mt-3">
          <span class="d-inline-block float-start" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right" data-bs-content="Name of storage location, temperature, purpose, etc...">
            <i class="fa-solid fa-circle-info"></i>
          </span>
          <label class="form-label">Name</label>
          {{form.name}}
        </div>
      </div>

    </div>

    {% if form.errors %}
    <div class="row text-center mt-2">
      {% for key,value in form.errors.items %} 
      <div class="alert alert-danger" role="alert">
        {{ value|escape }}
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <div class="row justify-content-center mt-2 mb-2">
      <div class="text-center">
        <a class="btn btn-secondary" href="{% url 'locations' %}">Cancel</a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">
          Delete Location
        </button>
        <button type="submit" class="btn btn-primary" name="update">Update Location</button>
      </div>
    </div>

  </form>

  <div class="row justify-content-center">

    <div class="col">

      {% if location.plate_set.all %}
      <h5 class="text-center">Plates</h5>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">

          <thead>
            <tr>
              <th scope="col">Exp. Date</th>
              <th scope="col">Last Updated</th>
              <th scope="col">Name</th>
              <th scope="col">Brand</th>
              <th scope="col">Amount</th>
              <th scope="col">Size</th>
              <th scope="col">Lot Number</th>
              <th scope="col">Cat. Number</th>
            </tr>
          </thead>

          <tbody>
            {% for plate in location.plate_set.all %}
            <tr class="batch-row" data-href="{% url 'edit_plate' plate.pk %}">
              <td>{{plate.exp_date}}</td>
              <td>{{plate.last_updated}}</td>
              <td>{{plate.name}}</td>
              <td>{{plate.brand}}</td>
              <td>{{plate.amount}}</td>
              <td>{{plate.size}}</td>
              <td>{{plate.lot_number}}</td>
              <td>{{plate.catalog_number}}</td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
      {% endif %}

      {% if location.tube_set.all %}
      <h5 class="text-center">Tubes</h5>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">

          <thead>
            <tr>
              <th scope="col">Exp. Date</th>
              <th scope="col">Last Updated</th>
              <th scope="col">Name</th>
              <th scope="col">Brand</th>
              <th scope="col">Amount</th>
              <th scope="col">Lot Number</th>
              <th scope="col">Cat. Number</th>
            </tr>
          </thead>

          <tbody>
            {% for tube in location.tube_set.all %}
            <tr class="batch-row" data-href="{% url 'edit_tube' tube.pk %}">
              <td>{{tube.exp_date}}</td>
              <td>{{tube.last_updated}}</td>
              <td>{{tube.name}}</td>
              <td>{{tube.brand}}</td>
              <td>{{tube.amount}}</td>
              <td>{{tube.lot_number}}</td>
              <td>{{tube.catalog_number}}</td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
      {% endif %}

      {% if location.reagent_set.all %}
      <h5 class="text-center">Reagents</h5>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">

          <thead>
            <tr>
              <th scope="col">Exp. Date</th>
              <th scope="col">Last Updated</th>
              <th scope="col">Name</th>
              <th scope="col">Brand</th>
              <th scope="col">Catalog #</th>
              <th scope="col">Lot #</th>
              <th scope="col">Volume</th>
              <th scope="col">Concentration</th>
            </tr>
          </thead>

          <tbody>
            {% for reagent in location.reagent_set.all %}
            <tr class="batch-row" data-href="{% url 'edit_reagent' reagent.pk %}">
              <td>{{reagent.exp_date}}</td>
              <td>{{reagent.last_updated}}</td>
              <td>{{reagent.name}}</td>
              <td>{{reagent.brand}}</td>
              <td>{{reagent.catalog_number}}</td>
              <td>{{reagent.lot_number}}</td>
              <td>{{reagent.volume}} {{reagent.unit_volume}}</td>
              <td>
                {% if reagent.stock_concentration %}
                {{reagent.stock_concentration}} {{reagent.unit_concentration}}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
      {% endif %}

      {% if location.control_set.all %}
      <h5 class="text-center">Controls</h5>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">

          <thead>
            <tr>
              <th scope="col">Exp. Date</th>
              <th scope="col">Last Updated</th>
              <th scope="col">Name</th>
              <th scope="col">Brand</th>
              <th scope="col">Catalog #</th>
              <th scope="col">Lot #</th>
              <th scope="col">Amount Stored (μL)</th>
            </tr>
          </thead>

          <tbody>
            {% for control in location.control_set.all %}
            <tr class="batch-row" data-href="{% url 'edit_control' control.pk %}">
              <td>{{control.exp_date}}</td>
              <td>{{control.last_updated}}</td>
              <td>{{control.name}}</td>
              <td>{{control.brand}}</td>
              <td>{{control.catalog_number}}</td>
              <td>{{control.lot_number}}</td>
              <td>{{control.amount}}</td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
      {% endif %}

    </div>

  </div>

  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Deleting location...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="container-sm">

            <div class="row justify-content-center">
              <h5 class="text-center">Are you sure?</h5>
            </div>
            
            <div class="row justify-content-center">
              <div class="col-sm-8">
                <form method="POST" action="">
                  {% csrf_token %}
            
                  <div class="text-center mx-auto">
                    <label class="form-label">Enter: "{{location.name}}" &amp; Confirm</label>
                    {{del_form.confirm}}
                  </div>

                  {% if del_form.errors %}
                  <div class="row text-center mt-2">
                    {% for key,value in del_form.errors.items %} 
                    <div class="alert alert-danger" role="alert">
                      {{ value|escape }}
                    </div>
                    {% endfor %}
                  </div>
                  {% endif %}
            
                  <div class="text-center mt-2">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" name="delete">Confirm</button>
                  </div>
                </form>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<script>
  jQuery(document).ready(function($) {
    $(".batch-row").click(function() {
        window.location = $(this).data("href");
    });
  });
</script>
{% endblock %}