{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Update Location {% endblock %} 

{% block content %}

<link rel="stylesheet" href="{% static 'css/edit_location.css' %}">

<div class="container-fluid">

  <div class="row justify-content-center">
    <h3 class="text-center">Updating: {{location.name}}</h3>
  </div>

  <form method="POST" action="">
    {% csrf_token %}

    <div class="text-center w-25 mx-auto">
      <label class="form-label">Name</label>
      {{form.name}}
    </div>

    <div class="text-center mt-2">
      <button type="submit" class="btn btn-primary" name="update">Update Location</button>
    </div>

  </form>

  <div class="col d-flex justify-content-center">
    <a href="{% url 'delete_location' request.user.username location.pk%}">
    <button type="button" class="btn btn-danger mt-2">
      Delete Location
    </button>
    </a>
  </div>

  {% comment %} <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Deleting location...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="row justify-content-center">
            <h5 class="text-center">Deleting this may affect...</h5>
          </div>

          <div class="text-center mx-auto">
            <label class="form-label">Enter Location Name: "{{location.name}}"</label>
          </div>

          <div class="text-center mx-auto">
            <input type="text" id="confirm-del">
          </div>
      
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" id="delete-button" name="delete">Confirm</button>
        </div>
      </div>
    </div>
  </div> {% endcomment %}

  {% comment %} <script>
    const confirmInput = document.getElementById("confirm-del")
    const delButton = document.getElementById("delete-button");
  
    function del() {
      locName = '{{location.name}}'
      if (confirmInput.value === locName) {
        window.location.href = "{% url 'delete_location' request.user.username location.pk %}"
      } else {
        alert("Invalid location name entered, please try again.")
      }
    }
  
    delButton.addEventListener("click", del);
  
  </script> {% endcomment %}

</div>

{% endblock %}