{% extends "base.html" %} 

{% load static %}

{% block title %} Gels {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="row justify-content-center">
    <h3 class="text-center">Gels</h3>
    <p class="text-center"><a href="{% url 'inventory_guide' %}" target="_blank" class="text-center">Inventory Guide</a></p>
  </div>

  {% for message in messages %}
  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h5 class="messages">{{ message }}</h5>
    </div>
  </div>
  {% endfor %}

  <div class="row mt-3">
    <div class="col d-flex justify-content-center"> 
      <a href="{% url 'create_gel' %}">
        <button type="button" class="btn btn-primary mb-2">Add New Gel</button>
      </a>
    </div>
  </div>

  <form class="row gx-3 gy-2 align-items-center justify-content-center mb-2" method="GET" action="">
    <div class="col-sm-4">
      <div class="input-group">
        <div class="input-group-text">Name/Brand/Catalog#/Lot#</div>
        {{form.text_search}}
      </div>
    </div>
    <div class="col-sm-2">
      <div class="input-group">
        <div class="input-group-text">Size</div>
        {{form.size}}
      </div>
    </div>
    <div class="col-sm-3">
      <div class="input-group">
        <div class="input-group-text">Location</div>
        {{form.location}}
      </div>
    </div>
    <div class="col-auto">
      <a class="btn btn-secondary me-1" href="{% url 'gels' %}" role="button">Clear</a>
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Exp. Date</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Name</th>
          <th scope="col">Brand</th>
          <th scope="col">Catalog #</th>
          <th scope="col">Lot #</th>
          <th scope="col">Wells</th>
          <th scope="col">Amount Stored</th>
          <th scope="col">Location</th>
        </tr>
      </thead>

      <tbody>
        {% for gel in page_obj %}
          <tr class="plate-row {% if gel.is_expired %} table-danger {% endif %} {% if gel.month_exp %} table-warning {% endif %}" data-href="{% url 'edit_gel' gel.pk %}">
            <td>{{gel.exp_date}} {% if gel.is_expired %} (EXPIRED) {% endif %} {% if gel.month_exp %} (&#60;1 MONTH TILL EXP) {% endif %}</td>
            <td>{{gel.last_updated}}</td>
            <td>{% if gel.process_set.count > 0 %} <i class="fa-solid fa-mortar-pestle"></i> {% endif %} {{gel.name}}</td>
            <td>{{gel.brand}}</td>
            <td>{{gel.catalog_number}}</td>
            <td>{% if gel.merged_lot_numbers|length > 0 %} <i class="fa-solid fa-cubes-stacked"></i> {% endif %} {{gel.lot_number}}</td>
            <td>{{gel.size}}</td>
            <td>{{gel.amount}}</td>
            
            <td>
              {% for location in gel.location.all %}
                <span class="badge text-bg-info">
                  {{location}}
                </span>
              {% endfor %}
            </td>

          </tr>
        {% endfor %}
      </tbody>

    </table>

    <div class="d-flex justify-content-center">
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page=1">⮜⮜ First</a>
            <a href="?page={{ page_obj.previous_page_number }}">⮜</a>
          {% endif %}
  
          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>
  
          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">⮞</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last ⮞⮞</a>
          {% endif %}
        </span>
      </div>
    </div>
    
  </div>

</div>

<script>
  jQuery(document).ready(function($) {
    $(".plate-row").click(function() {
        window.location = $(this).data("href");
    });
  });
</script>

{% endblock %}