{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                         
{% block title %} Locations {% endblock %} 

{% block content %}

<link rel="stylesheet" href="{% static 'css/extraction_protocols.css' %}">

<div class="container">

  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h3 class="text-center">Locations</h3>
    </div>
  </div>

  <div class="justify-content-center">
    <div class="col d-flex justify-content-center">
      <a href="{% url 'create_location' %}">
        <button type="button" class="btn btn-primary">
          Create New Location
        </button>
      </a>
    </div>
  </div>

  <div class="row">
    {% for location in locations %}
    <div class="col mt-2">
     
       <div class="card">
        <div class="card-header">
          {{location.name}}
        </div>
        <ul class="list-group list-group-flush">
          {% if location.plate_set.all %}
          <li class="list-group-item"> Plates
            <button type="button" class="btn btn-primary btn-sm float-right btn-arrow" data-toggle="collapse" data-target="#{{location.pk}}-plates-collapse">
              ⮟
            </button>

            <div class="collapse" id="{{location.pk}}-plates-collapse">
              <div class="card-body"> 
                <ul class="list-group">
                  {% for plate in location.plate_set.all %}
                  <li class="list-group-item">{{plate}}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>

          </li>
          {% endif %}
          {% if location.tube_set.all %}
          <li class="list-group-item"> Tubes
            <button type="button" class="btn btn-primary btn-sm float-right btn-arrow" data-toggle="collapse" data-target="#{{location.pk}}-tubes-collapse">
              ⮟
            </button>

            <div class="collapse" id="{{location.pk}}-tubes-collapse">
              <div class="card-body"> 
                <ul class="list-group">
                  {% for tube in location.tube_set.all %}
                  <li class="list-group-item">{{tube}}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>

          </li>
          {% endif %}
          {% if location.reagent_set.all %}
          <li class="list-group-item"> Reagents
            <button type="button" class="btn btn-primary btn-sm float-right btn-arrow" data-toggle="collapse" data-target="#{{location.pk}}-reagents-collapse">
              ⮟
            </button>

            <div class="collapse" id="{{location.pk}}-reagents-collapse">
              <div class="card-body"> 
                <ul class="list-group">
                  {% for reagent in location.reagent_set.all %}
                  <li class="list-group-item">{{reagent}}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>

          </li>
          {% endif %}
        </ul>
        <div class="card-body">
          <a href="{% url 'edit_location' request.user.username location.pk %}" class="card-link">Edit Assay</a>
        </div>
      </div>

    </div>
    {% endfor %}
  </div>

  <script>
    $('.btn-arrow').click(function(){
      $(this).text(function(i,old){
        return old=='⮝' ?  '⮟' : '⮝';
      });
    });
  </script>

</div>


{% endblock %}