{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Mergeable Items {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="row justify-content-center">
    <h3 class="text-center">Mergeable Items</h3>
  </div>

  {% if mergeable_ladders %}
  <div class="table-responsive">
    <h5 class="text-center">Mergeable Ladders</h5>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Exp. Date</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Name</th>
          <th scope="col">Brand</th>
          <th scope="col">Catalog #</th>
          <th scope="col">Lot #</th>
          <th scope="col">Amount Stored (µL)</th>
          <th scope="col">Location(s)</th>
        </tr>
      </thead>

      <tbody>
        {% for ladders in mergeable_ladders %}
          {% for ladder in ladder.sets %}
          <tr class="link-row {{ladders.color}} {% if ladder.is_expired %} table-danger {% endif %} {% if ladder.month_exp %} table-warning {% endif %}" data-href="{% url 'merge_ladder' ladder.pk %}">
            <td>{{ladder.exp_date}} {% if ladder.is_expired %} (EXPIRED) {% endif %} {% if ladder.month_exp %} (&#60;1 MONTH TILL EXP) {% endif %}</td>
            <td>{{ladder.last_updated}}</td>
            <td>{% if ladder.assay_set.count > 0 %} <i class="fa-solid fa-mortar-pestle"></i> {% endif %} {{ladder.name}}</td>
            <td>{{ladder.brand}}</td>
            <td>{{ladder.catalog_number}}</td>
            <td>{{ladder.lot_number}}</td>
            <td>{{ladder.amount}}</td>
            
            <td>
              {% for location in ladder.location.all %}
                <span class="badge text-bg-info">
                  {{location}}
                </span>
              {% endfor %}
            </td>

          </tr>
          {% endfor %}
        {% endfor %}
      </tbody>

    </table>
  </div>
  {% endif %}

  {% if mergeable_dyes %}
  <div class="table-responsive">
    <h5 class="text-center">Mergeable Dyes</h5>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Exp. Date</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Name</th>
          <th scope="col">Brand</th>
          <th scope="col">Catalog #</th>
          <th scope="col">Lot #</th>
          <th scope="col">Amount Stored (µL)</th>
          <th scope="col">Location(s)</th>
        </tr>
      </thead>

      <tbody>
        {% for dyes in mergeable_dyes %}
          {% for dye in dyes.sets %}
          <tr class="link-row {{dyes.colors}} {% if dye.is_expired %} table-danger {% endif %} {% if dye.month_exp %} table-warning {% endif %}" data-href="{% url 'merge_dye' dye.pk %}">
            <td>{{dye.exp_date}} {% if dye.is_expired %} (EXPIRED) {% endif %} {% if dye.month_exp %} (&#60;1 MONTH TILL EXP) {% endif %}</td>
            <td>{{dye.last_updated}}</td>
            <td>{% if dye.assay_set.count > 0 %} <i class="fa-solid fa-mortar-pestle"></i> {% endif %} {{dye.name}}</td>
            <td>{{dye.brand}}</td>
            <td>{{dye.catalog_number}}</td>
            <td>{{dye.lot_number}}</td>
            <td>{{dye.amount}}</td>
            
            <td>
              {% for location in dye.location.all %}
                <span class="badge text-bg-info">
                  {{location}}
                </span>
              {% endfor %}
            </td>

          </tr>
          {% endfor %}
        {% endfor %}
      </tbody>

    </table>
  </div>
  {% endif %}

  {% if mergeable_plates %}
  <div class="table-responsive">
    <h5 class="text-center">Mergeable Plates</h5>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Exp. Date</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Name</th>
          <th scope="col">Brand</th>
          <th scope="col">Catalog #</th>
          <th scope="col">Lot #</th>
          <th scope="col">Size</th>
          <th scope="col">Type</th>
          <th scope="col">Amount Stored</th>
          <th scope="col">Location(s)</th>
        </tr>
      </thead>

      <tbody>
        {% for plates in mergeable_plates %}
          {% for plate in plates.sets %}
          <tr class="link-row {{plates.color}} {% if plate.is_expired %} table-danger {% endif %} {% if plate.month_exp %} table-warning {% endif %}" data-href="{% url 'merge_plate' plate.pk %}">
            <td>{{plate.exp_date}} {% if plate.is_expired %} (EXPIRED) {% endif %} {% if plate.month_exp %} (&#60;1 MONTH TILL EXP) {% endif %}</td>
            <td>{{plate.last_updated}}</td>
            <td>{% if plate.process_set.count > 0 %} <i class="fa-solid fa-mortar-pestle"></i> {% endif %} {{plate.name}}</td>
            <td>{{plate.brand}}</td>
            <td>{{plate.catalog_number}}</td>
            <td>{{plate.lot_number}}</td>
            <td>{{plate.size}}</td>
            <td>{{plate.type}}</td>
            <td>{{plate.amount}}</td>
            
            <td>
              {% for location in plate.location.all %}
                <span class="badge text-bg-info">
                  {{location}}
                </span>
              {% endfor %}
            </td>

          </tr>
          {% endfor %}
        {% endfor %}
      </tbody>

    </table>
  </div>
  {% endif %}

  {% if mergeable_gels %}
  <div class="table-responsive">
    <h5 class="text-center">Mergeable Gels</h5>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Exp. Date</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Name</th>
          <th scope="col">Brand</th>
          <th scope="col">Catalog #</th>
          <th scope="col">Lot #</th>
          <th scope="col">Wells</th>
          <th scope="col">Amount Stored</th>
          <th scope="col">Location(s)</th>
        </tr>
      </thead>

      <tbody>
        {% for gels in mergeable_gels %}
          {% for gel in gels.sets %}
          <tr class="link-row {{gels.color}} {% if gel.is_expired %} table-danger {% endif %} {% if gel.month_exp %} table-warning {% endif %}" data-href="{% url 'merge_gel' gel.pk %}">
            <td>{{gel.exp_date}} {% if gel.is_expired %} (EXPIRED) {% endif %} {% if gel.month_exp %} (&#60;1 MONTH TILL EXP) {% endif %}</td>
            <td>{{gel.last_updated}}</td>
            <td>{% if gel.process_set.count > 0 %} <i class="fa-solid fa-mortar-pestle"></i> {% endif %} {{gel.name}}</td>
            <td>{{gel.brand}}</td>
            <td>{{gel.catalog_number}}</td>
            <td>{{gel.lot_number}}</td>
            <td>{{gel.size}}</td>
            <td>{{gel.amount}}</td>
            
            <td>
              {% for location in gel.location.all %}
                <span class="badge text-bg-info">
                  {{location}}
                </span>
              {% endfor %}
            </td>

          </tr>
          {% endfor %}
        {% endfor %}
      </tbody>

    </table>
  </div>
  {% endif %}

  {% if mergeable_tubes %}
  <div class="table-responsive">
    <h5 class="text-center">Mergeable Tubes</h5>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Exp. Date</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Name</th>
          <th scope="col">Brand</th>
          <th scope="col">Catalog #</th>
          <th scope="col">Lot #</th>
          <th scope="col">Amount Stored</th>
          <th scope="col">Location(s)</th>
        </tr>
      </thead>

      <tbody>
        {% for tubes in mergeable_tubes %}
          {% for tube in tubes.sets %}
          <tr class="link-row {{tubes.color}} {% if tube.is_expired %} table-danger {% endif %} {% if tube.month_exp %} table-warning {% endif %}" data-href="{% url 'merge_tube' tube.pk %}">
            <td>{{tube.exp_date}} {% if tube.is_expired %} (EXPIRED) {% endif %} {% if tube.month_exp %} (&#60;1 MONTH TILL EXP) {% endif %} </td>
            <td>{{tube.last_updated}}</td>
            <td>{% if tube.extractionprotocol_set.count > 0 %} <i class="fa-solid fa-mortar-pestle"></i> {% endif %} {{tube.name}}</td>
            <td>{{tube.brand}}</td>
            <td>{{tube.catalog_number}}</td>
            <td>{{tube.lot_number}}</td>
            <td>{{tube.amount}}</td>

            <td>
              {% for location in tube.location.all %}
                <span class="badge text-bg-info">
                  {{location}}
                </span>
              {% endfor %}
            </td>

          </tr>
          {% endfor %}
        {% endfor %}
      </tbody>

    </table>
  </div>
  {% endif %}

  {% if mergeable_reagents %}
  <div class="table-responsive">
    <h5 class="text-center">Mergeable Reagents</h5>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Exp. Date</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Name</th>
          <th scope="col">Brand</th>
          <th scope="col">Catalog #</th>
          <th scope="col">Lot #</th>
          <th scope="col">Volume</th>
          <th scope="col">Concentration</th>
          <th scope="col">Location(s)(s)</th>
        </tr>
      </thead>

      <tbody>
        {% for reagents in mergeable_reagents %}
          {% for reagent in reagents.sets %}
          <tr class="link-row {{reagents.color}} {% if reagent.is_expired %} table-danger {% endif %} {% if reagent.month_exp %} table-warning {% endif %}" data-href="{% url 'merge_reagent' reagent.pk %}">
            <td>{{reagent.exp_date}} {% if reagent.is_expired %} (EXPIRED) {% endif %} {% if reagent.month_exp %} (&#60;1 MONTH TILL EXP) {% endif %}</td>
            <td>{{reagent.last_updated}}</td>
            <td>{% if reagent.extractionprotocol_set.count > 0 or reagent.assay_set.count > 0 %} <i class="fa-solid fa-mortar-pestle"></i> {% endif %} {{reagent.name}}</td>
            <td>{{reagent.brand}}</td>
            <td>{{reagent.catalog_number}}</td>
            <td>{{reagent.lot_number}}</td>
            <td>{{reagent.volume}} {{reagent.unit_volume}}</td>
            <td>
              {% if reagent.stock_concentration %}
              {{reagent.stock_concentration}} {{reagent.unit_concentration}}
              {% endif %}
            </td>

            <td>
              {% for location in reagent.location.all %}
                <span class="badge text-bg-info">
                  {{location}}
                </span>
              {% endfor %}
            </td>

          </tr>
          {% endfor%}
        {% endfor %}
      </tbody>

    </table>
  </div>
  {% endif %}

  {% if mergeable_controls %}
  <div class="table-responsive">
    <h5 class="text-center">Mergeable Controls</h5>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Exp. Date</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Name</th>
          <th scope="col">Brand</th>
          <th scope="col">Catalog #</th>
          <th scope="col">Lot #</th>
          <th scope="col">Amount Stored (μL)</th>
          <th scope="col">Location(s)</th>
        </tr>
      </thead>

      <tbody>
        {% for controls in mergeable_controls %}
          {% for control in controls.sets%}
          <tr class="link-row {{controls.color}} {% if control.is_expired %} table-danger {% endif %} {% if control.month_exp %} table-warning {% endif %}" data-href="{% url 'merge_control' control.pk %}">
            <td>{{control.exp_date}} {% if control.is_expired %} (EXPIRED) {% endif %} {% if control.month_exp %} (&#60;1 MONTH TILL EXP) {% endif %}</td>
            <td>{{control.last_updated}}</td>
            <td>{% if control.assay_set.count > 0 %} <i class="fa-solid fa-mortar-pestle"></i> {% endif %} {{control.name}}</td>
            <td>{{control.brand}}</td>
            <td>{{control.catalog_number}}</td>
            <td>{{control.lot_number}}</td>
            <td>{{control.amount}}</td>

            <td>
              {% for location in control.location.all %}
                <span class="badge text-bg-info">
                  {{location}}
                </span>
              {% endfor %}
            </td>

          </tr>
          {% endfor %}
        {% endfor %}
      </tbody>

    </table>
  </div>
  {% endif %}

</div>

<script>
  jQuery(document).ready(function($) {
    $(".link-row").click(function() {
        window.location = $(this).data("href");
    });
  });
</script>
{% endblock %}