<tr class="reagent-row {% if reagent.is_expired %} table-danger {% endif %} {% if reagent.month_exp or reagent.threshold_diff <= 0 %} table-warning {% endif %}" data-href="{% url 'edit_reagent' reagent.pk %}">
  <td>
    {% if not reagent.exp_date %} <span class="badge text-bg-warning">No Exp</span> {% else %} <span class="badge text-bg-success">Exp</span> {% endif %} 
    {% if not reagent.threshold %} <span class="badge text-bg-warning">No Threshold</span> {% else %} <span class="badge text-bg-success">Threshold</span> {% endif %} 
  </td>
  <td>{{reagent.exp_date}} {% if reagent.is_expired %} (EXPIRED) {% endif %} {% if reagent.month_exp %} (&#60;1 MONTH TILL EXP) {% endif %}</td>
  <td>{{reagent.last_updated}}</td>
  <td>{% if reagent.extractionprotocol_set.count > 0 or reagent.assay_set.count > 0 %} <i class="fa-solid fa-mortar-pestle"></i> {% endif %} {{reagent.name}} {% if reagent.threshold_diff <= 0 %} (LOW) {% endif %}</td>
  <td>{{reagent.brand}}</td>
  <td>{{reagent.catalog_number}}</td>
  <td>{% if reagent.merged_lot_numbers|length > 0 %} <i class="fa-solid fa-cubes-stacked"></i> {% endif %} {{reagent.lot_number}}</td>
  <td>{{reagent.volume}} {{reagent.unit_volume}}</td>
  <td>
    {% if reagent.stock_concentration %}
    {{reagent.stock_concentration}} {{reagent.unit_concentration}}
    {% endif %}
  </td>

  <td>
    {% for location in reagent.location.all %}
      <span class="badge text-bg-info">
        {{location}}
      </span>
    {% endfor %}
  </td>

</tr>

<script>
  jQuery(document).ready(function($) {
    $(".reagent-row").click(function() {
        window.location = $(this).data("href");
    });
  });
</script>