{% extends "base.html" %} 

{% load static %}

{% block title %} Reagents {% endblock %} 

{% block content %}
<div class="container">

  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h3 class="text-center">Reagents</h3>
    </div>
  </div>

  {% for message in messages %}
  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h5 class="messages">{{ message }}</h5>
    </div>
  </div>
  {% endfor %}

  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <a href="{% url 'create_reagent'%}">
        <button type="button" class="btn btn-primary mb-2">Add New Reagents</button>
      </a>
    </div>
  </div>

  <form class="row gx-3 gy-2 align-items-center justify-content-center mb-2" method="POST" action="">
    {% csrf_token %}
    <div class="col-sm-3">
      <div class="input-group">
        <div class="input-group-text">Usage</div>
        {{form.usage}}
      </div>
    </div>
    <div class="col-sm-3">
      <div class="input-group">
        <div class="input-group-text">PCR Reagent</div>
        {{form.pcr_reagent}}
      </div>
    </div>
    <div class="col-sm-3">
      <div class="input-group">
        <div class="input-group-text">Location</div>
        {{form.location}}
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-group">
        <div class="input-group-text">Name/Brand/Catalog#/Lot#</div>
        {{form.text_search}}
      </div>
    </div>
    <div class="col-auto">
      <a class="btn btn-secondary me-1" href="{% url 'reagents' %}" role="button">Clear</a>
      <button type="submit" class="btn btn-primary" name="search">Search</button>
    </div>
  </form>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Exp. Date</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Name</th>
          <th scope="col">Brand</th>
          <th scope="col">Catalog #</th>
          <th scope="col">Lot #</th>
          <th scope="col">Volume</th>
          <th scope="col">Concentration</th>
          <th scope="col">Location(s)</th>
        </tr>
      </thead>

      <tbody>
        {% for reagent in page_obj %}
          <tr class="reagent-row {% if reagent.is_expired %} table-danger {% endif %} {% if reagent.month_exp %} table-warning {% endif %}" data-href="{% url 'edit_reagent' reagent.pk %}">
            <td>{{reagent.exp_date}} {% if reagent.is_expired %} (EXPIRED) {% endif %} {% if reagent.month_exp %} (&#60;1 MONTH TILL EXP) {% endif %}</td>
            <td>{{reagent.last_updated}}</td>
            <td>{{reagent.name}}</td>
            <td>{{reagent.brand}}</td>
            <td>{{reagent.catalog_number}}</td>
            <td>{{reagent.lot_number}}</td>
            <td>{{reagent.volume}} {{reagent.unit_volume}}</td>
            <td>
              {% if reagent.stock_concentration %}
              {{reagent.stock_concentration}} {{reagent.unit_concentration}}
              {% endif %}
            </td>

            <td>
              {% for location in reagent.location.all %}
                {% if reagent.location.all|length > 1 %}
                <span>
                  {{location}} |
                </span>
                {% else %}
                <span>
                  {{location}}
                </span>
                {% endif %}
              {% endfor %}
            </td>

          </tr>
        {% endfor %}
      </tbody>

    </table>

    <div class="d-flex justify-content-center">
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page=1">⮜⮜ First</a>
            <a href="?page={{ page_obj.previous_page_number }}">⮜</a>
          {% endif %}
  
          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>
  
          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">⮞</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last ⮞⮞</a>
          {% endif %}
        </span>
      </div>
    </div>
    
  </div>
 
</div>

<script>
  jQuery(document).ready(function($) {
    $(".reagent-row").click(function() {
        window.location = $(this).data("href");
    });
  });
</script>

{% endblock %}