{% extends "base.html" %} 

{% load static %}

{% block title %} Tubes {% endblock %} 

{% block content %}
<div class="container">

  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h3 class="text-center">Tubes</h3>
    </div>
  </div>

  {% for message in messages %}
  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h5 class="messages">{{ message }}</h5>
    </div>
  </div>
  {% endfor %}

  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <a href="{% url 'create_tube'%}">
        <button type="button" class="btn btn-primary mb-2">Add New Tubes</button>
      </a>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Exp. Date</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Name</th>
          <th scope="col">Brand</th>
          <th scope="col">Catalog #</th>
          <th scope="col">Lot #</th>
          <th scope="col">Amount Stored</th>
          <th scope="col">Location</th>
        </tr>
      </thead>

      <tbody>
        {% for tube in tubes %}
          <tr class="tube-row {% if tube.is_expired %} table-danger {% endif %} {% if tube.month_exp %} table-warning {% endif %}" data-href="{% url 'edit_tube' tube.pk %}">
            <td>{{tube.exp_date}} {% if tube.is_expired %} (EXPIRED) {% endif %} {% if tube.month_exp %} (&#60;1 MONTH TILL EXP) {% endif %} </td>
            <td>{{tube.last_updated}}</td>
            <td>{{tube.name}}</td>
            <td>{{tube.brand}}</td>
            <td>{{tube.catalog_number}}</td>
            <td>{{tube.lot_number}}</td>
            <td>{{tube.amount}}</td>

            <td>
              {% for location in tube.location.all %}
                {% if tube.location.all|length > 1 %}
                <span>
                  {{location}} |
                </span>
                {% else %}
                <span>
                  {{location}}
                </span>
                {% endif %}
              {% endfor %}
            </td>

          </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>

</div>

<script>
  jQuery(document).ready(function($) {
    $(".tube-row").click(function() {
        window.location = $(this).data("href");
    });
  });
</script>

{% endblock %}