<li class="list-group-item {% if tube.is_expired or tube.is_low %} list-group-item-danger {% endif %}">
  <a href="{% url 'edit_tube' tube.pk %}" target="_blank"> {{tube}} </a>
  <button 
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-post="{% url 'add_tube_extraction' protocol.pk tube.pk %}"
    hx-on:click="this.parentNode.remove()"
    hx-target="#tubes-list"
    hx-swap="beforeend"
    class="btn btn-success btn-sm float-end" 
    name="add_tube">
    <i class="fa-solid fa-plus"></i>
  </button>
</li>