<li class="list-group-item {% if reagent.is_expired or reagent.is_low %} list-group-item-danger {% endif %}">
  <a href="{% url 'edit_reagent' reagent.pk %}" target="_blank"> {{reagent}} </a>
  <button 
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-post="{% url 'add_reagent_extraction' protocol.pk reagent.pk %}"
    hx-on:click="this.parentNode.remove()"
    hx-target="#reagents-list"
    hx-swap="beforeend"
    class="btn btn-success btn-sm float-end" 
    name="add_reagent">
    <i class="fa-solid fa-plus"></i>
  </button>
</li>