{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Add Extraction Protocol {% endblock %} 

{% block content %}
<div class="container mt-3">

  {% for message in messages %}
  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h5 class="messages">{{ message }}</h5>
    </div>
  </div>
  {% endfor %}

  <div class="row justify-content-center">
    <h3 class="text-center">Add New Extraction Protocol</h3>
    <p class="text-center"><a href="{% url 'protocols_guide' %}" target="_blank" class="text-center">Protocols Guide</a></p>
  </div>

  <form method="POST" action="">
    {% csrf_token %}
    <div class="row justify-content-center mb-2">
      
      <div class="col-sm-3 form-width-18">
        <div class="text-center mt-3">
          <label class="form-label">Name</label>
          {{form.name}}
        </div>

        <div class="text-center mt-3">
          <span class="d-inline-block float-start" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right" data-bs-content="What genetic material are you extracting? DNA, RNA, or both (Total-nucleic)?">
            <i class="fa-solid fa-circle-info"></i>
          </span>
          <label class="form-label">Type</label>
          {{form.type}}
        </div>

        <div class="text-center mt-3">
          <span class="d-inline-block float-start" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right" data-bs-content="You may refer to a written article stored online.">
            <i class="fa-solid fa-circle-info"></i>
          </span>
          <label class="form-label">Document URL</label>
          {{form.doc_url}}
        </div>
      </div>

      {% if form.errors %}
      <div class="row text-center mt-2">
        {% for key,value in form.errors.items %} 
          {{ value|escape }}
        {% endfor %}
      </div>
      {% endif %}

      <div class="row justify-content-center">
        <div class="text-center mt-2"> 
          <a class="btn btn-secondary" href="{% url 'extraction_protocols' %}">Cancel</a>
          <button class="btn btn-primary" type="submit">Add Protocol</button>
        </div>
      </div>

    </div>
  </form>

  <script>
    $('.btn-arrow').click(function(){
      $(this).text(function(i,old){
        return old=='⮟' ?  '⮝' : '⮟';
      });
    });
  </script>

</div>
{% endblock %}