{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Create Extraction Protocol {% endblock %} 

{% block content %}
<link rel="stylesheet" href="{% static 'css/global.css' %}">
<link rel="stylesheet" href="{% static 'css/edit_extraction_protocol.css' %}">

<div class="container">

  {% for message in messages %}
  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h5 class="messages">{{ message }}</h5>
    </div>
  </div>
  {% endfor %}

  <div class="row justify-content-center">
    <h3 class="text-center">Create New Extraction Protocol</h3>
  </div>

  <form method="POST" action="">
    {% csrf_token %}
    <div class="row justify-content-center">
      
      <div class="col-sm-3">
        <div class="text-center">
          <label class="form-label">Name</label>
          {{form.name}}
        </div>

        <div class="text-center">
          <label class="form-label">Type</label>
          {{form.type}}
        </div>

        <div class="text-center">
          <label class="form-label">Document URL</label>
          {{form.doc_url}}
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Tubes
              <button class="btn btn-primary btn-sm float-end btn-arrow" type="button" data-bs-toggle="collapse" data-bs-target="#tubes-collapse" aria-expanded="false" aria-controls="tubes-collapse">
                ⮟
              </button>
            </li>

            <div class="collapse" id="tubes-collapse">
              <div class="card-body"> 
                <ul class="list-group">
                  {% for box in form.tubes %}
                  <li class="list-group-item">
                    {{box}}
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </ul>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Tubes
              <button class="btn btn-primary btn-sm float-end btn-arrow" type="button" data-bs-toggle="collapse" data-bs-target="#tubes-collapse" aria-expanded="false" aria-controls="tubes-collapse">
                ⮟
              </button>
            </li>

            <div class="collapse" id="tubes-collapse">
              <div class="card-body"> 
                <ul class="list-group">
                  {% for box in form.reagents %}
                  <li class="list-group-item">
                    {{box}}
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </ul>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="text-center mt-2"> 
          <a class="btn btn-secondary" href="{% url 'extraction_protocols' %}">Cancel</a>
          <button class="btn btn-primary" type="submit">Create &amp; Edit Quantity</button>
        </div>
      </div>

    </div>
  </form>

  <script>
    $('.btn').click(function(){
      $(this).text(function(i,old){
          return old=='⮝' ?  '⮟' : '⮝';
      });
    });
  </script>

</div>
{% endblock %}