{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Edit Extraction Protocol {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="row justify-content-center">
    <h3 class="text-center">{{protocol.name}}</h3>
    <p class="text-center"><a href="{% url 'protocols_guide' %}" target="_blank" class="text-center">Protocols Guide</a></p>
  </div>

  {% if messages %}
  <div class="row justify-content-center">
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
      <h6 class="text-center message">{{ message }}</h6>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <form method="POST" action="">
    {% csrf_token %}
    <div class="row justify-content-center mb-2">
      
      <div class="col-sm-3 form-width-18">
        <div class="text-center mt-3">
          <label class="form-label">Name</label>
          {{form.name}}
        </div>

        <div class="text-center mt-3">
          <span class="d-inline-block float-start" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right" data-bs-content="What genetic material are you extracting? DNA, RNA, or both (Total-nucleic)?">
            <i class="fa-solid fa-circle-info"></i>
          </span>
          <label class="form-label">Type</label>
          {{form.type}}
        </div>

        <div class="text-center mt-3">
          <span class="d-inline-block float-start" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right" data-bs-content="You may refer to a written article stored online.">
            <i class="fa-solid fa-circle-info"></i>
          </span>
          <label class="form-label">Document URL</label>
          {{form.doc_url}}
        </div>
      </div>

      {% if form.errors %}
      <div class="row text-center mt-2">
        {% for key,value in form.errors.items %} 
        <div class="alert alert-danger" role="alert">
          {{ value|escape }}
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <div class="row justify-content-center">
      <div class="text-center mt-2"> 
        <a class="btn btn-secondary mt-1" href="{% url 'extraction_protocols' %}">Cancel</a>
        <button type="button" class="btn btn-danger mt-1" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete Protocol</button>
        <button class="btn btn-primary mt-1" type="submit" name='update'>Update Protocol</button>
      </div>
    </div>
  </form>

  <div class="row justify-content-center mt-4">

    <div class="col-sm-3 mt-4">
      <h3 class="text-center">
        <u>Tubes
          <a href="{% url 'tubes_in_extraction' protocol.pk %}" class="btn btn-primary btn-sm ms-2 mb-1 position-relative">
            <i class="fa-solid fa-vial"></i>
            {% if protocol.incomplete_tubes %}
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
              <span class="visually-hidden">New alerts</span>
            </span>
            {% endif %}
          </a>
        </u>
      </h3>
      <div class="h-75 overflow-auto">
        <ul class="list-group" id="tubes-list">
          {% for tube in protocol_tubes %}
            {% include 'extraction-protocol/tube_in_extraction.html' %}
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="col-sm-3 mt-4">
      <form class="gx-3 gy-2 align-items-center justify-content-center mb-2" method="GET" action="">
        <div class="input-group">
          {{search_tube_form.text_search}}
          <div class="input-group-text"><button type="submit" class="btn btn-primary btn-sm" name="search_tube"><i class="fa-solid fa-magnifying-glass"></i></button></div>
        </div>
      </form>

      <div class="h-75 overflow-auto">
        <ul class="list-group" id="tubes-list-search">
          {% for tube in tubes %}
            {% include 'extraction-protocol/add_tube_extraction.html' %}
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="col-sm-3 mt-4">
      <h3 class="text-center">
        <u>Reagents
          <a href="{% url 'reagents_in_extraction' protocol.pk %}" class="btn btn-primary btn-sm ms-2 mb-1 position-relative">
            <i class="fa-solid fa-flask"></i>
            {% if protocol.incomplete_reagents %}
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
              <span class="visually-hidden">New alerts</span>
            </span>
            {% endif %}
          </a>
        </u>
      </h3>
      <div class="h-75 overflow-auto">
        <ul class="list-group" id="reagents-list">
          {% for reagent in protocol_reagents %}
            {% include 'extraction-protocol/reagent_in_extraction.html' %}
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="col-sm-3 mt-4">
      <form class="row gx-3 gy-2 align-items-center justify-content-center mb-2" method="GET" action="">
        <div class="input-group">
          {{search_reagent_form.text_search}}
          <div class="input-group-text"><button type="submit" class="btn btn-primary btn-sm" name="search_reagent"><i class="fa-solid fa-magnifying-glass"></i></button></div>
        </div>
      </form>

      <div class="h-75 overflow-auto">
        <ul class="list-group" id="reagents-list-search">
          {% for reagent in reagents %}
            {% include 'extraction-protocol/add_reagent_extraction.html' %}
          {% endfor %}
        </ul>
      </div>
    </div>
  
  </div>

  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Deleting Extraction Protocol...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="container-sm">

            <div class="row justify-content-center">
              <h5 class="text-center">Are you sure?</h5>
            </div>
            
            <div class="row justify-content-center">
              <form method="POST" action="">
                {% csrf_token %}
          
                <div class="text-center mx-auto">
                  <label class="form-label">Enter: "{{protocol.name}}" &amp; Confirm</label>
                  {{del_form.confirm}}
                </div>

                {% if del_form.errors %}
                <div class="row text-center mt-2">
                  {% for key,value in del_form.errors.items %} 
                  <div class="alert alert-danger" role="alert">
                    {{ value|escape }}
                  </div>
                  {% endfor %}
                </div>
                {% endif %}
          
                <div class="text-center mt-2">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary" name="delete">Confirm</button>
                </div>
              </form>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<script>
  $('.btn-arrow').click(function(){
    $(this).text(function(i,old){
      return old=='⮟' ?  '⮝' : '⮟';
    });
  });

  $('.add-tube').click(function(){
    console.log('alert')
  });


</script>
{% endblock %}