{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Edit Extraction Protocol {% endblock %} 

{% block content %}
<div class="container">

  {% for message in messages %}
  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h5 class="messages">{{ message }}</h5>
    </div>
  </div>
  {% endfor %}

  <div class="row justify-content-center">
    <h3 class="text-center">Edit Existing Extraction Protocol</h3>
  </div>

  <form method="POST" action="">
    {% csrf_token %}
    <div class="row justify-content-center">
      
      <div class="col-sm-3 form-width-18">
        <div class="text-center">
          <label class="form-label">Name</label>
          {{form.name}}
        </div>

        <div class="text-center">
          <label class="form-label">Type</label>
          {{form.type}}
        </div>

        <div class="text-center">
          <label class="form-label">Document URL</label>
          {{form.doc_url}}
        </div>
      </div>

      <div class="col-sm-3 form-width-18 mb-2">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Tubes
              <button class="btn btn-primary btn-sm float-end btn-arrow" type="button" data-bs-toggle="collapse" data-bs-target="#tubes-collapse" aria-expanded="false" aria-controls="tubes-collapse">
                ⮝
              </button>
            </li>

            <div class="collapse show" id="tubes-collapse">
              <div class="card-body"> 
                <ul class="list-group">
                  {% for box in form.tubes %}
                  <li class="list-group-item">
                    {{box}}
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </ul>
        </div>
      </div>

      <div class="col-sm-3 form-width-18 ">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Tubes
              <button class="btn btn-primary btn-sm float-end btn-arrow" type="button" data-bs-toggle="collapse" data-bs-target="#reagents-collapse" aria-expanded="false" aria-controls="reagents-collapse">
                ⮝
              </button>
            </li>

            <div class="collapse show" id="reagents-collapse">
              <div class="card-body"> 
                <ul class="list-group">
                  {% for box in form.reagents %}
                  <li class="list-group-item">
                    {{box}}
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </ul>
        </div>
      </div>

      {% if form.errors %}
      <div class="row text-center mt-2">
        {% for key,value in form.errors.items %} 
          {{ value|escape }}
        {% endfor %}
      </div>
      {% endif %}
      
      <div class="row justify-content-center">
        <div class="text-center mt-2"> 
          <a class="btn btn-secondary" href="{% url 'extraction_protocols' %}">Cancel</a>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete Protocol</button>
          <button class="btn btn-primary" type="submit" name='update'>Update Protocol</button>
        </div>
      </div>
      
      <div class="row justify-content-center">
        <div class="text-center mt-2"> 
          <button class="btn btn-success" type="submit" name='update-reagents'>Protocol Tubes &amp; Reagents</button>
        </div>
      </div>

    </div>
  </form>

  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Deleting Extraction Protocol...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="container-sm">

            <div class="row justify-content-center">
              <h5 class="text-center">Are you sure?</h5>
            </div>
            
            <div class="row justify-content-center">
              <form method="POST" action="">
                {% csrf_token %}
          
                <div class="text-center mx-auto">
                  <label class="form-label">Enter: "{{protocol.name}}" &amp; Confirm</label>
                  {{del_form.confirm}}
                </div>

                {% if del_form.errors %}
                <div class="row text-center mt-2">
                  {% for key,value in del_form.errors.items %} 
                    {{ value|escape }}
                  {% endfor %}
                </div>
                {% endif %}
          
                <div class="text-center mt-2">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary" name="delete">Confirm</button>
                </div>
              </form>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<script>
  $('.btn-arrow').click(function(){
    $(this).text(function(i,old){
      return old=='⮟' ?  '⮝' : '⮟';
    });
  });
</script>
{% endblock %}