{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Extraction Protocols {% endblock %} 

{% block content %}

<link rel="stylesheet" href="{% static 'css/extraction_protocols.css' %}">

<div class="container">

  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h3 class="text-center">Extraction Protocols</h3>
    </div>
  </div>

  <div class="justify-content-center">
    <div class="col d-flex justify-content-center">
      <a href="{% url 'create_extraction_protocol' %}">
        <button type="button" class="btn btn-primary">
          Create New Protocol
        </button>
      </a>
    </div>
  </div>

  <div class="row">
    {% for ext in extraction_protocols %}
    <div class="col mt-2">
     
       <div class="card">
        <div class="card-header">
          {{ext.name}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Type: {{ext.type}}</li>
          <li class="list-group-item">Tubes

            <button type="button" class="btn btn-primary btn-sm float-right btn-arrow" data-toggle="collapse" data-target="#{{ext.pk}}-tube-collapse">
              ⮟
            </button>

            <div class="collapse" id="{{ext.pk}}-tube-collapse">
              <div class="card-body"> 
                <ul class="list-group">
                  {% for e in ext.tubes.all %}
                  <li class="list-group-item">{{e}}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>

          </li>
          <li class="list-group-item">Reagents

            <button type="button" class="btn btn-primary btn-sm float-right btn-arrow" data-toggle="collapse" data-target="#{{ext.pk}}-reagent-collapse">
              ⮟
            </button>

            <div class="collapse" id="{{ext.pk}}-reagent-collapse">
              <div class="card-body"> 
                <ul class="list-group">
                  {% for e in ext.reagents.all %}
                  <li class="list-group-item">{{e}}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>

          </li>
        </ul>
        <div class="card-body">
          <a href="{% url 'edit_extraction_protocol' request.user.username ext.pk %}" class="card-link">Edit Protocol</a>
          {% if ext.doc_url %}
            <a href={{ext.doc_url}} target="_blank" class="card-link">View Docs</a>
          {% endif %}
        </div>
      </div>

    </div>
    {% endfor %}
  </div>

  <script>
    $('.btn-arrow').click(function(){
      $(this).text(function(i,old){
          return old=='⮝' ?  '⮟' : '⮝';
      });
    });
  </script>

</div>

{% endblock %}