{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Quantities - Extraction Protocol {% endblock %} 

{% block content %}
<div class="container">

  {% for message in messages %}
  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h5 class="messages">{{ message }}</h5>
    </div>
  </div>
  {% endfor %}

  <div class="row">
    <h3 class="text-center">{{protocol.name}}</h3>
  </div>

  <div class="row">
    <h6 class="text-center">Extracting -> {{protocol.type}}</h6>
  </div>

  <div class="text-center mb-2">
    <a href="{% url 'edit_extraction_protocol' request.user.username protocol.pk %}">
      <input class="btn btn-primary" type="Submit" value="Edit Protocol">
    </a>
  </div>

  <form action="" method="POST">
    <div class="table-responsive">
      <table class="table table-bordered">
        
        <thead>
          <tr>
            <th scope="col" class="col-sm-1">Tube</th>
            <th scope="col" class="col-sm-1">Amount Per Sample</th>
            <th scope="col" class="col-sm-1">Display Order</th>
          </tr>
        </thead>

        {{ tubeformset.management_form }}
        {{ reagentformset.management_form }}
        {% csrf_token %}

        <tbody>
          {% for tubes, tubeformset in tubes_data %}
          {{tubeformset.id}}
          <tr>
            <td>{{tubes}}</td>
            <td>{{tubeformset.amount_per_sample}}</td>
            <td>{{tubeformset.order}}</td>
          </tr>
          {% endfor %}
        </tbody>

        <thead>
          <tr>
            <th scope="col">Reagent</th>
            <th scope="col">Volume Per Sample (&#181;l)</th>
            <th scope="col">Display Order</th>
          </tr>
        </thead>
        <tbody>

          {% for reagents, reagentformset in reagents_data %}
          {{reagentformset.id}}
          <tr>
            <td>{{reagents}}</td>
            <td>{{reagentformset.amount_per_sample}}</td>
            <td>{{reagentformset.order}}</td>
          </tr>

          {% endfor %}
        </tbody>

      </table>
    </div>

    {% if reagentformset.errors %}
      <div class="row text-center mt-2">
      {% for errors in reagentformset.errors %}
        {% for error in errors.values %}
          {{error}}
        {%endfor%}
      {% endfor %}
      </div>
    {% endif %}

    {% if tubeformset.errors %}
      <div class="row text-center mt-2">
      {% for errors in tubeformset.errors %}
        {% for error in errors.values %}
          {{error}}
        {%endfor%}
      {% endfor %}
      </div>
    {% endif %}

    <div class="text-center"> 
      <input class="btn btn-primary" type="Submit" value="Update Quantities">
    </div>

  </form>
 
</div>
{% endblock %}