{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Quantities - Extraction Protocol {% endblock %} 

{% block content %}

<link rel="stylesheet" href="{% static 'css/extraction_protocol_through.css' %}">

<div class="container-fluid">

  {% for message in messages %}
  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h5 class="messages">{{ message }}</h5>
    </div>
  </div>
  {% endfor %}

  <div class="row">
    <h3 class="text-center">{{protocol.name}}</h3>
  </div>

  <div class="row">
    <h6 class="text-center">Extracting -> {{protocol.type}}</h6>
  </div>

  <div class="text-center mb-2">
    <a href="{% url 'edit_extraction_protocol' request.user.username protocol.pk %}">
      <input class="btn btn-primary" type="Submit" value="Edit Protocol">
    </a>
  </div>

  <form action="" method="POST">
  <div class="table-responsive">
    <table class="table table-bordered">
      
      <thead>
        <tr>
          <th scope="col">Tubes</th>
          <th scope="col">Amount Per Sample</th>
          <th scope="col">Display Order</th>
        </tr>
      </thead>

      {{ tubeformset.management_form }}
      {{ reagentformset.management_form }}
      {% csrf_token %}

      <tbody>
        {% for tubes, tubeformset in tubes_data %}
        {{tubeformset.id}}
        <tr>
          <td>{{tubes}}</td>
          <td>{{tubeformset.amount_per_sample}}</td>
          <td>{{tubeformset.order}}</td>
        </tr>
        {% endfor %}
      </tbody>

      <thead>
        <tr>
          <th scope="col">Reagents</th>
          <th scope="col">Volume Per Sample (&#181;l)</th>
          <th scope="col">Display Order</th>
        </tr>
      </thead>
      <tbody>

        {% for reagents, reagentformset in reagents_data %}
        {{reagentformset.id}}
        <tr>
          <td>{{reagents}}</td>
          <td>{{reagentformset.amount_per_sample}}</td>
          <td>{{reagentformset.order}}</td>
        </tr>

        {% endfor %}
      </tbody>

    </table>
  </div>

  <div class="text-center"> 
    <input class="btn btn-primary" type="Submit" value="Update Quantities">
  </div>

  </form>
 
</div>

{% endblock %}