{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Extraction Protocols {% endblock %} 

{% block content %}
<div class="container">

  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h3 class="text-center">Extraction Protocols</h3>
    </div>
  </div>

  <div class="justify-content-center">
    <div class="col d-flex justify-content-center">
      <a href="{% url 'create_extraction_protocol' %}">
        <button type="button" class="btn btn-primary">
          Create New Protocol
        </button>
      </a>
    </div>
  </div>

  {% if dna_extraction_protocols %}
  <h6>DNA Extractions</h6>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col" class="col-2">Name</th>
          <th scope="col" class="col-10">Reagents</th>
        </tr>
      </thead>

      <tbody>
        {% for protocol in dna_extraction_protocols %}
          <tr class="batch-row" data-href="{% url 'edit_extraction_protocol' protocol.pk %}">
            <td>{{protocol.name}}</td>
            <td>
              {% for reagent in protocol.reagents.all %}
                {% if protocol.reagents.all|length > 1 %}
                <span>
                  {{reagent}} &#9614;
                </span>
                {% else %}
                <span>
                  {{reagent}}
                </span>
                {% endif %}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>
  {% endif %}

  {% if rna_extraction_protocols %}
  <h6>RNA Extractions</h6>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col" class="col-2">Name</th>
          <th scope="col" class="col-10">Reagents</th>
        </tr>
      </thead>

      <tbody>
        {% for protocol in rna_extraction_protocols %}
          <tr class="batch-row" data-href="{% url 'edit_extraction_protocol' protocol.pk %}">
            <td>{{protocol.name}}</td>
            <td>
              {% for reagent in protocol.reagents.all %}
                {% if protocol.reagents.all|length > 1 %}
                <span>
                  {{reagent}} &#9614;
                </span>
                {% else %}
                <span>
                  {{reagent}}
                </span>
                {% endif %}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>
  {% endif %}

  {% if tn_extraction_protocols %}
  <h6>Total-nucleic Extractions</h6>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col" class="col-2">Name</th>
          <th scope="col" class="col-10">Reagents</th>
        </tr>
      </thead>

      <tbody>
        {% for protocol in tn_extraction_protocols %}
          <tr class="batch-row" data-href="{% url 'edit_extraction_protocol' protocol.pk %}">
            <td>{{protocol.name}}</td>
            <td>
              {% for reagent in protocol.reagents.all %}
                {% if protocol.reagents.all|length > 1 %}
                <span>
                  {{reagent}} &#9614;
                </span>
                {% else %}
                <span>
                  {{reagent}}
                </span>
                {% endif %}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>
  {% endif %}

</div>

<script>
  $('.btn-arrow').click(function(){
    $(this).text(function(i,old){
        return old=='⮝' ?  '⮟' : '⮝';
    });
  });

  jQuery(document).ready(function($) {
    $(".batch-row").click(function() {
        window.location = $(this).data("href");
    });
  });
</script>
{% endblock %}