{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Extraction Reagents {% endblock %} 

{% block content %}
<div class="container">

  {% for message in messages %}
  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h5 class="messages">{{ message }}</h5>
    </div>
  </div>
  {% endfor %}

  <div class="row">
    <h3 class="text-center">{{protocol.name}}</h3>
  </div>

  <div class="row">
    <h6 class="text-center">Extracting: {{protocol.type}}</h6>
  </div>

  <form method="POST" action="">
    <div class="table-responsive">
      <table class="table table-bordered">
        
        <thead>
          <tr>
            <th scope="col" class="col-sm-4">Reagent</th>
            <th scope="col" class="col-sm-2">Exp. Date</th>
            <th scope="col" class="col-sm-3">Volume Per Sample (&#181;l)</th>
            <th scope="col">Display Order (0 is 1st)</th>
          </tr>
        </thead>
        <tbody>

          {% for reagents, reagentformset in reagents_data %}
          {{reagentformset.id}}
          <tr {% if reagents.reagent.is_expired %} class="table-danger" {% endif %} {% if reagents.reagent.month_exp %} class="table-warning" {% endif %}>
            <td>{{reagents}} {% if reagents.reagent.is_expired %} (EXPIRED) {% endif %} {% if reagents.reagent.month_exp %} (&#60;1 MONTH TILL EXP) {% endif %}</td>
            <td>{{reagents.reagent.exp_date}}</td>
            <td>{{reagentformset.amount_per_sample}}</td>
            <td>{{reagentformset.order}}</td>
          </tr>

          {% endfor %}
        </tbody>

      </table>
    </div>
 
    {% if reagentformset.errors %}
      <div class="row text-center mt-2">
      {% for errors in reagentformset.errors %}
        {% for error in errors.values %}
          {{error}}
        {%endfor%}
      {% endfor %}
      </div>
    {% endif %}

    <div class="text-center"> 
      <a href="{% url 'edit_extraction_protocol' protocol.pk %}" class="btn btn-secondary">Cancel</a>
      <button class="btn btn-primary" type="submit">Update Reagents</button>
    </div>

  </form>
 
</div>
{% endblock %}