<li class="list-group-item {% if reagent.reagent.is_expired or reagent.reagent.is_low %} list-group-item-danger {% endif %}">
  <a href="{% url 'edit_reagent' reagent.reagent.pk %}" target="_blank"> {{reagent.reagent.name}} </a>
  <button 
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-post="{% url 'remove_reagent_extraction' protocol.pk reagent.reagent.pk %}"
    hx-on:click="this.parentNode.remove()"
    hx-target="#reagents-list-search"
    hx-swap="beforeend"
    name="remove_reagent"
    class="btn btn-danger btn-sm float-end">
    <i class="fa-solid fa-minus"></i>
  </button>
</li>