{% extends "base.html" %} 

{% load static %}

{% block title %} Profile {% endblock %} 

{% block content %}
<div class="container">
  <h3 class="text-center">Welcome, {{request.user.username}}</h3>

  <div class="row align-items-center justify-content-center">

    <div class="col-sm-3">
      {% if not request.user.is_subscribed %}
        <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
        <stripe-pricing-table pricing-table-id="prctbl_1OL7FoFtbvVO8zYH6f9tKcEL"
        publishable-key="pk_test_51N1uCqFtbvVO8zYHs2K1VeLXwu8jW8gid7eUyN3pkKI9r5vpNVI6RGeQ4MZW8ySmPHPdDCz92mYhjDW4wEd3YP4x00xKLD9CPD"
        client-reference-id="{{ request.user.id }}">
        </stripe-pricing-table>
      {% endif %}
    </div>

    <div class="col-sm-4">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">

          <thead>
            <tr>
              <th scope="col">Limits</th>
              <th scope="col">Count</th>
              <th scope="col">Freemium</th>
              <th scope="col">Premium</th>
            </tr>
          </thead>

          <tbody>
            {% for limit in limits %}
              <tr>
                <td>{{limit.name}}</td>
                <td>{{limit.count}}</td>
                <td>{{limit.limit}}</td>
                <td>{{limit.premium}}</td>
              </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-header">
          {{request.user.username}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{request.user.email}}</li>
          <li class="list-group-item">{{request.user.first_name}}</li>
          <li class="list-group-item">{{request.user.last_name}}</li>
        </ul>
        <div class="card-body">
          <a href="{% url 'reset_password' %}" class="btn btn-primary btn-sm">Reset Password</a>

          {% if request.user.is_subscribed %}
            <a href="{% url 'subscription_details' %}" class="btn btn-success btn-sm float-end">Manage Subscription</a>
          {% endif %}

        </div>
      </div>
    </div>

  </div>
  
</div>
{% endblock %}