{% extends "base.html" %} 

{% load static %}

{% block title %} Profile {% endblock %} 

{% block content %}
<div class="container mt-3">
  <h3 class="text-center">Welcome, {{request.user.username}}</h3>

  <div class="row align-items-center justify-content-center">

    {% comment %} TEST {% endcomment %}
    {% if request.user.is_staff %}
      <div class="col-sm-3">
        <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
        <stripe-pricing-table 
          pricing-table-id="prctbl_1OwNxLKzHgiG3d1SoaYR9ljg"
          publishable-key="pk_test_51OqjAoKzHgiG3d1SXCqRYMuVKxFY8k3c54Nsn4qZBG956ThbgPfyQ70xmR6OAM8HS0GwVnl5ZeKhZ5WppzCQ9oZc00NNHIB3GC"
          client-reference-id="{{ request.user.id }}">
        </stripe-pricing-table>
      </div>
    {% comment %} LIVE {% endcomment %}
    {% else %}
        {% if not request.user.is_subscribed %}
        <div class="col-sm-3">
          <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
          <stripe-pricing-table 
            pricing-table-id="prctbl_1OwOxuKzHgiG3d1SuTUQAkyn"
            publishable-key="pk_live_51OqjAoKzHgiG3d1SKGdiS2m6TYgYTU92WW6Qb72qTCirFVGXXjVK72TG3HTFJR3ydE733KRMZqXy2SGdxS2SN8AL00Rk6UqV6u"
            client-reference-id="{{ request.user.id }}">
          </stripe-pricing-table>
        </div>
        {% endif %}
    {% endif %}

    <div class="col-sm-4">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">

          <thead>
            <tr>
              <th scope="col">Limits</th>
              <th scope="col">Account</th>
              <th scope="col">Freemium</th>
              <th scope="col">Premium</th>
            </tr>
          </thead>

          <tbody>
            {% for limit in limits %}
              <tr>
                <td>{{limit.name}}</td>
                <td>{{limit.count}}</td>
                <td>{{limit.limit}}</td>
                <td>{{limit.premium}}</td>
              </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-header">
          {{request.user.username}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{request.user.email}}</li>
          <li class="list-group-item">{{request.user.first_name}}</li>
          <li class="list-group-item">{{request.user.last_name}}</li>
        </ul>
        <div class="card-body">
          <a href="{% url 'reset_password' %}" class="btn btn-primary btn-sm">Reset Password</a>

          {% comment %} USE LIVE LINK IN PRODUCTION {% endcomment %}
          {% if request.user.is_subscribed %}
            <a href="https://billing.stripe.com/p/login/8wM6qs8excFB2iY8ww" class="btn btn-success btn-sm float-end">Manage Subscription</a>
          {% endif %}

        </div>
      </div>
    </div>

  </div>

  <div class="row justify-content-center">
    <div class="text-center mt-2"> 
      <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirm-batches">Delete All Batches</button>
      <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirm-processes">Delete All Processes</button>
    </div>
  </div>

  <div class="modal fade" id="confirm-batches" tabindex="-1" role="dialog" aria-labelledby="delete-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Deleting all batches...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="row justify-content-center">
            <h5 class="text-center">Are you sure?</h5>
          </div>
          
          <div class="row justify-content-center">
            <form method="POST" action="">
              {% csrf_token %}
        
              <div class="text-center mx-auto">
                <label class="form-label">Enter your email &amp; Confirm</label>
                {{clear_batch_form.confirm}}
              </div>

              {% if clear_batch_form.errors %}
              <div class="row text-center mt-2">
                {% for key,value in clear_batch_form.errors.items %} 
                <div class="alert alert-danger" role="alert">
                  {{ value|escape }}
                </div>
                {% endfor %}
              </div>
              {% endif %}
        
              <div class="text-center mt-2">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" name="clear_batches">Confirm</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirm-processes" tabindex="-1" role="dialog" aria-labelledby="delete-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Deleting all processes...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="row justify-content-center">
            <h5 class="text-center">Are you sure?</h5>
          </div>
          
          <div class="row justify-content-center">
            <form method="POST" action="">
              {% csrf_token %}
        
              <div class="text-center mx-auto">
                <label class="form-label">Enter your email &amp; Confirm</label>
                {{clear_process_form.confirm}}
              </div>

              {% if clear_process_form.errors %}
              <div class="row text-center mt-2">
                {% for key,value in clear_process_form.errors.items %} 
                <div class="alert alert-danger" role="alert">
                  {{ value|escape }}
                </div>
                {% endfor %}
              </div>
              {% endif %}
        
              <div class="text-center mt-2">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" name="clear_processes">Confirm</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}