{% extends "base.html" %} 

{% load static %}

{% block title %} Profile {% endblock %} 

{% block content %}
<div class="container mt-3">
  <h3 class="text-center">Welcome, {{request.user.username}}</h3>

  <div class="row align-items-center justify-content-center">

    {% comment %} TEST {% endcomment %}
    <div class="col-sm-3">
      {% if not request.user.is_subscribed %}
        <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
        <stripe-pricing-table pricing-table-id="prctbl_1OqSDYFtbvVO8zYHZ9Bve9Za"
        publishable-key="pk_test_51N1uCqFtbvVO8zYHs2K1VeLXwu8jW8gid7eUyN3pkKI9r5vpNVI6RGeQ4MZW8ySmPHPdDCz92mYhjDW4wEd3YP4x00xKLD9CPD">
        </stripe-pricing-table>
      {% endif %}
    </div>

    {% comment %} LIVE {% endcomment %}
    {% comment %} <div class="col-sm-3">
      {% if not request.user.is_subscribed %}
      <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
      <stripe-pricing-table pricing-table-id="prctbl_1OqRkaFtbvVO8zYHmljOlFHP"
      publishable-key="pk_live_51N1uCqFtbvVO8zYH9Sp3KxVxH6qeysPIS3UmNuWGNNacUvIgcrTBU61YdTZXYH8HkFawCANT39QQVFGS6Jv353hc00Rpxfk9GW">
      </stripe-pricing-table>
      {% endif %}
    </div> {% endcomment %}

    <div class="col-sm-4">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">

          <thead>
            <tr>
              <th scope="col">Limits</th>
              <th scope="col">Account</th>
              <th scope="col">Freemium</th>
              <th scope="col">Premium</th>
            </tr>
          </thead>

          <tbody>
            {% for limit in limits %}
              <tr>
                <td>{{limit.name}}</td>
                <td>{{limit.count}}</td>
                <td>{{limit.limit}}</td>
                <td>{{limit.premium}}</td>
              </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-header">
          {{request.user.username}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{request.user.email}}</li>
          <li class="list-group-item">{{request.user.first_name}}</li>
          <li class="list-group-item">{{request.user.last_name}}</li>
        </ul>
        <div class="card-body">
          <a href="{% url 'reset_password' %}" class="btn btn-primary btn-sm">Reset Password</a>

          {% if request.user.is_subscribed %}
            <a href="{% url 'subscription_details' %}" class="btn btn-success btn-sm float-end">Manage Subscription</a>
          {% endif %}

        </div>
      </div>
    </div>

  </div>

  <div class="row justify-content-center">
    <div class="text-center mt-2"> 
      <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirm-batches">Delete All Batches</button>
      <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirm-processes">Delete All Processes</button>
    </div>
  </div>

  <div class="modal fade" id="confirm-batches" tabindex="-1" role="dialog" aria-labelledby="delete-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Deleting all batches...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="row justify-content-center">
            <h5 class="text-center">Are you sure?</h5>
          </div>
          
          <div class="row justify-content-center">
            <form method="POST" action="">
              {% csrf_token %}
        
              <div class="text-center mx-auto">
                <label class="form-label">Enter your email &amp; Confirm</label>
                {{clear_batch_form.confirm}}
              </div>

              {% if clear_batch_form.errors %}
              <div class="row text-center mt-2">
                {% for key,value in clear_batch_form.errors.items %} 
                  {{ value|escape }}
                {% endfor %}
              </div>
              {% endif %}
        
              <div class="text-center mt-2">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" name="clear_batches">Confirm</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirm-processes" tabindex="-1" role="dialog" aria-labelledby="delete-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Deleting all processes...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="row justify-content-center">
            <h5 class="text-center">Are you sure?</h5>
          </div>
          
          <div class="row justify-content-center">
            <form method="POST" action="">
              {% csrf_token %}
        
              <div class="text-center mx-auto">
                <label class="form-label">Enter your email &amp; Confirm</label>
                {{clear_process_form.confirm}}
              </div>

              {% if clear_process_form.errors %}
              <div class="row text-center mt-2">
                {% for key,value in clear_process_form.errors.items %} 
                  {{ value|escape }}
                {% endfor %}
              </div>
              {% endif %}
        
              <div class="text-center mt-2">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" name="clear_processes">Confirm</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}