{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Inventory Guide {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="row justify-content-center">
    <h1 class="text-center">Inventory Guide</h1>
  </div>

  <div class="row justify-content-center">
    <h2 class="text-center">Setting Up Your Inventory</h2>
  </div>

  <div class="row fixed-bottom text-center">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Table of Contents
    </button>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Table of Contents</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <nav id="navbar-example3">
            <nav class="nav nav-pills flex-column">
              <a class="nav-link" href="#locations">Locations</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#locations-introduction">Introduction</a>
                <a class="nav-link ms-3 my-1" href="#locations-tutorial-1">Adding Locations</a>
              </nav>
              <a class="nav-link" href="#reagents">Reagents</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#reagents-introduction">Introduction</a>
                <a class="nav-link ms-3 my-1" href="#reagents-tutorial-1">Adding Extraction Reagents</a>
                <a class="nav-link ms-3 my-1" href="#reagents-tutorial-2">Adding PCR General Reagents</a>
                <a class="nav-link ms-3 my-1" href="#reagents-tutorial-3">Adding PCR Primer Reagents</a>
                <a class="nav-link ms-3 my-1" href="#reagents-tutorial-4">Adding PCR Polymerase Reagents</a>
                <a class="nav-link ms-3 my-1" href="#reagents-tutorial-5">Adding PCR Water/Diluent Reagents</a>
              </nav>
              <a class="nav-link" href="#tubes">Tubes</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#tubes-introduction">Introduction</a>
                <a class="nav-link ms-3 my-1" href="#tubes-tutorial-1">Adding Tubes</a>
              </nav>
              <a class="nav-link" href="#plates">Plates</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#plates-introduction">Introduction</a>
                <a class="nav-link ms-3 my-1" href="#plates-tutorial-1">Adding PCR Plates</a>
                <a class="nav-link ms-3 my-1" href="#plates-tutorial-2">Adding qPCR Plates</a>
              </nav>
              <a class="nav-link" href="#gels">Gels</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#gels-introduction">Introduction</a>
                <a class="nav-link ms-3 my-1" href="#gels-tutorial-1">Adding Gels</a>
              </nav>
              <a class="nav-link" href="#ladders">Ladders</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#ladders-introduction">Introduction</a>
                <a class="nav-link ms-3 my-1" href="#ladders-tutorial-1">Adding Ladders</a>
              </nav>
              <a class="nav-link" href="#dyes">Dyes</a>
              <nav class="nav nav-pills flex-column">
                <a class="nav-link ms-3 my-1" href="#dyes-introduction">Introduction</a>
                <a class="nav-link ms-3 my-1" href="#dyes-tutorial-1">Adding Dyes</a>
              </nav>
              <a class="nav-link" href="#conclusion">Conclusion</a>
            </nav>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center fs-5">

    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">

      <div id="locations" class="mt-3">
        <h4><u>Locations</u></h4>

        <div id="locations-introduction" class="mt-3">
          <h6>Introduction</h6>
          <p>Creating storage locations for your inventory is not a necessity but we highly recommend it before adding any of your inventory items. Simply click “Locations” under “Inventory” on the menu and select “Create New Location”. You may then add the name of your location and also include temperature or short description of the location. Of course, you are able to change the name of the location should you wish to do so later on.</p>
        </div>

        <div id="locations-tutorial-1" class="mt-3">
          <h6>Adding Storage Locations</h6>
          <ul class="list-group">
            <li class="list-group-item">Step 1 - Let’s name our first location “PCR Reagents Room” and click “Add New Location”.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-locations-1.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item">Step 2 - We will then repeat this process again and create our second location named “Extraction Reagents Room”.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-locations-2.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item">Step 3 - Your list of locations should look similar to the following image.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-locations-3.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
          </ul>
        </div>

      </div>

      <div id="reagents" class="mt-3">
        <h4><u>Reagents</u></h4>
        <div id="reagents-introduction">
          <h6>Introduction</h6>
          <p>Reagents are necessary for creating your assays and extraction protocols. To add a reagent to the system, click on “Inventory” on the menu and select “Reagents”. Then click on “Add New Reagent” you will see there are several fields to fill. Do not worry, we will walk you through this by first adding reagents from a common extraction kit made by Qiagen. Then adding generic reagents that are most commonly used in PCR assays.</p>
        </div>

        <div id="reagents-tutorial-1" class="mt-3">
          <h6>Adding Extraction Reagents</h6>
          <ul class="list-group">
            <li class="list-group-item">Step 1 - The <a href="https://www.qiagen.com/us/products/discovery-and-translational-research/dna-rna-purification/dna-purification/genomic-dna/qiaamp-fast-dna-stool-mini-kit?catno=51604" rel="nofollow" target="_blank">QIAmp Fast DNA Stool Mini Kit</a> (Cat#51604) contains 6 reagents but requires ethanol (96-100%) from the user.</li>
            <li class="list-group-item"><img src="{% static 'images/extraction-reagents.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item"><img src="{% static 'images/additional-inventory.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item">Step 2 - Knowing this, let us first lets add InhibitEX Buffer. To do so, click on “Inventory” and select “Reagents”. Click on “Add New Reagent”, set the Name as “InhibitEX Buffer”, Brand as Qiagen, and the Lot Number on the container. If you do have the item on hand then enter the lot number shown otherwise simply set the lot number as “L12341234”.</li>
            <li class="list-group-item">Step 3 - For the Catalog Number set to “51604” and for the usage set as “EXTRACTION”. Set the Volume Storage and Volume Unit accordingly to what you currently have. In this case, the kit contains 140 milliliters of InhibitEx Buffer. So we will set the volume as “140” and the volume unit as “mL”.</li>
            <li class="list-group-item">Step 4 - Leave the remaining fields empty (as they are only relevant for reagents used in PCR) except for the Expiration Date and Location. Keep in mind that these two fields are optional although it is highly recommended for time-sensitive products to have an assigned expiration date as well as choosing a storage location to encourage organization in your lab.</li>
            <li class="list-group-item">Step 5 - In this case, we will leave the Expiration Date empty but set the location to “Extraction Reagents Room”. Note that we will be assigning this location to all extraction reagents as a demonstration. Ideally, each of these reagents require different storage conditions.</li>
            <li class="list-group-item">Step 6 - Once everything has been confirmed, click “Add Reagent”. Be aware that by doing so, you will no longer be able to modify this reagent except for its Volume Stored, Volume Unit, Expiration Date, and Location.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-reagents-3.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item">Step 7 - We will do this exact same process for Buffer AL, Buffer ATE, Proteinase K, and 1L of ethanol. The ethanol will have the Name “Ethanol”, Brand as “Generic”, and Catalog Number as “C12341234”.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-reagents-4.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item"><img src="{% static 'images/inventory-reagents-5.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item"><img src="{% static 'images/inventory-reagents-6.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item"><img src="{% static 'images/inventory-reagents-7.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item">Step 8 - Once we get to adding Buffer AW1 and Buffer AW2, you will notice how these reagents are supplied as concentrates. Keep in mind that Qiagen instructs you to add 25 mL of ethanol to the concentrate volume of 19 mL. So when adding this reagent to the system, set the Volume Stored as the total volume of 44 mL. For Buffer AW2, we will set the Volume Stored as the total volume of 43 mL.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-reagents-8.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item"><img src="{% static 'images/inventory-reagents-9.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item">Step 9 - In the reagents page, set Usage to “EXTRACTION” and you should see that your list of reagents should look similar to the following image.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-reagents-10.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
          </ul>
        </div>

        <div id="reagents-tutorial-2" class="mt-3">
          <h6>Adding PCR General Reagents</h6>
          <ul class="list-group">
            <li class="list-group-item">Step 1 - Let’s now add reagents for PCR. To do so, we will refer to the master mix of a generic assay presented by <a href="https://www.integra-biosciences.com/united-states/en/blog/article/simple-pcr-tips-can-make-or-break-your-success#:~:text=Master%20mix%20calculations&text=Then%2C%20calculate%20the%20dilution%20factors,volume%20by%20the%20dilution%20factor." rel="nofollow" target="_blank">INTEGRA</a></li>
            <li class="list-group-item"><img src="{% static 'images/pcr-mastermix.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item">Step 2 - Let’s add each reagent from top to bottom starting with Buffer. We will follow the same process by clicking on “Add New Reagent”, assign Name as “Buffer”, Brand as “Generic”, Lot Number as “L12341234” and Catalog Number as “C12341234”.</li>
            <li class="list-group-item">Step 3 - For Usage, we will leave it as “PCR” and for the PCR Reagent Type we will set it as “General” since it is neither a primer, polymerase, or water.</li>
            <li class="list-group-item">Step 4 - The Forward and Reverse Sequence is irrelevant in this case so we will leave them blank.</li>
            <li class="list-group-item">Step 5 - Let’s set the Volume Stored as “500” and the Volume Unit as “µL”.</li>
            <li class="list-group-item">Step 6 - The stock concentration of Buffer is “10X” so we will set the Stock Concentration to 10 and the Concentration Unit as “X”.</li>
            <li class="list-group-item">Step 7 - We will leave the Expiration Date empty and set the location to “PCR Reagents Room” for all PCR reagents.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-reagents-11.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item">Step 8 - We will repeat this exact process for 100µL magnesium chloride and 100µL dNTP’s.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-reagents-12.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item"><img src="{% static 'images/inventory-reagents-13.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
          </ul>
        </div>

        <div id="reagents-tutorial-3" class="mt-3">
          <h6>Adding PCR Primer Reagents</h6>
          <ul class="list-group">
            <li class="list-group-item">Step 1 - To handle adding the Forward Primer, we will set the Name as “Forward Primer 1”, Brand as “Generic”, Lot Number as “L12341234” and Catalog Number “C12341234”.</li>
            <li class="list-group-item">Step 2 - Set the PCR Reagent Type as “Primer” and since this reagent only contains the forward primer we will set the Forward Sequence as “ATGGCTAAAGGGGTTTATAT”. Note that the Forward and Reverse Sequence is not required you may leave these fields empty.</li>
            <li class="list-group-item">Step 3 - For the Volume we will set that as “100” and the Volume Unit as “µL”.</li>
            <li class="list-group-item">Step 4 - The Stock Concentration will be “10” and the Concentration Unit as “µM”.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-reagents-14.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item">Step 5 - We will repeat this process for the Reverse Primer where instead of adding a sequence for the Forward Sequence we will instead assign “TTTGGAACAACGGTAAGTTC” as the Reverse Sequence.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-reagents-15.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
          </ul>
        </div>

        <div id="reagents-tutorial-4" class="mt-3">
          <h6>Adding PCR Polymerase Reagents</h6>
          <ul class="list-group">
            <li class="list-group-item">Step 1 - To add the Polymerase we will set the Name as “Polymerase”, Brand as “Generic”, Lot Number as “L12341234” and Catalog Number as “C12341234”.</li>
            <li class="list-group-item">Step 2 - The Usage remains as “PCR” and the PCR Reagent Type will be “Polymerase”.</li>
            <li class="list-group-item">Step 3 - We will set the Volume as “100” and Volume Unit as “µL”.</li>
            <li class="list-group-item">Step 4 - Stock Concentration will be “5” and Concentration Unit as “U/µL”.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-reagents-16.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
          </ul>
        </div>

        <div id="reagents-tutorial-5" class="mt-3">
          <h6>Adding PCR Water/Diluent Reagents</h6>
          <ul class="list-group">
            <li class="list-group-item">Step 1 - To add water, set the Name as “Water”, Brand as “Generic”, Lot Number as “L12341234” and Catalog Number as “C12341234”.</li>
            <li class="list-group-item">Step 2 - The Usage is “PCR” and the PCR Reagent Type is “Water”.</li>
            <li class="list-group-item">Step 3 - We will then set the Volume as “1” and the Volume Unit as “L”.</li>
            <li class="list-group-item">Step 4 - Since water has no stock concentration, leave Stock Concentration and Concentration Unit empty.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-reagents-17.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item">Step 5 - On the Reagents page, set the Usage to “PCR” and your inventory should look similar to the following image.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-reagents-18.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
          </ul>
        </div>

      </div>

      <div id="tubes" class="mt-3">
        <h4><u>Tubes</u></h4>

        <div id="tubes-introduction" class="mt-3">
          <h6>Introduction</h6>
          <p>Tubes are a necessity in all steps of PCR. Take note that PCRprep only keeps track of the usage of tubes for extraction. Which is why tubes are required to create your extraction protocols. To add tubes click on “Inventory” on the menu, select “Tubes’ and click on “Add New Tubes”. Let’s refer back to the QIAmp Fast DNA Stool Mini Kit as it contains tubes to add to the system.</p>
        </div>

        <div id="tubes-tutorial-1" class="mt-3">
          <h6>Adding Tubes</h6>
          <ul class="list-group">
            <li class="list-group-item">Step 1 - Let us <a href="#reagents-tutorial-1">refer</a> back to the QIAmp Fast DNA Stool Mini Kit containing 50 QIAmp Mini spin columns and 500 2ml Collection Tubes.</li>
            <li class="list-group-item">Step 2 - To add the QIAmp Mini spin columns, click on “Add New Tube”, set Name to “QIAmp Mini spin columns”, Brand as “Qiagen”, and Lot Number as “L12341234” or the actual lot number should you have the product at hand.</li>
            <li class="list-group-item">Step 3 - The Catalog Number is “51604” and the Amount is 50. </li>
            <li class="list-group-item">Step 4 - We will leave the Expiration Date empty, set the location to “Extraction Reagents Room” and click “Create New Tube”.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-tubes-1.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item">Step 5 - We will repeat this exact process adding the 200 2ml Collection Tubes as well as adding 1000 1.7 ml Generic centrifuge tubes.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-tubes-2.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item"><img src="{% static 'images/inventory-tubes-3.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item">Step 6 - Your list of tubes should look similar to the following image.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-tubes-4.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
          </ul>
        </div>

      </div>


      <div id="plates" class="mt-3">
        <h4><u>Plates</u></h4>
        <div id="plates-introduction" class="mt-3">
          <h6>Introduction</h6>
          <p>Plates are required for PCR and is a necessary part of processing your samples. To create a plate click on “Inventory” and select “Plates”. There you be able to select “Add New Plate” and assign each field accordingly. In our case, we will require two types of plates; plates for PCR and plates for qPCR.</p>
        </div>

        <div id="plates-tutorial-1" class="mt-3">
          <h6>Adding PCR Plates</h6>
          <ul class="list-group">
            <li class="list-group-item">Step 1 - The first plates we will add are 50 96-well plates for PCR. To do so, click on “Add New Plate”, set the Name as “96W Plate”, Brand as “Generic”, Lot Number as “L12341234”, and Catalog Number as “C12341234”.</li>
            <li class="list-group-item">Step 2 - The Size will be “96”, the Type is “PCR” and the Amount Stored is 50.</li>
            <li class="list-group-item">Step 3 - We will leave the the Expiration Date and Location empty.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-plates-1.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item">Step 4 - We will now repeat the same process for adding 50 48-well plates for PCR where the only difference will be setting the Size to “48”.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-plates-2.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
          </ul>
        </div>

        <div id="plates-tutorial-2" class="mt-3">
          <h6>Adding qPCR Plates</h6>
          <ul class="list-group">
            <li class="list-group-item">Step 1 - Adding plates for qPCR is very similar to adding plates for PCR. The only difference is to set the Type as “qPCR”.</li>
            <li class="list-group-item">Step 2 - We will be adding 50 96-well plates for qPCR and 50 48-well plates for qPCR.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-plates-3.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item"><img src="{% static 'images/inventory-plates-4.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item">Step 3 - Your list of plates should look similar to the following image.
            <li class="list-group-item"><img src="{% static 'images/inventory-plates-5.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
          </ul>
        </div>
      </div>

      <div id="gels" class="mt-3">
        <h4><u>Gels</u></h4>
        
        <div id="gels-introduction" class="mt-3">
          <h6>Introduction</h6>
          <p>Gels are required for PCR analysis. If you are processing samples for PCR (not qPCR) then you will most likely need gels to view your results. To add a gel, click on “Inventory” and select “Gels”. You can click on “Add New Gel”. In our case, we will add 50 24-well gels.</p>
        </div>

        <div id="gels-tutorial-1" class="mt-3">
          <h6>Adding Gels</h6>
          <ul class="list-group">
            <li class="list-group-item">Step 1 - To add our 24-well gels we must first select “Add New Gel”, set Name as “24W Gels”, Brand as “Generic”, Lot Number as “L12341234”, and Catalog Number as “C12341234”.</li>
            <li class="list-group-item">Step 2 - We will keep the size as 24 and the Storage Amount as 50.</li>
            <li class="list-group-item">Step 3 - We will leave the Expiration Date and Location empty.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-gels-1.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item"><img src="{% static 'images/inventory-gels-2.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
          </ul>
        </div>
      </div>

      <div id="ladders" class="mt-3">
        <h4>Ladders</h4>
        
        <div id="ladders-introduction" class="mt-3">
          <h6>Introduction</h6>
          <p>Ladders are an essential part of reading your results in a gel for PCR. To add your ladders click on “Inventory” on the menu, select “Ladders”, and click on “Add New Ladder”. For this tutorial we will be adding 100µL of 100bp Low Ladder.</p>
        </div>

        <div id="ladders-tutorial-1" class="mt-3">
          <h6>Adding Ladders</h6>
          <ul class="list-group">
            <li class="list-group-item">Step 1 - To add a Ladder, click on “Add New Ladder”, set Name as “100bp Low Ladder”, Brand as “Generic”, Lot Number as “L12341234”, and Catalog Number as “C12341234”.</li>
            <li class="list-group-item">Step 2 - Set the Amount Stored (µL) as 100.</li>
            <li class="list-group-item">Step 3 - We will leave the Expiration Date and Location empty.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-ladders-1.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item">Step 4 - Your list of ladders should look similar to the following image.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-ladders-2.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
          </ul>
        </div>
      </div>

      <div id="dyes" class="mt-3">
        <h4>Dyes</h4>
        
        <div id="dyes-introduction" class="mt-3">
          <h6>Introduction</h6>
          <p>Loading Dyes are another essential part of reading results in a gel for PCR. To add dyes, click on “Inventory”, select “Dyes”, and click on “Add New Dye”. In this situation we will add 100µL DNA Gel Loading Dye.</p>
        </div>

        <div id="ladders-tutorial-1" class="mt-3">
          <h6>Adding Dyes</h6>
          <ul class="list-group">
            <li class="list-group-item">Step 1 - To add dyes, click on “Add New Dye”, set Name as “DNA Gel Loading Dye”, Brand as “Generic”, Lot Number as “L12341234”, and Catalog Number as “C12341234”.</li>
            <li class="list-group-item">Step 2 - We will set the Amount Stored (µL) as 100.</li>
            <li class="list-group-item">Step 3 - We will lave the Expiration Date and Location empty.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-dyes-1.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
            <li class="list-group-item">Step 4 - Your list of dyes should look similar to the following image.</li>
            <li class="list-group-item"><img src="{% static 'images/inventory-dyes-2.png' %}"class="img-fluid border border-2 border-primary mt-2" alt="..."></li>
          </ul>
        </div>
      </div>

      <div id="conclusion" class="mt-3">
        <h4>Conclusion</h4>
        <p>Congratulations! You now understand how to setup your inventory all the way from reagents to loading dyes. After completing this tutorial, you are now ready to create assays in the <a href="{% url 'tests_guide' %}">Tests section.</a></p>
      </div>

    </div>
  </div>

</div>
{% endblock%}