{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Assay Codes {% endblock %} 

{% block content %}

<link rel="stylesheet" href="{% static 'css/assay_codes.css' %}">

<div class="container">

  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h3 class="text-center">Assay Codes</h3>
    </div>
  </div>

  <div class="justify-content-center">
    <div class="col d-flex justify-content-center">
      <a href="{% url 'create_assay_code' %}">
        <button type="button" class="btn btn-primary">
          Create New Code
        </button>
      </a>
    </div>
  </div>
 
  <div class="row">
    {% for code in assay_codes %}
    <div class="col mt-2">
     
      <div class="card">
        <div class="card-header">
          {{code.name}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Assays

            <button type="button" class="btn btn-primary btn-sm float-end btn-arrow" data-bs-toggle="collapse" data-bs-target="#collapse-{{code.pk}}" aria-expanded="false" aria-controls="collapse-{{code.pk}}">
              ⮟
            </button>

            <div class="collapse" id="collapse-{{code.pk}}">
              <div class="card-body"> 
                <ul class="list-group">
                  {% for assay in code.assays.all %}
                  <li class="list-group-item">{{assay}}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
   
          </li>
        </ul>
        <div class="card-body">
          <a href="{% url 'edit_assay_code' request.user.username code.pk %}" class="card-link">Edit Code</a>
        </div>
      </div>

    </div>

    {% endfor %}
  </div>

  <script>
    $('.btn-arrow').click(function(){
      $(this).text(function(i,old){
          return old=='⮝' ?  '⮟' : '⮝';
      });
    });
  </script>
 
</div>

{% endblock %}