{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Assay Codes {% endblock %} 

{% block content %}

<link rel="stylesheet" href="{% static 'css/assay_codes.css' %}">

<div class="container">

  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h3 class="text-center">Assay Codes</h3>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col d-flex justify-content-center">
      <a href="{% url 'create_assay_code' %}">
        <button type="button" class="btn btn-primary">
          Create New Code
        </button>
      </a>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col justify-content-center">
      <div class="table-responsive">

        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col" class="col-sm-1">Panel Name</th>
              <th scope="col" class="col-sm-11">Corresponding Assays</th>
            </tr>
          </thead>

          <tbody>
            {% for assay_code in assay_codes %}
              <tr class="batch-row" data-href="{% url 'edit_assay_code' request.user.username assay_code.pk %}">
                <td>{{assay_code.name}}</td>
                <td>
                  {% for assay in assay_code.assays.all %}
                    {% if assay_code.assays.all|length > 1 %}
                    <span>
                      {{assay}} |
                    </span>
                    {% else %}
                    <span>
                      {{assay}}
                    </span>
                    {% endif %}
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
 
  <script>
    $('.btn-arrow').click(function(){
      $(this).text(function(i,old){
          return old=='⮝' ?  '⮟' : '⮝';
      });
    });

    jQuery(document).ready(function($) {
      $(".batch-row").click(function() {
          window.location = $(this).data("href");
      });
    });
  </script>
 
</div>

{% endblock %}