{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Panels {% endblock %} 

{% block content %}
<div class="container">

  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h3 class="text-center">Panels</h3>
    </div>
  </div>

  {% if messages %}
  <div class="row justify-content-center">
    {% for message in messages %}
    <h6 class="text-center message">{{ message }}</h6>
    {% endfor %}
  </div>
  {% endif %}

  <div class="row justify-content-center mb-2">
    <div class="col d-flex justify-content-center">
      <a href="{% url 'create_assay_code' %}">
        <button type="button" class="btn btn-primary">
          Create New Code
        </button>
      </a>
    </div>
  </div>

  <form class="row gx-3 gy-2 align-items-center justify-content-center mb-2" method="POST" action="">
    {% csrf_token %}
    <div class="col-sm-3">
      <div class="input-group">
        <div class="input-group-text">Name/Assays</div>
        {{form.text_search}}
      </div>
    </div>
    <div class="col-auto">
      <a class="btn btn-secondary me-1" href="{% url 'assay_codes' %}" role="button">Clear</a>
      <button type="submit" class="btn btn-primary" name="search">Search</button>
    </div>
  </form>

  <div class="row mt-2">
    <div class="col justify-content-center">
      <div class="table-responsive">

        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col" class="col-sm-2">Panel Name</th>
              <th scope="col" class="col-sm-10">Corresponding Assays</th>
            </tr>
          </thead>

          <tbody>
            {% for assay_code in page_obj %}
              <tr class="batch-row" data-href="{% url 'edit_assay_code' assay_code.pk %}">
                <td>{{assay_code.name}}</td>
                <td>
                  {% for assay in assay_code.assays.all %}
                    <span class="badge text-bg-success">
                      {{assay}}
                    </span>
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

      <div class="d-flex justify-content-center">
        <div class="pagination">
          <span class="step-links">
            {% if page_obj.has_previous %}
              <a href="?page=1">⮜⮜ First</a>
              <a href="?page={{ page_obj.previous_page_number }}">⮜</a>
            {% endif %}
    
            <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
    
            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">⮞</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">Last ⮞⮞</a>
            {% endif %}
          </span>
        </div>
      </div>

    </div>
  </div>
 
  <script>
    $('.btn-arrow').click(function(){
      $(this).text(function(i,old){
          return old=='⮝' ?  '⮟' : '⮝';
      });
    });

    jQuery(document).ready(function($) {
      $(".batch-row").click(function() {
          window.location = $(this).data("href");
      });
    });
  </script>
 
</div>

{% endblock %}