{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Create Assay Code {% endblock %} 

{% block content %}

<link rel="stylesheet" href="{% static 'css/create_assay_code.css' %}">

<div class="container-fluid">

  <div class="row justify-content-center">
    <h3 class="text-center">Create New Assay Code</h3>
  </div>

  <form method="POST" action="">
    {% csrf_token %}
    <div class="row justify-content-center">

      <div class="col-sm-3">

        <div class="text-center">
          <label class="form-label">Name</label>
          {{form.name}}
        </div>

        <div class="card mx-auto mt-2" style="width: 18rem;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Assays
              <button class="btn btn-primary btn-sm float-end btn-arrow" type="button" data-bs-toggle="collapse" data-bs-target="#tubes-collapse" aria-expanded="false" aria-controls="tubes-collapse">
                ⮟
              </button>
            </li>
    
            <div class="collapse" id="tubes-collapse">
              <div class="card-body"> 
                <ul class="list-group">
                  {% for assay in form.assays%}
                    <li class="list-group-item">
                      {{assay}}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </ul>
        </div>

      </div>

    </div>

    <div class="row justify-content-center">
      {% for message in messages %}
      <h6 class="messages text-center">{{ message }}</h6>
      {% endfor %}
    </div>

    <div class="row justify-content-center">
      <div class="text-center mt-2">
        <a class="btn btn-secondary" href="{% url 'assay_codes' %}">Cancel</a>
        <button class="btn btn-primary" type="submit">Update Assay Code</button>
      </div>
    </div>

  </form>

  <script>
    $('.btn-arrow').click(function(){
      $(this).text(function(i,old){
        return old=='⮟' ?  '⮝' : '⮟';
      });
    });
  </script>

</div>

{% endblock %}