{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                        
{% block title %} Create Assay Code {% endblock %} 

{% block content %}
<link rel="stylesheet" href="{% static 'css/global.css' %}">
<link rel="stylesheet" href="{% static 'css/create_assay_code.css' %}">

<div class="container">

  <div class="row justify-content-center">
    <h3 class="text-center">Create New Assay Code</h3>
  </div>

  <form method="POST" action="">
    {% csrf_token %}
    <div class="row justify-content-center mb-2">

      <div class="col-sm-3">
        <div class="text-center">
          <label class="form-label">Name</label>
          {{form.name}}
        </div>
      </div>

    </div>

    <div class="row justify-content-center mb-2">
      <div class="col-sm-3">
        <ul class="nav nav-pills d-flex justify-content-center" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-pcr-dna-tab" data-bs-toggle="pill" data-bs-target="#pcr-dna" type="button" role="tab" aria-controls="pcr-dna" aria-selected="true">DNA</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-pcr-rna-tab" data-bs-toggle="pill" data-bs-target="#pcr-rna" type="button" role="tab" aria-controls="pcr-rna" aria-selected="false">RNA</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-qpcr-dna-tab" data-bs-toggle="pill" data-bs-target="#qpcr-dna" type="button" role="tab" aria-controls="qpcr-dna" aria-selected="false">qDNA</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-qpcr-rna-tab" data-bs-toggle="pill" data-bs-target="#qpcr-rna" type="button" role="tab" aria-controls="qpcr-rna" aria-selected="false">qRNA</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="row justify-content-center mb-2">
      <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="pcr-dna" role="tabpanel" aria-labelledby="pcr-dna-tab">

          <div class="row">
            <h5 class="text-center">PCR DNA Assays</h5>
          </div>

          <div class="container-sm">
            {% if form.pcr_dna|length > 0 %}
            <div class="row row-cols-3 justify-content-center">
              {% for assay in form.pcr_dna %}
                <div class="col-sm-1 p-3">
                  <span class="border border-primary p-2">
                    {{assay}}
                  </span>
                </div>
              {% endfor %}
            </div>
            {% else %}
              <div>
                <a href="{% url 'create_assay' %}">
                  <h6 class="text-center">No assays type found here. Create one!</h6>
                </a>
              </div>
            {% endif %}
          </div>

        </div>

        <div class="tab-pane fade" id="pcr-rna" role="tabpanel" aria-labelledby="pcr-rna-tab">

          <div class="row">
            <h5 class="text-center">PCR RNA Assays</h5>
          </div>

          <div class="container-sm">
            {% if form.pcr_rna|length > 0 %}
            <div class="row row-cols-3 justify-content-center">
              {% for assay in form.pcr_rna %}
                <div class="col-sm-1 p-3">
                  <span class="border border-primary p-2">
                    {{assay}}
                  </span>
                </div>       
              {% endfor %}
            </div>
            {% else %}
              <div>
                <a href="{% url 'create_assay' %}">
                  <h6 class="text-center">No assays type found here. Create one!</h6>
                </a>
              </div>
            {% endif %}
          </div>

        </div>

        <div class="tab-pane fade" id="qpcr-dna" role="tabpanel" aria-labelledby="qpcr-dna-tab">

          <div class="row">
            <h5 class="text-center">qPCR DNA Assays</h5>
          </div>

          <div class="container-sm">
            {% if form.qpcr_dna|length > 0 %}
            <div class="row row-cols-3 justify-content-center">
              {% for assay in form.qpcr_dna %}
                <div class="col-sm-1 p-3">
                  <span class="border border-primary p-2">
                    {{assay}}
                  </span>
                </div>         
              {% endfor %}
            </div>
            {% else %}
              <div>
                <a href="{% url 'create_assay' %}">
                  <h6 class="text-center">No assays type found here. Create one!</h6>
                </a>
              </div>
            {% endif %}
          </div>

        </div>

        <div class="tab-pane fade" id="qpcr-rna" role="tabpanel" aria-labelledby="qpcr-rna-tab">

          <div class="row">
            <h5 class="text-center">qPCR RNA Assays</h5>
          </div>

          <div class="container-sm">
            {% if form.qpcr_rna|length > 0 %}
            <div class="row row-cols-3 justify-content-center">
              {% for assay in form.qpcr_rna %}
                <div class="col-sm-1 p-3">
                  <span class="border border-primary p-2">
                    {{assay}}
                  </span>
                </div>         
              {% endfor %}
            </div>
            {% else %}
              <div>
                <a href="{% url 'create_assay' %}">
                  <h6 class="text-center">No assays type found here. Create one!</h6>
                </a>
              </div>
            {% endif %}
          </div>

        </div>

      </div>
    </div>

    {% if form.errors %}
    <div class="row text-center mt-2">
      {% for key,value in form.errors.items %} 
        {{ value|escape }}
      {% endfor %}
    </div>
    {% endif %}

    <div class="row justify-content-center">
      <div class="text-center mt-2">
        <a class="btn btn-secondary" href="{% url 'assay_codes' %}">Cancel</a>
        <button class="btn btn-primary" type="submit">Update Assay Code</button>
      </div>
    </div>

  </form>

  <script>
    $('.btn-arrow').click(function(){
      $(this).text(function(i,old){
        return old=='⮟' ?  '⮝' : '⮟';
      });
    });
  </script>

</div>

{% endblock %}