{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Edit Assay Code {% endblock %} 

{% block content %}
<link rel="stylesheet" href="{% static 'css/global.css' %}">
<link rel="stylesheet" href="{% static 'css/edit_assay_code.css' %}">

<div class="container">

  <div class="row justify-content-center">
    <h3 class="text-center">Updating: {{code.name}}</h3>
  </div>

  <form method="POST" action="">
    {% csrf_token %}
    <div class="row justify-content-center">

      <div class="col-sm-3">
        <div class="text-center">
          <label class="form-label">Name</label>
          {{form.name}}
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-4">
        <ul class="nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab" role="tablist">
          <li class="nav-item fs-6 text" role="presentation">
            <button class="nav-link active" id="pills-pcr-dna-tab" data-bs-toggle="pill" data-bs-target="#pcr-dna" type="button" role="tab" aria-controls="pcr-dna" aria-selected="true">PCR DNA</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link btn-sm" id="pills-pcr-rna-tab" data-bs-toggle="pill" data-bs-target="#pcr-rna" type="button" role="tab" aria-controls="pcr-rna" aria-selected="false">PCR RNA</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link btn-sm" id="pills-qpcr-dna-tab" data-bs-toggle="pill" data-bs-target="#qpcr-dna" type="button" role="tab" aria-controls="qpcr-dna" aria-selected="false">qPCR DNA</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link btn-sm" id="pills-qpcr-rna-tab" data-bs-toggle="pill" data-bs-target="#qpcr-rna" type="button" role="tab" aria-controls="qpcr-rna" aria-selected="false">qPCR RNA</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade show active" id="pcr-dna" role="tabpanel" aria-labelledby="pcr-dna-tab">
          PCR DNA
          {% for assay in form.pcr_dna %}
            {{assay}}
          {% endfor %}
        </div>

        <div class="tab-pane fade" id="pcr-rna" role="tabpanel" aria-labelledby="pcr-rna-tab">
          PCR RNA
          {% for assay in form.pcr_rna %}
            {{assay}}        
          {% endfor %}
        </div>

        <div class="tab-pane fade" id="qpcr-dna" role="tabpanel" aria-labelledby="qpcr-dna-tab">
          qPCR DNA
          {% for assay in form.qpcr_dna %}
            {{assay}}        
          {% endfor %}
        </div>

        <div class="tab-pane fade" id="qpcr-rna" role="tabpanel" aria-labelledby="qpcr-rna-tab">
          qPCR RNA
          {% for assay in form.qpcr_rna %}
            {{assay}}        
          {% endfor %}
        </div>

      </div>
    </div>

    <div class="row justify-content-center">
      {% for message in messages %}
      <h6 class="messages text-center">{{ message }}</h6>
      {% endfor %}
    </div>

    <div class="row justify-content-center">
      <div class="text-center mt-2">
        <a class="btn btn-secondary" href="{% url 'assay_codes' %}">Cancel</a>
        <button class="btn btn-primary" type="submit" name="update">Update Assay Code</button>
      </div>
    </div>

  </form>

  <div class="justify-content-center">
    <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#delete-modal">
        Delete Code
      </button>
    </div>
  </div>

  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Deleting Assay Code...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <div class="container-sm">

            <div class="row justify-content-center">
              <h5 class="text-center">Are you sure?</h5>
            </div>
            
            <div class="row justify-content-center">
              <form method="POST" action="">
                {% csrf_token %}
          
                <div class="text-center mx-auto">
                  <label class="form-label">Enter: "{{code.name}}" &amp; Confirm</label>
                  {{del_form.confirm}}
                </div>
          
                <div class="text-center mt-2">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary" name="delete">Confirm</button>
                </div>
              </form>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <script>
    $('.btn-arrow').click(function(){
      $(this).text(function(i,old){
        return old=='⮟' ?  '⮝' : '⮟';
      });
    });

    const delButton = document.getElementById("delete-button");
    const confirmInput = document.getElementById("confirm-del")

    function del() {
      value = '{{code.name}}'
      if (confirmInput.value === value) {
        window.location.href = "{% url 'delete_assay_code' request.user.username code.pk %}"
      } else {
        alert("Invalid code name entered, please try again.")
      }
    }

    delButton.addEventListener("click", del);

  </script>

</div>

{% endblock %}