{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Kit Items {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="row">
    <h3 class="text-center">Editing {{kit.name}}</h3>
  </div>

  <input type="hidden" value="{{kit.pk}}" name="pk">

  <div class="row justify-content-center mt-2">

    <div class="col-sm-3 form-width-18 mb-2">
      <div class="card">
        <div class="card-header">
          Reagents List
        </div>
        
        <ul class="list-group list-group-flush">
          {% for reagent in kit.storereagent_set.all %}
            {% include 'partials/kit_reagents.html' %}
          {% endfor %}
          <button 
            id="reagents"
            type="button" 
            class="list-group-item list-group-item-action list-group-item-primary"
            hx-get="{% url 'create_reagent_store' %}"
            hx-target="#reagent-forms"
            hx-include="[name='pk']"
            hx-swap="beforeend">
            + Reagent
          </button>
        </ul>
      </div>

      <div class="d-flex flex-wrap justify-content-center" id="reagent-forms">
      </div>
    </div>


    <div class="col-sm-3 form-width-18 mb-2">
      <div class="card">
        <div class="card-header">
          Tubes List
        </div>
        
        <ul class="list-group list-group-flush">
          {% for tube in kit.storetube_set.all %}
            {% include 'partials/kit_tubes.html' %}
          {% endfor %}
          <button 
            id="tubes"
            type="button" 
            class="list-group-item list-group-item-action list-group-item-primary"
            hx-get="{% url 'create_tube_store' %}"
            hx-target="#tube-forms"
            hx-include="[name='pk']"
            hx-swap="beforeend">
            + Tube
          </button>
        </ul>
      </div>
      
      <div class="d-flex flex-wrap justify-content-center" id="tube-forms">
      </div>
    </div>
 

    <div class="col-sm-3 form-width-18 mb-2">
      <div class="card">
        <div class="card-header">
          Plates List
        </div>
        
        <ul class="list-group list-group-flush">
          {% for plate in kit.storeplate_set.all %}
            {% include 'partials/kit_plates.html' %}
          {% endfor %}
          <button 
            id="plates"
            type="button" 
            class="list-group-item list-group-item-action list-group-item-primary"
            hx-get="{% url 'create_plate_store' %}"
            hx-target="#plate-forms"
            hx-include="[name='pk']"
            hx-swap="beforeend">
            + Plate
          </button>
        </ul>
      </div>

      <div class="d-flex flex-wrap justify-content-center" id="plate-forms">
      </div>
    </div>

    <div class="col-sm-3 form-width-18 mb-2">
      <div class="card">
        <div class="card-header">
          Gel List
        </div>
        
        <ul class="list-group list-group-flush">
          {% for gel in kit.storegel_set.all %}
            {% include 'partials/kit_gels.html' %}
          {% endfor %}
          <button 
            id="gels"
            type="button" 
            class="list-group-item list-group-item-action list-group-item-primary"
            hx-get="{% url 'create_gel_store' %}"
            hx-target="#gel-forms"
            hx-include="[name='pk']"
            hx-swap="beforeend">
            + Gel
          </button>
        </ul>
      </div>

      <div class="d-flex flex-wrap justify-content-center" id="gel-forms">
      </div>
    </div>

    <div class="col-sm-3 form-width-18 mb-2">
      <div class="card">
        <div class="card-header">
          Ladder List
        </div>
        
        <ul class="list-group list-group-flush">
          {% for ladder in kit.storeladder_set.all %}
            {% include 'partials/kit_ladders.html' %}
          {% endfor %}
          <button 
            id="ladders"
            type="button" 
            class="list-group-item list-group-item-action list-group-item-primary"
            hx-get="{% url 'create_ladder_store' %}"
            hx-target="#ladder-forms"
            hx-include="[name='pk']"
            hx-swap="beforeend">
            + Ladder
          </button>
        </ul>
      </div>

      <div class="d-flex flex-wrap justify-content-center" id="ladder-forms">
      </div>
    </div>

    <div class="col-sm-3 form-width-18 mb-2">
      <div class="card">
        <div class="card-header">
          Dye List
        </div>
        
        <ul class="list-group list-group-flush">
          {% for dye in kit.storedye_set.all %}
            {% include 'partials/kit_dyes.html' %}
          {% endfor %}
          <button 
            id="dyes"
            type="button" 
            class="list-group-item list-group-item-action list-group-item-primary"
            hx-get="{% url 'create_dye_store' %}"
            hx-target="#dye-forms"
            hx-include="[name='pk']"
            hx-swap="beforeend">
            + Dye
          </button>
        </ul>
      </div>

      <div class="d-flex flex-wrap justify-content-center" id="dye-forms">
      </div>
    </div>

    <div class="col-sm-3 form-width-18 mb-2">
      <div class="card">
        <div class="card-header">
          Control List
        </div>
        
        <ul class="list-group list-group-flush">
          {% for control in kit.storecontrol_set.all %}
            {% include 'partials/kit_controls.html' %}
          {% endfor %}
          <button 
            id="controls"
            type="button" 
            class="list-group-item list-group-item-action list-group-item-primary"
            hx-get="{% url 'create_control_store' %}"
            hx-target="#tube-forms"
            hx-include="[name='pk']"
            hx-swap="beforeend">
            + Control
          </button>
        </ul>
      </div>
      
      <div class="d-flex flex-wrap justify-content-center" id="tube-forms">
      </div>
    </div>
 
  </div>

  <div class="row justify-content-center">
    <div class="text-center mt-2">
      <a class="btn btn-secondary" href="{% url 'kits' %}">Kits</a>
      <button class="btn btn-primary" type="submit" id="submit-all">Add Items</button>
    </div>
  </div>
</div>

<script>
  $('.btn-arrow').click(function(){
    $(this).text(function(i,old){
      return old=='⮝' ?  '⮟' : '⮝';
    });
  });
</script>
{% endblock %}