{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                        
{% block title %} Store {% endblock %} 

{% block content %}
<div class="container">

  <div class="row">
    <h5 class="text-center">Reviews for Kit: {{kit.name}}</h5>
  </div>

  {% for message in messages %}
  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h5 class="messages">{{ message }}</h5>
    </div>
  </div>
  {% endfor %}
  
  <div class="row">

    <div class="col-sm-6">

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col" class="col-sm-4">Cat#: {{kit.catalog_number}}</th>
              <th scope="col" class="col-sm-2">Amount</th>
            </tr>
          </thead>
          
          <tbody>
            {% for reagents in kit.storereagent_set.all %}
            <tr class="table-success">
              <td>{{reagents.name}}</td>
              <td>{{reagents.volume}} {{reagents.unit_volume}}</td>
            </tr>
            {% endfor %}

            {% for tubes in kit.storetube_set.all %}
            <tr class="table-primary">
              <td>{{tubes.name}}</td>
              <td>{{tubes.amount}}</td>
            </tr>
            {% endfor %}

            {% for plates in kit.storeplate_set.all %}
            <tr class="table-warning">
              <td>{{plates.name}}</td>
              <td>{{plates.amount}}</td>
            </tr>
            {% endfor %}
          </tbody>
  
        </table>
      </div>

    </div>

    <div class="col-sm-6">
      {% for review in reviews %}
        <div class="card">
          <div class="card-header">

            Review by {{request.user.username}}:
            <div class="float-end">
              {% if review.rating == 0 %}
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              {% endif %}

              {% if review.rating == 1 %}
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              {% endif %}

              {% if review.rating == 2 %}
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              {% endif %}

              {% if review.rating == 3 %}
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
              {% endif %}

              {% if review.rating == 4 %}
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              {% endif %}

              {% if review.rating == 5 %}
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              {% endif %}
              {{review.rating}}/5
            </div>

          </div>
          <div class="card-body">
            <p>{{review.text}}</p>
            {% if review.user == request.user %}
              <a class="btn btn-primary float-end mt-2" href="{% url 'edit_review' request.user.username review.pk kit.pk %}">Edit Review</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
      
      {% if not has_reviewed %}
      <form method="POST" action="">
        {% csrf_token %}
        <div class="card">
          <div class="card-header">
            <div class="input-group mb-3 form-width-18">
              <span class="input-group-text">Review Star Rating:</span>
              {{form.rating}}
              <span class="input-group-text">/5</span>
            </div>
          </div>
          <div class="card-body">
            {{form.text}}
            <button class="btn btn-primary float-end mt-2" type="submit">Add Review</button>
          </div>
        </div>
      </form>
      {% endif %}

    </div>

  </div>

</div>
{% endblock %}