{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                     
{% block title %} Analytics Dashboard {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h3 class="text-center">Analytics Dashboard</h3>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <a href="{% url 'users' %}" class="btn btn-primary text-center">View &amp; Manage Users</a>
    </div>
  </div>

  <div class="row text-center mt-2">
    <div class="col d-flex justify-content-center"> 
      <h6>Registered Users: {{user_count}}</h6>
    </div>
    <div class="col d-flex justify-content-center"> 
      <h6>Active Users: {{active_count}}</h6>
    </div>
    <div class="col d-flex justify-content-center"> 
      <h6>Subscribed Users: {{sub_count}}</h6>
    </div>
  </div>

  <canvas id="myChart"></canvas>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Total Logins</th>
        </tr>
      </thead>

      <tbody>
        {% for login in login_list %}
          <tr>
            <td>{{login.date}}</td>
            <td>{{login.logins}}</td>
          </tr>
        {% endfor %}
      </tbody>

    </table>

  </div>
</div>

<script type="text/javascript">
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{json_dates|safe}},
      datasets: [{
        label: '# of Unique Logins ~30 days',
        data: {{logins|safe}},
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
{% endblock %}