{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                         
{% block title %} Assays {% endblock %} 

{% block content %}
<div class="container">

  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h3 class="text-center">Assays</h3>
    </div>
  </div>

  {% if messages %}
  <div class="row justify-content-center">
    {% for message in messages %}
    <h6 class="text-center message">{{ message }}</h6>
    {% endfor %}
  </div>
  {% endif %}

  <div class="justify-content-center">
    <div class="col d-flex justify-content-center">
      <a href="{% url 'create_assay' %}">
        <button type="button" class="btn btn-primary">
          Create New Assay
        </button>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col">

    {% if pcr_dna %}
    <h6>PCR Assays - DNA</h6>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col" class="col-sm-2">Name</th>
            <th scope="col" class="col-sm-2">Sample Volume</th>
            <th scope="col" class="col-sm-2">Reaction Volume</th>
            <th scope="col" class="col-sm-2">Fluorescence</th>
          </tr>
        </thead>

        <tbody>
          {% for assay in pcr_dna %}
            <tr 
              class="batch-row {% if not assay.is_complete %} batch-row table-danger {% endif %}" 
              data-href="{% url 'edit_assay' request.user.username assay.pk %}">
              <td>{{assay.name}}{% if not assay.is_complete %} (Not Complete) {% endif %}</td>
              <td>{{assay.sample_volume}}</td>
              <td>{{assay.reaction_volume}}</td>
              <td>
                {% for fluor in assay.fluorescence.all %}
                  {% if assay.location.all|length > 1 %}
                  <span>
                    {{fluor}} |
                  </span>
                  {% else %}
                  <span>
                    {{fluor}}
                  </span>
                  {% endif %}
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
    {% endif %}

    {% if pcr_rna %}
    <h6>PCR Assays - RNA</h6>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col" class="col-sm-2">Name</th>
            <th scope="col" class="col-sm-2">Sample Volume</th>
            <th scope="col" class="col-sm-2">Reaction Volume</th>
            <th scope="col" class="col-sm-2">Fluorescence</th>
          </tr>
        </thead>

        <tbody>
          {% for assay in pcr_rna %}
            <tr 
              class="batch-row {% if not assay.is_complete %} batch-row table-danger {% endif %}" 
              class="batch-row" data-href="{% url 'edit_assay' request.user.username assay.pk %}">
              <td>{{assay.name}}{% if not assay.is_complete %} (Not Complete) {% endif %}</td>
              <td>{{assay.sample_volume}}</td>
              <td>{{assay.reaction_volume}}</td>
              <td>
                {% for fluor in assay.fluorescence.all %}
                  {% if assay.location.all|length > 1 %}
                  <span>
                    {{fluor}} |
                  </span>
                  {% else %}
                  <span>
                    {{fluor}}
                  </span>
                  {% endif %}
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
    {% endif %}

    {% if qpcr_dna %}
    <h6>qPCR Assays - DNA</h6>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col" class="col-sm-2">Name</th>
            <th scope="col" class="col-sm-2">Sample Volume</th>
            <th scope="col" class="col-sm-2">Reaction Volume</th>
            <th scope="col" class="col-sm-2">Fluorescence</th>
          </tr>
        </thead>

        <tbody>
          {% for assay in qpcr_dna %}
            <tr 
              class="batch-row {% if not assay.is_complete %} batch-row table-danger {% endif %}" 
              class="batch-row" data-href="{% url 'edit_assay' request.user.username assay.pk %}">
              <td>{{assay.name}}{% if not assay.is_complete %} (Not Complete) {% endif %}</td>
              <td>{{assay.sample_volume}}</td>
              <td>{{assay.reaction_volume}}</td>
              <td>
                {% for fluor in assay.fluorescence.all %}
                  {% if assay.location.all|length > 1 %}
                  <span>
                    {{fluor}} |
                  </span>
                  {% else %}
                  <span>
                    {{fluor}}
                  </span>
                  {% endif %}
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
    {% endif %}

    {% if qpcr_rna %}
    <h6>qPCR Assays - RNA</h6>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col" class="col-sm-2">Name</th>
            <th scope="col" class="col-sm-2">Sample Volume</th>
            <th scope="col" class="col-sm-2">Reaction Volume</th>
            <th scope="col" class="col-sm-2">Fluorescence</th>
          </tr>
        </thead>

        <tbody>
          {% for assay in qpcr_rna %}
            <tr 
              class="batch-row {% if not assay.is_complete %} batch-row table-danger {% endif %}" 
              class="batch-row" data-href="{% url 'edit_assay' request.user.username assay.pk %}">
              <td>{{assay.name}} {% if not assay.is_complete %} (Not Complete) {% endif %}</td>
              <td>{{assay.sample_volume}}</td>
              <td>{{assay.reaction_volume}}</td>
              <td>
                {% for fluor in assay.fluorescence.all %}
                  {% if assay.location.all|length > 1 %}
                  <span>
                    {{fluor}} |
                  </span>
                  {% else %}
                  <span>
                    {{fluor}}
                  </span>
                  {% endif %}
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
    {% endif %}

    </div>
  </div>

  <script>
    $('.btn-arrow').click(function(){
      $(this).text(function(i,old){
        return old=='⮝' ?  '⮟' : '⮝';
      });
    });

    jQuery(document).ready(function($) {
      $(".batch-row").click(function() {
          window.location = $(this).data("href");
      });
    });
  </script>

</div>


{% endblock %}