{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Assay Controls {% endblock %} 

{% block content %}
<div class="container">

  <div class="row justify-content-center">
    <h3 class="text-center">{{assay.name}}</h3>
  </div>

  <div class="row justify-content-center">
    <h6 class="text-center">Type: {{assay.type}}</h6>
  </div>

  <form method="POST" action="">
    <div class="table-responsive">
      <table class="table table-bordered">
        
        <thead>
          <tr>
            <th scope="col">Control</th>
            <th scope="col">Lot #</th>
            <th scope="col">Exp. Date</th>
            <th scope="col">Display Order (0 is 1st)</th>
          </tr>
        </thead>
        <tbody>

          {{ controlformset.management_form }}
          {% csrf_token %}
          {% for controls, controlformset in controls_data %}

          {{controlformset.id}}

          <tr class="{% if controls.control.is_expired %} table-danger {% endif %} {% if controls.control.month_exp %} table-warning {% endif %}">
            <td>{{controls}} {% if controls.control.is_expired %} (EXPIRED) {% endif %} {% if controls.control.month_exp %} (&#60;1 MONTH TILL EXP) {% endif %}</td>
            <td>{{controls.control.lot_number}}</td>
            <td>{{controls.control.exp_date}}</td>
            <td>{{controlformset.order}}</td>
          </tr>

          {% endfor %}
        </tbody>

      </table>
    </div>
 
    {% if controlformset.errors %}
      <div class="row text-center mt-2">
      {% for errors in controlformset.errors %}
        {% for error in errors.values %}
          {{error}}
        {%endfor%}
      {% endfor %}
      </div>
    {% endif %}

    <div class="text-center"> 
      <a href="{% url 'edit_assay' assay.pk %}" class="btn btn-secondary">Cancel</a>
      <button class="btn btn-primary" type="submit">Update Controls</button>
    </div>

  </form>
 
</div>
{% endblock %}