{% extends "base.html" %} 

{% load static %}

{% block title %} Controls {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="row justify-content-center">
    <h3 class="text-center">Controls</h3>
    <p class="text-center"><a href="{% url 'tests_guide' %}" target="_blank" class="text-center">Tests Guide</a></p>
  </div>

  {% if messages %}
  <div class="row justify-content-center">
    {% for message in messages %}
    <h6 class="text-center message">{{ message }}</h6>
    {% endfor %}
  </div>
  {% endif %}

  <div class="row mt-3">
    <div class="col d-flex justify-content-center"> 
      <a href="{% url 'create_control'%}">
        <button type="button" class="btn btn-primary mb-2">Add New Control</button>
      </a>
    </div>
  </div>

  <form class="row gx-3 gy-2 align-items-center justify-content-center mb-2" method="GET" action="">
    <div class="col-sm-3">
      <div class="input-group">
        <div class="input-group-text">Name/Lot#</div>
        {{form.text_search}}
      </div>
    </div>
    <div class="col-sm-3">
      <div class="input-group">
        <div class="input-group-text">Location</div>
        {{form.location}}
      </div>
    </div>
    <div class="col-auto">
      <a class="btn btn-secondary me-1" href="{% url 'controls' %}" role="button">Clear</a>
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Exp. Date</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Name</th>
          <th scope="col">Brand</th>
          <th scope="col">Catalog #</th>
          <th scope="col">Lot #</th>
          <th scope="col">Amount Stored (μL)</th>
          <th scope="col">Location</th>
        </tr>
      </thead>

      <tbody>
        {% for control in page_obj %}
          <tr class="tube-row {% if control.is_expired %} table-danger {% endif %} {% if control.month_exp %} table-warning {% endif %}" data-href="{% url 'edit_control' control.pk %}">
            <td>{{control.exp_date}} {% if control.is_expired %} (EXPIRED) {% endif %} {% if control.month_exp %} (&#60;1 MONTH TILL EXP) {% endif %}</td>
            <td>{{control.last_updated}}</td>
            <td>{% if control.assay_set.count > 0 %} <i class="fa-solid fa-mortar-pestle"></i> {% endif %} {{control.name}}</td>
            <td>{{control.brand}}</td>
            <td>{{control.catalog_number}}</td>
            <td>{% if control.merged_lot_numbers|length > 0 %} <i class="fa-solid fa-cubes-stacked"></i> {% endif %} {{control.lot_number}}</td>
            <td>{{control.amount}}</td>

            <td>
              {% for location in control.location.all %}
                <span class="badge text-bg-info">
                  {{location}}
                </span>
              {% endfor %}
            </td>

          </tr>
        {% endfor %}
      </tbody>

    </table>

    <div class="d-flex justify-content-center">
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page=1">⮜⮜ First</a>
            <a href="?page={{ page_obj.previous_page_number }}">⮜</a>
          {% endif %}
  
          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>
  
          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">⮞</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last ⮞⮞</a>
          {% endif %}
        </span>
      </div>
    </div>
    
  </div>

</div>

<script>
  jQuery(document).ready(function($) {
    $(".tube-row").click(function() {
        window.location = $(this).data("href");
    });
  });
</script>

{% endblock %}