{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Add Fluorescence {% endblock %} 

{% block content %}

<link rel="stylesheet" href="{% static 'css/create_location.css' %}">

<div class="container">

  <div class="row justify-content-center">
    <h3 class="text-center">Add New Fluorescence</h3>
  </div>

  {% for message in messages %}
  <h6 class="messages text-center">{{ message }}</h6>
  {% endfor %}

  <form method="POST" action="">
    {% csrf_token %}
    <div class="row justify-content-center">
      <div class="col-sm-3">

        <div class="text-center">
          <label class="form-label">Name</label>
          {{form.name}}
        </div>

        <div class="text-center mt-2">
          <a class="btn btn-secondary" href="{% url 'fluorescence' %}">Cancel</a>
          <button type="submit" class="btn btn-primary">Add New Fluorescence</button>
        </div>

      </div>
    </div>
  </form>

 
</div>

{% endblock %}