{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                     
{% block title %} Add Tube {% endblock %} 

{% block content %}

<link rel="stylesheet" href="{% static 'css/create_control.css' %}">

<div class="container-fluid">

  <div class="row justify-content-center">
    <h3 class="text-center">Add New Tube</h3>
  </div>

  <form method="POST" action="">
    {% csrf_token %}

    <div class="text-center w-25 mx-auto">
      <label class="form-label">Name</label>
      {{form.name}}
    </div>

    <div class="text-center w-25 mx-auto">
      <label class="form-label">Lot Number</label>
      {{form.lot_number}}
    </div>

    <div class="text-center w-25 mx-auto">
      <label class="form-label">Amount Stored</label>
      {{form.amount}}
    </div>

    <div class="text-center w-25 mx-auto">
      <label class="form-label">Expiration Date</label>
      {{form.exp_date}}
    </div>

    <div class="row justify-content-center mt-2">
      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Location
            <button class="btn btn-primary btn-sm float-end" type="button" data-bs-toggle="collapse" data-bs-target="#assay-collapse" aria-expanded="false" aria-controls="assay-collapse">
              ⮟
            </button>
          </li>

          <div class="collapse" id="assay-collapse">
            <div class="card-body"> 
              <ul class="list-group">
                {% for loc in form.location %}
                  <li class="list-group-item">
                    {{loc}}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </ul>
      </div>
    </div>

    <div class="text-center mt-2"> 
      <input class="btn btn-primary mt-2" type="Submit" value="Create New Tube">
    </div>

  </form>

</div>

{% endblock %}