{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Edit Assay {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="row justify-content-center">
    <h3 class="text-center">{{assay.name}}</h3>
    <p class="text-center"><a href="{% url 'tests_guide' %}" target="_blank" class="text-center">Tests Guide</a></p>
  </div>

  <form method="POST" action="">
    {% csrf_token %}
    <div class="row justify-content-center">

      <div class="col-sm-3 form-width-18">
        <div class="text-center mt-3">
          <label class="form-label">Name</label>
          {{form.name}}
        </div>

        <div class="text-center mt-3">
          <span class="d-inline-block float-start" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right" data-bs-content="Is this assay qualitative (PCR) or quantitative (qPCR)?">
            <i class="fa-solid fa-circle-info"></i>
          </span>
          <label class="form-label">Method</label>
          {{form.method}}
        </div>

        <div class="text-center mt-3">
          <span class="d-inline-block float-start" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right" data-bs-content="What genetic material are you testing?">
            <i class="fa-solid fa-circle-info"></i>
          </span>
          <label class="form-label">Type</label>
          {{form.type}}
        </div>
        
        <div class="text-center mt-3">
          <span class="d-inline-block float-start" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right" data-bs-content="Total volume in each well.">
            <i class="fa-solid fa-circle-info"></i>
          </span>
          <label class="form-label">Reaction Volume (&#181;l)</label>
          {{form.reaction_volume}}
        </div>
      </div>

      <div class="col-sm-3 form-width-18">
        <div class="text-center mt-3">
          <span class="d-inline-block float-start" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right" data-bs-content="Amount of extracted sample in each well.">
            <i class="fa-solid fa-circle-info"></i>
          </span>
          <label class="form-label">Sample Volume (&#181;l)</label>
          {{form.sample_volume}}
        </div>

        <div class="text-center mt-3">
          <span class="d-inline-block float-start" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right" data-bs-content="Only required if assay method is PCR. If not, leave empty.">
            <i class="fa-solid fa-circle-info"></i>
          </span>
          <label class="form-label">Ladder</label>
          {{form.ladder}}
        </div>

        <div class="text-center mt-3">
          <span class="d-inline-block float-start" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right" data-bs-content="If assay method is PCR, set volume (µl) of ladder used in each gel.">
            <i class="fa-solid fa-circle-info"></i>
          </span>
          <label class="form-label">Ladder Volume Per Gel (&#181;l)</label>
          {{form.ladder_volume_per_gel}}
        </div>

        <div class="text-center mt-3">
          <span class="d-inline-block float-start" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right" data-bs-content="Are you adding loading dye to the well that has your ladder?">
            <i class="fa-solid fa-circle-info"></i>
          </span>
          <label class="form-label">Dye Used In Ladder?</label>
          {{form.dye_in_ladder}}
        </div>
      </div>

      <div class="col-sm-3 form-width-18">
        <div class="text-center mt-3">
          <span class="d-inline-block float-start" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right" data-bs-content="Only required if your assay method is PCR.">
            <i class="fa-solid fa-circle-info"></i>
          </span>
          <label class="form-label">Dye</label>
          {{form.dye}}
        </div>

        <div class="text-center mt-3">
          <span class="d-inline-block float-start" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right" data-bs-content="Volume of loading dye added to each well.">
            <i class="fa-solid fa-circle-info"></i>
          </span>
          <label class="form-label">Dye Volume Per Well (&#181;l)</label>
          {{form.dye_volume_per_well}}
        </div>

        <div class="text-center mb-2 mt-3">
          <span class="d-inline-block float-start" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right" data-bs-content="How many times do you wish to test this assay?">
            <i class="fa-solid fa-circle-info"></i>
          </span>
          <label class="form-label">Replicates</label>
          {{form.multiplicates}}
        </div>
      </div>
 
      <div class="col-sm-3 form-width-18">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="d-inline-block float-start me-1" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right" data-bs-content="Required if your assay method is qPCR.">
                <i class="fa-solid fa-circle-info"></i>
              </span>
              Fluorescence
              <button class="btn btn-primary btn-sm float-end btn-arrow" type="button" data-bs-toggle="collapse" data-bs-target="#fluor-collapse" aria-expanded="true" aria-controls="fluor-collapse">
                ⮝
              </button>
            </li>
            <div class="collapse show" id="fluor-collapse">
              <div class="card-body"> 
                <ul class="list-group">
                  {% for fluor in form.fluorescence %}
                    <li class="list-group-item">
                      {{fluor}}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </ul>
        </div>
      </div>

    </div>

    {% if form.errors %}
    <div class="row text-center mt-2">
      {% for key,value in form.errors.items %} 
        {{ value|escape }}
      {% endfor %}
    </div>
    {% endif %}

    <div class="row justify-content-center">
      <div class="text-center mt-2"> 
        <a class="btn btn-secondary" href="{% url 'assays' %}">Cancel</a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete Assay</button>
        <button class="btn btn-primary" type="submit" name="update">Update Assay</button>
      </div>
    </div>
  </form>

  <div class="row justify-content-center mt-4">

    <div class="col-sm-2 mt-4">
      <h3 class="text-center"><u>Controls<a href="{% url 'controls_in_assay' assay.pk %}" class="btn btn-primary btn-sm ms-2 mb-1"><i class="fa-solid fa-arrows-left-right"></i></a></u></h3>
      <ul class="list-group" id="controls-list">
        {% for control in assay_controls %}
          {% include 'assay/control_in_assay.html' %}
        {% endfor %}
      </ul>
    </div>

    <div class="col-sm-2 mt-4">
      <form class="gx-3 gy-2 align-items-center justify-content-center mb-2" method="GET" action="">
        <div class="input-group">
          {{search_control_form.text_search}}
          <div class="input-group-text"><button type="submit" class="btn btn-primary btn-sm" name="search_control"><i class="fa-solid fa-magnifying-glass"></i></button></div>
        </div>
      </form>

      <ul class="list-group" id="controls-list-search">
        {% for control in controls %}
          {% include 'assay/add_control_assay.html' %}
        {% endfor %}
      </ul>
    </div>

    <div class="col-sm-4 mt-4">
      <h3 class="text-center"><u>Reagents<a href="{% url 'reagents_in_assay' assay.pk %}" class="btn btn-primary btn-sm ms-2 mb-1"><i class="fa-solid fa-flask"></i></a></u></h3>
      <ul class="list-group" id="reagents-list">
        {% for reagent in assay_reagents %}
          {% include 'assay/reagent_in_assay.html' %}
        {% endfor %}
      </ul>
    </div>

    <div class="col-sm-4 mt-4">
      <form class="row gx-3 gy-2 align-items-center justify-content-center mb-2" method="GET" action="">
        <div class="input-group">
          {{search_reagent_form.text_search}}
          <div class="input-group-text"><button type="submit" class="btn btn-primary btn-sm" name="search_reagent"><i class="fa-solid fa-magnifying-glass"></i></button></div>
        </div>
      </form>

      <ul class="list-group" id="reagents-list-search">
        {% for reagent in reagents %}
          {% include 'assay/add_reagent_assay.html' %}
        {% endfor %}
      </ul>
    </div>
  
  </div>

  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Deleting Assay...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="container-sm">

            <div class="row justify-content-center">
              <h5 class="text-center">Are you sure?</h5>
            </div>
            
            <div class="row justify-content-center">
              <form method="POST" action="">
                {% csrf_token %}
          
                <div class="text-center mx-auto">
                  <label class="form-label">Enter: "{{assay.name}}" &amp; Confirm</label>
                  {{del_form.confirm}}
                </div>

                {% if del_form.errors %}
                <div class="row text-center mt-2">
                  {% for key,value in del_form.errors.items %} 
                    {{ value|escape }}
                  {% endfor %}
                </div>
                {% endif %}
          
                <div class="text-center mt-2">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-primary" name="delete">Confirm</button>
                </div>
              </form>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <script>
    $('.btn-arrow').click(function(){
      $(this).text(function(i,old){
        return old=='⮟' ?  '⮝' : '⮟';
      });
    });
  </script>

</div>

{% endblock %}