{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                         
{% block title %} Fluorescence {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="row justify-content-center">
    <h3 class="text-center">Fluorescence</h3>
    <a href="{% url 'tests_guide' %}" target="_blank" class="text-center">Tests Guide</a>
  </div>

  {% if messages %}
  <div class="row justify-content-center">
    {% for message in messages %}
    <h6 class="text-center message">{{ message }}</h6>
    {% endfor %}
  </div>
  {% endif %}

  <div class="justify-content-center mb-2 mt-3">
    <div class="col d-flex justify-content-center">
      <a href="{% url 'create_fluorescence' %}">
        <button type="button" class="btn btn-primary">
          Add New Fluorescence
        </button>
      </a>
    </div>
  </div>

  <form class="row gx-3 gy-2 align-items-center justify-content-center mb-2" method="GET" action="">
    <div class="col-sm-3">
      <div class="input-group">
        <div class="input-group-text">Name/Assays</div>
        {{form.text_search}}
      </div>
    </div>
    <div class="col-auto">
      <a class="btn btn-secondary me-1" href="{% url 'fluorescence' %}" role="button">Clear</a>
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>

  <div class="row">
    <div class="col justify-content-center">

      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col" class="col-sm-1">Name</th>
              <th scope="col" class="col-sm-11">Corresponding Assays</th>
            </tr>
          </thead>

          <tbody>
            {% for fluor in page_obj %}
              <tr class="batch-row" data-href="{% url 'edit_fluorescence' fluor.pk %}">
                <td>{{fluor.name}}</td>
                <td>
                  {% for assay in fluor.assay_set.all %}
                    <span class="badge text-bg-success">
                      {{assay}}
                    </span>
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-center">
        <div class="pagination">
          <span class="step-links">
            {% if page_obj.has_previous %}
              <a href="?page=1">⮜⮜ First</a>
              <a href="?page={{ page_obj.previous_page_number }}">⮜</a>
            {% endif %}
    
            <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
    
            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">⮞</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">Last ⮞⮞</a>
            {% endif %}
          </span>
        </div>
      </div>

    </div>
  </div>

</div>

<script>
  $('.btn-arrow').click(function(){
    $(this).text(function(i,old){
      return old=='⮝' ?  '⮟' : '⮝';
    });
  });

  jQuery(document).ready(function($) {
    $(".batch-row").click(function() {
        window.location = $(this).data("href");
    });
  });
</script>


{% endblock %}