{% extends "base.html" %} 

{% load static %}

{% block seo %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HEJQ4PHVWX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HEJQ4PHVWX');
</script>
{% endblock %}
                                                                                                                                                                                                                              
{% block title %} PCRprep Guide {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="row justify-content-center">
    <h1 class="text-center">Articles</h1>
  </div>

  <div class="row justify-content-start">
    
    <div class="col-sm-3">

      <div class="card">
        <img src="{% static 'images/inventory-img.png' %}"class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Automatically Calculate PCR Master Mix with PCRprep</h5>
          <p class="card-text">Learn how to calculate master mixes for PCR...</p>
          <a href="{% url 'pcrmastermix_article' %}" class="btn btn-primary float-end">Read Article</a>
        </div>
      </div>
      
    </div>

  </div>

</div>

<script>
  $('.btn-arrow').click(function(){
    $(this).text(function(i,old){
      return old=='⮝' ?  '⮟' : '⮝';
    });
  });
</script>
{% endblock%}