{% extends "base.html" %}

{% load static %}

{% block seo %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HEJQ4PHVWX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HEJQ4PHVWX');
</script>
{% endblock %}
                                                                                                                                                                                                                              
{% block title %} FAQ {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="row justify-content-center">
    <h1 class="text-center">FAQ</h1>
  </div>

  <div class="row justify-content-center">
    <h2 class="text-center">Our Services, Your Clarity</h2>
  </div>

  <div class="row mt-4">

    <div class="text-center fs-5">
      
      <h4><u>What problems does PCRprep address?</u></h4>
      <p>The primary problem that PCRprep aims to resolve is the amount of time spent in creating paperwork for PCR (Polymerase Chain Reaction). Of course, when it comes to a small number of samples with only one or two assays to test; this can be done manually within minutes. On the other hand, diagnostic companies that run PCR in large numbers tend to have their lab technicians spend too much time on creating paperwork and less time on the physical process. This is where PCRprep streamlines the process from paperwork to lab work.</p>
      <p>But regardless of how tedious the process may be, PCRprep still provides value in generating paperwork that includes the batch of samples for extraction, samples for PCR in plates/gels, and the calculated master mixes.</p>
      <p>The secondary problem that PCRprep aims to resolve is to prevent accidental use of expired reagents and overall tracking of reagents that are running low. Making a mistake in PCR often means starting all over again.</p>
      <p>PCRprep ensures that every item in your inventory is up-to-date and is of adequate stock from extraction to PCR.</p>

      <h4 class="mt-5"><u>Are there guides and tutorials for using PCRprep?</u></h4>
      <p>Yes, we highly recommend you read and follow through our <a href="{% url 'guide_page' %}">guide</a> before starting. We also have a <a href="https://www.youtube.com/channel/UC4DJGnjrahhneltYoC-iF3w" rel="nofollow">YouTube</a> channel which is currently under development.</p>

      <h4 class="mt-5"><u>Is PCRprep free to use forever?</u></h4>
      <p>Yes, but you are limited with the number of assays, controls, panels, (extraction) batches, and (PCR) processes you can create. Once you register your account, you are automatically assigned as a freemium user. You may then decide to upgrade as a premium user should you require more capacity.</p>

      <h4 class="mt-5"><u>What are the limits as a freemium user?</u></h4>
      <p>You are limited to only having a max number of 10 assays, 50 controls, 20 panels, 500 (extraction) batches, and 500 (PCR) processes.</p>

      <h4 class="mt-5"><u>What are the limits as a premium user?</u></h4>
      <p>Premium users have access to a higher limit of 1000 assays, 5000 controls, 2000 panels. 50,000 (extraction) batches and 50,000 (PCR) processes.</p>

    </div>

  </div>

</div>
{% endblock %}