{% extends "base.html" %} 

{% load static %}

{% block seo %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HEJQ4PHVWX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HEJQ4PHVWX');
</script>
{% endblock %}
                                                                                                                                                                                                                              
{% block title %} PCRprep Guide {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="row justify-content-center">
    <h1 class="text-center">The Workflow</h1>
  </div>

  <div class="row justify-content-start">
    {% comment %} <div class="col-sm-3">
      <h3 class="text-center"><u>Store</u></h3>
        <a href="#">
          <img src="{% static 'images/store-img.png' %}"class="card-img-top" alt="...">
        </a>
      <h4 class="text-center mb-5"><a href="#">Read Guide</a></h4>
    </div> {% endcomment %}

    <div class="col-sm-3">
      <h3 class="text-center"><u>Inventory #1</u></h3>
        <a href="{% url 'inventory_guide' %}">
          <img src="{% static 'images/inventory-img.png' %}"class="card-img-top" alt="...">
        </a>
      <h4 class="text-center mb-5"><a href="{% url 'inventory_guide' %}">Read Guide</a></h4>
    </div>

    <div class="col-sm-3">
      <h3 class="text-center"><u>Tests #2</u></h3>
        <a href="{% url 'tests_guide' %}">
          <img src="{% static 'images/tests-img.png' %}"class="card-img-top" alt="...">
        </a>
      <h4 class="text-center mb-5"><a href="{% url 'tests_guide' %}">Read Guide</a></h4>
    </div>

    <div class="col-sm-3">
      <h3 class="text-center"><u>Protocols #3</u></h3>
        <a href="{% url 'protocols_guide' %}">
          <img src="{% static 'images/protocols-img.png' %}"class="card-img-top" alt="...">
        </a>
      <h4 class="text-center mb-5"><a href="{% url 'protocols_guide' %}">Read Guide</a></h4>
    </div>

    <div class="col-sm-3">
      <h3 class="text-center"><u>Extraction #4</u></h3>
        <a href="{% url 'extraction_guide' %}">
          <img src="{% static 'images/extraction-img.png' %}"class="card-img-top" alt="...">
        </a>
      <h4 class="text-center mb-5"><a href="{% url 'extraction_guide' %}">Read Guide</a></h4>
    </div>

    <div class="col-sm-3">
      <h3 class="text-center"><u>PCR #5</u></h3>
        <a href="{% url 'pcr_guide' %}">
          <img src="{% static 'images/pcr-img.png' %}"class="card-img-top" alt="...">
        </a>
      <h4 class="text-center mb-5"><a href="{% url 'pcr_guide' %}">Read Guide</a></h4>
    </div>

    {% comment %} <div class="col-sm-3">
      <h3 class="text-center"><u>Latest Updates &amp; Features</u></h3>
        <a href="#">
          <img src="{% static 'images/pcr-img.png' %}"class="card-img-top" alt="...">
        </a>
      <h4 class="text-center mb-5"><a href="#">Read Notes</a></h4>
    </div> {% endcomment %}
  </div>

  <div class="row justify-content-center">
    <h1 class="text-center">Articles</h1>
  </div>

</div>

<script>
  $('.btn-arrow').click(function(){
    $(this).text(function(i,old){
      return old=='⮝' ?  '⮟' : '⮝';
    });
  });
</script>
{% endblock%}