{% extends "base.html" %} 

{% load static %}

{% block seo %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HEJQ4PHVWX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HEJQ4PHVWX');
</script>
{% endblock %}
                                                                                                                                                                                                                              
{% block title %} PCRprep Guide {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="row justify-content-center">
    <h1 class="text-center">Guides</h1>
  </div>

  <div class="row justify-content-start">
    
    <div class="col-sm-3">
      <div class="card">
        <img src="{% static 'images/inventory-img.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Inventory #1</h5>
          <p class="card-text">Learn to how setup your inventory...</p>
          <a href="{% url 'inventory_guide' %}" class="btn btn-primary float-end">Read Guide</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <img src="{% static 'images/tests-img.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tests #2</h5>
          <p class="card-text">Learn how to create assays...</p>
          <a href="{% url 'tests_guide' %}" class="btn btn-primary float-end">Read Guide</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <img src="{% static 'images/inventory-img.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Protocols #3</h5>
          <p class="card-text">Learn how to add protocols...</p>
          <a href="{% url 'protocols_guide' %}" class="btn btn-primary float-end">Read Guide</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <img src="{% static 'images/extraction-img.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Extraction #4</h5>
          <p class="card-text">Generate paperwork for extraction...</p>
          <a href="{% url 'extraction_guide' %}" class="btn btn-primary float-end">Read Guide</a>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <img src="{% static 'images/pcr-img.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PCR #5</h5>
          <p class="card-text">Generate paperwork for PCR...</p>
          <a href="{% url 'pcr_guide' %}" class="btn btn-primary float-end">Read Guide</a>
        </div>
      </div>
    </div>

  </div>

</div>

<script>
  $('.btn-arrow').click(function(){
    $(this).text(function(i,old){
      return old=='⮝' ?  '⮟' : '⮝';
    });
  });
</script>
{% endblock%}