{% extends "base.html" %}

{% load static %}

{% block seo %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HEJQ4PHVWX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HEJQ4PHVWX');
</script>
{% endblock %}
                                                                                                                                                                                                                              
{% block title %} Welcome to PCRprep {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="container bg-primary">
    <div class="row mb-3">
      <h1 class="text-center text-warning display-5 mt-2">PCR(Polymerase Chain Reaction)prep: Spend More Time On The Bench &amp; Less On Spreadsheets</h1>

      <h2 class="text-center text-light mt-2">Keep Track Of Primers, Controls, Assays, &amp; Generate Paperwork Within Minutes From Extraction To PCR.</h2>
      
      <div class="d-flex justify-content-center">
        <iframe width="660" height="415" src="https://www.youtube.com/embed/IJtDBgoFGRQ?si=9YH4CaI4vhzQlpAu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>

      <div class="d-flex justify-content-center fs-5">
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item bg-primary px-5 text-warning mb-4">Do you perform PCR on a daily basis and spend hours on creating paperwork?</li>
          <li class="list-group-item bg-primary px-5 text-warning mb-4">Do you process hundreds of samples a week and run multiple assays?</li>
          <li class="list-group-item bg-primary px-5 text-warning mb-4">Are you tired of calculating your master mixes every time?</li>
          <li class="list-group-item bg-primary px-5 text-warning mb-4">Have you accidently used an expired reagent and had to redo the entire process?</li>
          <li class="list-group-item bg-primary px-5 text-warning mb-4">Do you find it difficult to manage inventory and tend to run out of stock?</li>
          <li class="list-group-item bg-primary px-5 text-warning"></li>
        </ul>
      </div>
      <h5 class="text-center mt-3 text-warning">If you find any of these questions above a concern of yours then try PCRprep for today!</h5>
    </div>

    <div class="d-flex justify-content-center">
      <a href="{% url 'register' %}" type="button" class="btn btn-warning btn-lg">Register Now</a>
    </div>

    <hr class="text-warning">

    <h3 class="text-center text-warning"><u>The Workflow</u></h3>

    <div class="row mt-3 d-flex align-items-center">
      <div class="col-sm-6">
        <h4 class="text-warning">Inventory</h4>
        <p class="text-light">Inventory is the foundation of running PCR processes. You will need items for both extraction and PCR. Keeping count of what you have and what you don’t have can be a challenge. But with PCRprep, you will find inventory tracking to be a much more seamless process.</p>
        <p class="text-light">First you create storage locations to assign to each inventory item. Then you add your reagents, tubes, plates, gels, ladders, and loading dyes. These items will all contain a name, brand, catalog number, lot number, and amount stored.</p>
        <p class="text-light">You can then assign an expiration date to time sensitive items such as PCR reagents. Once your inventory is setup you can always go back and check to see what’s in stock, what needs to be replenished, and what is expired.</p>
        <p class="text-light">Once this is all done, you are ready to create your assays to eventually assign your samples the tests they require.</p>
      </div>

      <div class="col-sm-6">
        <button type="button" class="btn btn-warning btn-sm float-end" data-bs-toggle="modal" data-bs-target="#modal1">
          View Slides
        </button>
        <img src="{% static 'images/locations-slide.PNG' %}" class="img-fluid" alt="">
      </div>
    </div>

    <hr class="text-warning">

    <div class="row mt-3 d-flex align-items-center">
      <div class="col-sm-6">
        <h4 class="text-warning">Tests (Assays)</h4>
        <p class="text-light">PCRprep allows you to customize each assay to what reagents they require. When creating an assay, you first give it a name and choose whether it will be for PCR or qPCR. Of course, all assays must have a reaction volume and sample volume that you are adding to each well in a plate.</p>
        <p class="text-light">PCR assays require loading dyes and ladders as they use gel electrophoresis to view the results. You may also need to run replicates of the assay which you may do so. For qPCR assays, they must be assigned a fluorescence tag to be used during analysis.</p>
        <p class="text-light">Each assay will have their own unique set of primers (forward and reverse) and require a diluent (such as water), an enzyme (polymerase),  dNTP’s, and several other buffers that may be included.</p>
        <p class="text-light">Every assay also requires at least one control and sometimes multiple controls for a gradient. Controls are very time sensitive reagents that should not be used should they expire and botch your results. With PCRprep, you can assign each control an expiration date where you will not be allowed to continue the workflow should there be an expired reagent in use.</p>
      </div>

      <div class="col-sm-6">
        <button type="button" class="btn btn-warning btn-sm float-end" data-bs-toggle="modal" data-bs-target="#modal2">
          View Slides
        </button>
        <img src="{% static 'images/assays-slide.PNG' %}" class="img-fluid" alt="">
      </div>
    </div>

    <hr class="text-warning">

    <div class="row mt-3 d-flex align-items-center">
      <div class="col-sm-6">
        <h4 class="text-warning">Protocols</h4>
        <p class="text-light">Protocols are necessary to decide how the samples will be extracted, what assays each sample requires, and what thermal cycler settings will be used.</p>
        <p class="text-light">When you have created your assays, the next step to create a panel which is simply a group of assays under one label. For example, if you have two assays of “E.coli Str1” and E.coli Str2” you can create a panel called “E.coli Panel” that will test samples for these two strains of E.coli. Of course, if you only intend to test for one assay then you can simply just create a panel with that that one assay to test.</p>
        <p class="text-light">Extraction protocols are the next requirement where you must decide whether you are extracting DNA, RNA, or both from your samples. You must then assign the tubes and reagents used for this extraction.</p>
        <p class="text-light">Thermal cycler protocols are the last requirement where you must set the time and duration of the following steps: denature, anneal, and extend. You can then decide how many cycles you are running.</p>
      </div>

      <div class="col-sm-6">
        <button type="button" class="btn btn-warning btn-sm float-end" data-bs-toggle="modal" data-bs-target="#modal3">
          View Slides
        </button>
        <img src="{% static 'images/panels-slide.PNG' %}" class="img-fluid" alt="">
      </div>
    </div>

    <hr class="text-warning">

    <div class="row mt-3 d-flex align-items-center">
      <div class="col-sm-6">
        <h4 class="text-warning">Extraction</h4>
        <p class="text-light">When your inventory, tests, and protocols have been set you can now begin creating batches of samples for extraction.</p>
        <p class="text-light">Creating a batch requires you to give it a name, number of samples for extraction, and lab ID which must be composed of three capitalized English letters.</p>
        <p class="text-light">You must then select a panel to decide what assays are required for the samples. Then according to what type of assays (RNA, DNA, or both) you choose, you must select an extraction protocol appropriate to extracting that genetic material.</p>
        <p class="text-light">For example, if you have a panel for C.bovis (DNA) and HIV (RNA), then you must select an extraction protocol to extract both DNA and RNA.</p>
      </div>

      <div class="col-sm-6">
        <button type="button" class="btn btn-warning btn-sm float-end" data-bs-toggle="modal" data-bs-target="#modal4">
          View Slides
        </button>
        <img src="{% static 'images/batch-samples-slide.PNG' %}" class="img-fluid" alt="">
      </div>
    </div>

    <hr class="text-warning">

    <div class="row mt-3 d-flex align-items-center pb-4">
      <div class="col-sm-6">
        <h4 class="text-warning">PCR</h4>
        <p class="text-light">Once samples have been extracted you are able to select which samples to process for PCR. You must then review all samples sorted by each assay they require and adjust the proper settings. </p>
        <p class="text-light">You must assign the process a name and select thermal cycler protocols. Then you can decide what plates and gels you wish to use. </p>
        <p class="text-light">For the following settings below it is recommended to initially leave all to 0 and to calculate master mixes with an additional well.</p>
        <p class="text-light">You can now update and review the process where you will see how PCRprep generates paperwork. Once you are satisfied, you can confirm the paperwork where you no longer be allowed to make any modifications to the process and you can now print the results to assist you in PCR.</p>
      </div>

      <div class="col-sm-6">
        <button type="button" class="btn btn-warning btn-sm float-end" data-bs-toggle="modal" data-bs-target="#modal5">
          View Slides
        </button>
        <img src="{% static 'images/process-samples-slide.PNG' %}" class="img-fluid" alt="">
      </div>
    </div>

  </div> 

  <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Inventory</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="container">
            <div id="carouselExampleCaptions" class="carousel carousel-dark slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{% static 'images/locations-slide.PNG' %}" class="img-fluid" alt="">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'images/reagents-slide.PNG' %}" class="img-fluid" alt="">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'images/tubes-slide.PNG' %}" class="img-fluid" alt="">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'images/plates-slide.PNG' %}" class="img-fluid" alt="">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'images/gels-slide.PNG' %}" class="img-fluid" alt="">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'images/dyes-slide.PNG' %}" class="img-fluid" alt="">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'images/ladders-slide.PNG' %}" class="img-fluid" alt="">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Tests (Assays)</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="container">
            <div id="carouselExampleCaptions1" class="carousel carousel-dark slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{% static 'images/assays-slide.PNG' %}" class="img-fluid" alt="">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'images/controls-slide.PNG' %}" class="img-fluid" alt="">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'images/fluorescence-slide.PNG' %}" class="img-fluid" alt="">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Protocols</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="container">
            <div id="carouselExampleCaptions2" class="carousel carousel-dark slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{% static 'images/panels-slide.PNG' %}" class="img-fluid" alt="">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'images/extraction-protocols-slide.PNG' %}" class="img-fluid" alt="">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'images/thermal-cycler-protocol-slide.PNG' %}" class="img-fluid" alt="">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Extraction</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="container">
            <div id="carouselExampleCaptions3" class="carousel carousel-dark slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="1" aria-label="Slide 2"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{% static 'images/batch-samples-slide.PNG' %}" class="img-fluid" alt="">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'images/batch-paperwork-slide.PNG' %}" class="img-fluid" alt="">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">PCR</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="container">
            <div id="carouselExampleCaptions4" class="carousel carousel-dark slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions4" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions4" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions4" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions4" data-bs-slide-to="3" aria-label="Slide 4"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{% static 'images/process-samples-slide.PNG' %}" class="img-fluid" alt="">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'images/review-process-slide.PNG' %}" class="img-fluid" alt="">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'images/process-paperwork-1-slide.PNG' %}" class="img-fluid" alt="">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'images/process-paperwork-2-slide.PNG' %}" class="img-fluid" alt="">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions4" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions4" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}