{% extends "base.html" %}

{% load static %}
                                                                                                                                                                                                                              
{% block title %} PCRprep {% endblock %} 

{% block content %}
<div class="container">

  <h1 class="text-center">Introducing PCRprep: Free PCR Inventory Management &amp; Paperwork</h1>

  <p>Explain what PCRprep does.</p>



</div>
{% endblock %}