{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Privacy Policy {% endblock %} 

{% block content %}
<div class="container">

  <div class="row justify-content-center">
    <h1 class="text-center">Privacy Policy</h1>
  </div>

  <div class="row justify-content-center">
    <p class="text-center fs-4">By registering your account, it is our obligation to protect your personal information. Your personal information will be used as authentication to our application as well as sharing your credibility when it comes to reviewing products. We encourage you to share your personal experiences with laboratory products but in doing so, your email will be shown should an individual seek validity in your reviews.</p>
  </div>

</div>
{% endblock%}