{% extends "base.html" %} 

{% load static %}

{% block seo %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HEJQ4PHVWX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HEJQ4PHVWX');
</script>
{% endblock %}
                                                                                                                                                                                                                              
{% block title %} Subscription Policy {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="row justify-content-center">
    <h1 class="text-center">Subscription Policy</h1>
  </div>

  <div class="row justify-content-center">
    <p class="text-center fs-4">We have integrated <a href="https://stripe.com/" rel="nofollow">Stripe</a> as the method of running our subscription model. Should you purchase ‘PREMIUM’ through Stripe in order to increase your capacity in our application, you will be billed on a monthly basis and may choose to end the subscription at anytime. Be aware that there are no refunds. You must cancel your subscription before the next bill is charged for the month.</p>
  </div>

</div>
{% endblock%}