{% extends "base.html" %} 

{% load static %}

{% block seo %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HEJQ4PHVWX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HEJQ4PHVWX');
</script>
{% endblock %}
                                                                                                                                                                                                                              
{% block title %} Terms &amp; Conditions {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="row justify-content-center">
    <h1 class="text-center">Terms &amp; Conditions</h1>
  </div>

  <div class="row justify-content-center">
    <p class="text-center fs-4">By registering your account, you agree that PCRprep&apos;s content and code is intellectual property that is protected under copyright laws. Your account may be terminated for the abuse of our system or by our sole discretion. We are not responsible to any third-party links you click on our website. This agreement is governed by the laws of the United States of America.</p>
  </div>

</div>
{% endblock%}