{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Terms &amp; Conditions {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="row justify-content-center">
    <h1 class="text-center">Subscription Policy</h1>
  </div>

  <div class="row justify-content-center">
    <p class="text-center fs-4">By registering your account, you agree that PCRprep’s content and code is intellectual property that is protected under copyright laws. Your account be terminated for the abuse of our system or by our sole discretion. We are not responsible to any third-party links you click on our website. This agreement is governed by the laws of the United States of America.</p>
  </div>

</div>
{% endblock%}