{% extends "base.html" %} 

{% load static %}

{% block title %} Login - LabPrep {% endblock %} 

{% block content %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="container">

  <h3 class="text-center">Welcome to PCRPrep</h3>

  <div class="row justify-content-center mb-2">

    <div class="col-sm-9">
      Introduce what PCRPrep is about!
    </div>

    <div class="col-sm-3 form-width-18">
      <form method="POST" action="">
        {% csrf_token %}
        <h3 class="text-center">LOGIN</h3>

        <div class="form-floating mb-3">
          <input type="text" name="username" id="floatingEmail" placeholder="Username/Email" class="form-control">
          <label for="floatingEmail">Username/Email</label>
        </div>

        <div class="form-floating mb-3">
          <input type="password" name="password" id="floatingPassword" placeholder="Password" class="form-control">
          <label for="floatingPassword">Password</label>
        </div>

        <div class="text-center mt-2">
          Don't have an account?&nbsp;<a href="{% url 'register' %}" class="ml-2">Sign Up</a>
          Forgot password?&nbsp;<a href="{% url 'reset_password' %}" class="ml-2">Reset</a>
        </div>
      
        <div class="text-center mt-2"> 
          <button class="btn btn-primary" type="submit">Login</button>
        </div>

      </form>



    </div>

  </div>

</div>
{% endblock %}