{% extends "base.html" %} 

{% load static %}

{% block title %} Login - LabPrep {% endblock %} 

{% block content %}
<div class="container">

  <div class="row pt-3">
    <h1 class="text-center display-1">Manage PCR Inventory &amp; Paperwork</h1>
  </div>

  <div class="row justify-content-center pt-2 pb-3">

    <div class="col-sm-4">
      <div class="card">
        <img src="{% static 'images/free-tier-img.png' %}"class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Free Tier</h5>
          <ol class="list-group list-group-numbered list-group-flush">
            <li class="list-group-item">A list item</li>
            <li class="list-group-item">A list item</li>
            <li class="list-group-item">A list item</li>
          </ol>
          <a href="#" class="card-link float-end">Read Full Details</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <img src="{% static 'images/lab-tier-img.png' %}"class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Lab Tier</h5>
          <ol class="list-group list-group-numbered list-group-flush">
            <li class="list-group-item">A list item</li>
            <li class="list-group-item">A list item</li>
            <li class="list-group-item">A list item</li>
          </ol>
          <a href="#" class="card-link float-end">Read Full Details</a>
        </div>
      </div>
    </div>

    {% comment %} <div class="col-sm-3">
      <div class="card">
        <img src="{% static 'images/latest-updates-img.png' %}"class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Latest Updates</h5>
          <ol class="list-group list-group-numbered list-group-flush">
            <li class="list-group-item">A list item</li>
            <li class="list-group-item">A list item</li>
            <li class="list-group-item">A list item</li>
          </ol>
          <a href="#" class="card-link float-end">Read Full Details</a>
        </div>
      </div>
    </div> {% endcomment %}

    <div class="col-sm-4">
      <div class="card">
        <img src="{% static 'images/pcr-prep-logo.png' %}"class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Login</h5>

          <form method="POST" action="">
            {% csrf_token %}
            <div class="form-floating mb-2">
              {{form.username}}
              <label for="username">Username/Email</label>
            </div>
    
            <div class="form-floating mb-2">
              {{form.password}}
              <label for="password">Password</label>
            </div>

            <div class="d-flex justify-content-center">
              {{form.recaptcha}}
            </div>

            {% for message in messages %}
            <div class="row">
              <div class="col d-flex justify-content-center"> 
                <p class="messages text-center">{{ message }}</p>
              </div>
            </div>
            {% endfor %}
          
            <div class="text-center mb-3 mt-1"> 
              <button class="btn btn-primary" type="submit">Login</button>
            </div>
    
            <div class="text-center">
              <p class="m-0">Don't have an account?&nbsp;<a href="{% url 'register' %}">Sign Up</a></p>
              <p class="m-0">Forgot password?&nbsp;<a href="{% url 'reset_password' %}">Reset Password</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}