{% extends "base.html" %} 

{% load static %}

{% block google %}
<script src="https://accounts.google.com/gsi/client" async></script>
{% endblock %}

{% block seo %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HEJQ4PHVWX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HEJQ4PHVWX');
</script>
{% endblock %}

{% block title %} Login - LabPrep {% endblock %} 

{% block content %}
<div class="container">

  <div class="row pt-3">
    <h1 class="text-center display-1">Manage PCR Inventory &amp; Paperwork</h1>
  </div>

  <div class="row justify-content-center pt-2 pb-3">

    <div class="col-sm-4">
      <div class="card">
        <img src="{% static 'images/free-tier-img.png' %}"class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Latest Updates</h5>
          <ol class="list-group list-group-numbered list-group-flush">
            <li class="list-group-item"><a href="{% url 'faq_page' %}">Answers and questions...</a></li>
            <li class="list-group-item"><a href="https://discord.com/invite/9DXKkhDdtT">Join our community...</a></li>
            <li class="list-group-item"><a href="{% url 'guide_page' %}">Read our guide...</a></li>
            <li class="list-group-item"><a href="{% url 'create_contact' %}">How you can work with us...</a></li>
            <li class="list-group-item"><a href="https://www.youtube.com/channel/UC4DJGnjrahhneltYoC-iF3w">Our YouTube channel...</a></li>
          </ol>
          <a href="{% url 'about_page' %}" class="card-link float-end">Contact Us</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <img src="{% static 'images/lab-tier-img.png' %}"class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Guide</h5>
          <ol class="list-group list-group-numbered list-group-flush">
            <li class="list-group-item"><a href="{% url 'inventory_guide' %}">Add your reagents...</a></li>
            <li class="list-group-item"><a href="{% url 'tests_guide' %}">Create your assays...</a></li>
            <li class="list-group-item"><a href="{% url 'protocols_guide' %}">Build your panels...</a></li>
            <li class="list-group-item"><a href="{% url 'extraction_guide' %}">Select your extractions...</a></li>
            <li class="list-group-item"><a href="{% url 'pcr_guide' %}">Generate your paperwork...</a></li>
          </ol>
          <a href="{% url 'guide_page' %}" class="card-link float-end">Read Full Guide</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <img src="{% static 'images/pcr-prep-logo.png' %}"class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Login</h5>

          <div class="d-flex justify-content-center mb-2">
            <div id="g_id_onload"
              data-client_id="285056439453-063lum33ld2ga6sjlfe68jrm3srluou4.apps.googleusercontent.com"
              data-context="signin"
              data-ux_mode="popup"
              data-login_uri="{% url 'auth_receiver' %}"
              data-itp_support="true">
            </div>

            <div class="g_id_signin"
              data-type="standard"
              data-shape="rectangular"
              data-theme="filled_blue"
              data-text="signin_with"
              data-size="large"
              data-logo_alignment="left"
              data-width="200">
            </div>
          </div>

          <form method="POST" action="">
            {% csrf_token %}
            <div class="form-floating mb-2">
              {{form.username}}
              <label for="username">Username/Email</label>
            </div>
    
            <div class="form-floating mb-2">
              {{form.password}}
              <label for="password">Password</label>
            </div>

            <div class="d-flex justify-content-center">
              {{form.recaptcha}}
            </div>

            {% if messages %}
            <div class="row justify-content-center">
              {% for message in messages %}
              <div class="alert alert-info" role="alert">
                <h6 class="text-center message">{{ message }}</h6>
              </div>
              {% endfor %}
            </div>
            {% endif %}
          
            <div class="text-center mb-3 mt-1"> 
              <button class="btn btn-primary" type="submit">Login</button>
            </div>
    
            <div class="text-center">
              <p class="m-0">Don't have an account?&nbsp;<a href="{% url 'register' %}">Sign Up</a></p>
              <p class="m-0">Forgot password?&nbsp;<a href="{% url 'reset_password' %}">Reset Password</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}