{% extends "base.html" %}

{% load static %}

{% block seo %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HEJQ4PHVWX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HEJQ4PHVWX');
</script>
{% endblock %}

{% block title %} LabPrep Register {% endblock %} 

{% block content %}
<div class="container">

  <div class="row pt-3">
    <h1 class="text-center display-1">Get Started For Free</h1>
  </div>

  <div class="row justify-content-center mb-2">

    <div class="col-sm-9">
      <img src="{% static 'images/pcr-prep-diagram.png' %}"class="card-img-top" alt="...">
    </div>

    <div class="col-sm-3">
      <h3 class="text-center">Register Account</h3>
      <form method="POST" action="">
        {% csrf_token %}

        <div class="form-floating mb-2">
          {{form.username}}
          <label for="username">Username</label>
        </div>

        <div class="form-floating mb-2">
          {{form.email}}
          <label for="email">Email</label>
        </div>
        
        <div class="form-floating mb-2">
          {{form.first_name}}
          <label for="first_name">First Name</label>
        </div>
        
        <div class="form-floating mb-2">
          {{form.last_name}}
          <label for="last_name">Last Name</label>
        </div>
        
        <div class="form-floating mb-2">
          {{form.password1}}
          <label for="password1">Password</label>
        </div>

        <div class="form-floating mb-2">
          {{form.password2}}
          <label for="password2">Confirm Password</label>
        </div>

        <div class="d-flex justify-content-center">
          {{form.recaptcha}}
        </div>

        {% if form.errors %}
        <div class="row text-center mt-2">
          {% for key,value in form.errors.items %} 
            {{ value|escape }}
          {% endfor %}
        </div>
        {% endif %}

        {% for message in messages %}
        <div class="row">
          <div class="col d-flex justify-content-center"> 
            <h5 class="messages">{{ message }}</h5>
          </div>
        </div>
        {% endfor %}

        <div class="text-center mt-2"> 
          <button class="btn btn-primary" type="submit">Register Account</button>
        </div>

      </form>

      <div class="d-flex justify-content-center mt-2">
        Already have an account?&nbsp;<a href="{% url 'login' %}" class="ml-2">Login</a>
      </div>


    </div>

  </div>
      
  

</div>
{% endblock %}