{% extends "base.html" %} 

{% load static %}

{% block title %} Viewing - {{user.first_name}} {{user.last_name}} {% endblock %} 

{% block content %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="container my-5">
  <div class="row profile-row">

    <div class="col text-center">
      <p class="mb-1">Role: {{user.profile.group_access}} </p>
      <p class="mb-1">{{user.first_name}} {{user.last_name}}</p>
      <img class="profile-pic" src={{user.profile.image_url}}>
      <p class="mb-0 mt-1">{{user.profile.username}}</p>
      <p>{{user.profile.email}}</p>
    </div>

  </div>
</div>


{% endblock %}