{% extends "base.html" %} 

{% load static %}
{% load custom_tags %}
                                                                                                                                                                                                                              
{% block title %} Extraction Paperwork {% endblock %} 

{% block content %}
<div class="container">

  <div class="row">
    <h5 class="text-center">Extraction Paperwork</h5>
  </div>

  <div class="justify-content-center">
    <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-primary mt-2 mb-2" id="printButton">Print Paperwork</button>
    </div>
    <p class="text-center">**Refresh page if styles are not applied when printing. Enable background graphics to view and print color.**</p>
  </div>

  <div class="container p-3" id="printDiv">

    <div class="row">
      <div class="col">
        <h6>Batch: {{batch.name}}</h6>
        <h6>Created: {{batch.date_created}}</h6>
        <h6>Panel: {{batch.code}}</h6>
        <h6>Extraction: {{batch.extraction_protocol}}</h6>
      </div>

      <div class="col">
        <h6>Anomalies: {{batch.number_of_anomalies}}</h6>
        <h6>Number of assays: {{batch.number_of_assays}}</h6>
        <h6>Number of samples: {{batch.total_samples}}</h6>
        <h6>Total tests: {{batch.total_tests}}</h6>
      </div>
    </div>

    <div class="table-responsive">
      <h5 class="text-center">Samples</h5>
      <table class="table table-bordered" style="break-inside: avoid">
        <thead>
          <tr>
            <th scope="col" class="col-sm-2">Lab ID</th>
            <th scope="col" class="col-sm-3">Sample ID</th>
            <th scope="col" class="col-sm-2">Confirm ID</th>
            <th scope="col" class="col-sm-5">Assays</th>
          </tr>
        </thead>

        <tbody>
          {% for sample in batch.sample_set.all %}
            <tr>
              <td>{{sample.lab_id_num}} {% if samples.is_anomaly %} ⚠ {% endif %}</td>
              <td>{{sample.sample_id}}</td>
              <td></td>
              <td>
                {% for assay in sample.assays.all %}
                <span class="text-decoration-underline">{{assay}}</span>
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>

    <div class="table-responsive">
      <h5 class="text-center">Extraction</h5>
      <table class="table table-bordered" style="break-inside: avoid">
        <thead>
          <tr>
            <th scope="col" class="col-sm-2">Reagent</th>
            <th scope="col" class="col-sm-2">Exp.date</th>
            <th scope="col" class="col-sm-2">Per Sample (μL) × {{batch.total_samples}}</th>
            <th scope="col" class="col-sm-2">Total Usage (μL)</th>
            <th scope="col" class="col-sm-2">Stored Amount (μL)</th>
            <th scope="col" class="col-sm-2">Remaining Amount (μL)</th>
          </tr>
        </thead>

        <tbody>
          {% for reagent in protocol.reagentextraction_set.all|dictsort:"order" %}
            <tr {% if reagent.amount_per_sample|dec_mult:batch.total_samples|remaining_amounts:reagent.reagent.volume_in_microliters < 0 %} class="table-danger" {% endif %} {% if reagent.reagent.is_expired %} class="table-danger" {% endif %} {% if reagent.reagent.month_exp %} class="table-warning" {% endif %}>
              <td>{{reagent}} {% if reagent.reagent.is_expired %} (EXPIRED) {% endif %} {% if reagent.reagent.month_exp %} (&#60;1 MONTH TILL EXP) {% endif %}</td>
              <td>{{reagent.reagent.exp_date}}</td>
              <td>{{reagent.amount_per_sample}}</td>
              <td>{{reagent.amount_per_sample|dec_mult:batch.total_samples}}</td>
              <td>{{reagent.reagent.volume_in_microliters}}</td>
              <td>{{reagent.amount_per_sample|dec_mult:batch.total_samples|remaining_amounts:reagent.reagent.volume_in_microliters}}</td>
            </tr>
          {% endfor %}
        </tbody>

      </table>

      <table class="table table-bordered" style="break-inside: avoid">
        <thead>
          <tr>
            <th scope="col" class="col-sm-2">Tube</th>
            <th scope="col" class="col-sm-2">Exp.date</th>
            <th scope="col" class="col-sm-2">Per Sample × {{batch.total_samples}}</th>
            <th scope="col" class="col-sm-2">Total Usage</th>
            <th scope="col" class="col-sm-2">Stored Amount</th>
            <th scope="col" class="col-sm-2">Remaining Amount</th>
          </tr>
        </thead>

        <tbody>
          {% for tube in protocol.tubeextraction_set.all|dictsort:"order" %}
            <tr {% if tube.amount_per_sample|dec_mult:batch.total_samples|remaining_amounts:tube.tube.amount < 0 %} class="table-danger" {% endif %} {% if tube.tube.is_expired %} class="table-danger" {% endif %} {% if tube.tube.month_exp %} class="table-warning" {% endif %}>
              <td>{{tube}} {% if tube.tube.is_expired %} (EXPIRED) {% endif %} {% if tube.tube.month_exp %} (&#60;1 MONTH TILL EXP) {% endif %}</td>
              <td>{{tube.tube.exp_date}}</td>
              <td>{{tube.amount_per_sample}}</td>
              <td>{{tube.amount_per_sample|dec_mult:batch.total_samples}}</td>
              <td>{{tube.tube.amount}}</td>
              <td>{{tube.amount_per_sample|dec_mult:batch.total_samples|remaining_amounts:tube.tube.amount}}</td>
            </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>

  </div>
</div>

<script>
  const button = document.getElementById("printButton");

  function printDiv() {
    var divContents = document.getElementById("printDiv").innerHTML;
    var a = window.open('', '', 'height=1920', 'width=1080');
    a.document.write('<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"><html>');
    a.document.write('<html>');
    a.document.write('<body >');
    a.document.write(divContents);
    a.document.write('</body></html>');
    a.document.close();
    a.print()
  }

  button.addEventListener("click", printDiv);
</script>
{% endblock %}