{% extends "base.html" %} 

{% load static %}
{% load custom_tags %}
                                                                                                                                                                                                                              
{% block title %} Extraction Paperwork {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="row justify-content-center">
    <h5 class="text-center">Extraction Paperwork</h5>
    <a href="{% url 'extraction_guide' %}" target="_blank" class="text-center">Extraction Guide</a>
  </div>

  <div class="justify-content-center">
    <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-primary mt-2 mb-2" id="printButton">Print Paperwork</button>
    </div>
    <p class="text-center">**Refresh page if styles are not applied when printing. Enable background graphics to view and print color.**</p>
  </div>

  <div class="container-fluid p-3" id="printDiv">

    {% if not batch.is_extracted %}
      <h6 class="text-center">Estimated Reagent Usage</h6>
      <div class="table-responsive">
        <table class="table table-bordered table-text-mm table-hover" style="break-inside: avoid">
          <thead>
            <tr>
              <th scope="col">Reagent</th>
              <th scope="col">Catalog Number</th>
              <th scope="col">Lot Number</th>
              <th scope="col">Current Amount (μL)</th>
              <th scope="col">Per Sample (μL) × {{batch.total_samples}}</th>
              <th scope="col">Amount Used (μL)</th>
              <th scope="col">Amount Remaining (μL)</th>
            </tr>
          </thead>

          <tbody>
            {% for reagent in protocol.reagentextraction_set.all|dictsort:"order" %}
              <tr class="row-link {% if reagent.amount_per_sample|dec_mult:batch.total_samples|remaining_amounts:reagent.reagent.volume_in_microliters < 0 %} table-danger {% endif %} {% if reagent.reagent.is_expired %} table-danger {% endif %} {% if reagent.reagent.month_exp %} table-warning {% endif %}" data-href="{% url 'edit_reagent' reagent.reagent.pk %}">
                <td>{{reagent}} {% if reagent.reagent.is_expired %} (EXPIRED) {% endif %} {% if reagent.reagent.month_exp %} (&#60;1 MONTH TILL EXP) {% endif %} {% if reagent.amount_per_sample|dec_mult:batch.total_samples|remaining_amounts:reagent.reagent.volume_in_microliters < 0 %} (INSUFFICIENT) {% endif %}</td>
                <td>{{reagent.reagent.catalog_number}}</td>
                <td>{{reagent.reagent.lot_number}}</td>
                <td>{{reagent.reagent.volume}}</td>
                <td>{{reagent.amount_per_sample}}</td>
                <td>{{reagent.amount_per_sample|dec_mult:batch.total_samples}}</td>
                <td>{{reagent.amount_per_sample|dec_mult:batch.total_samples|remaining_amounts:reagent.reagent.volume_in_microliters}}</td>
              </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
      
      <h6 class="text-center">Estimated Tube Usage</h6>
      <div class="table-responsive">
        <table class="table table-bordered table-text-mm table-hover" style="break-inside: avoid">
          <thead>
            <tr>
              <th scope="col" class="col-sm-2">Tube</th>
              <th scope="col">Catalog Number</th>
              <th scope="col">Lot Number</th>
              <th scope="col">Current Amount (μL)</th>
              <th scope="col">Per Sample (μL) × {{batch.total_samples}}</th>
              <th scope="col">Amount Used (μL)</th>
              <th scope="col">Amount Remaining (μL)</th>
            </tr>
          </thead>

          <tbody>
            {% for tube in protocol.tubeextraction_set.all|dictsort:"order" %}
              <tr class="row-link {% if tube.amount_per_sample|dec_mult:batch.total_samples|remaining_amounts:tube.tube.amount < 0 %} table-danger {% endif %} {% if tube.tube.is_expired %} table-danger {% endif %} {% if tube.tube.month_exp %} table-warning {% endif %}" data-href="{% url 'edit_tube' tube.tube.pk %}">
                <td>{{tube}} {% if tube.tube.is_expired %} (EXPIRED) {% endif %} {% if tube.tube.month_exp %} (&#60;1 MONTH TILL EXP) {% endif %} {% if tube.amount_per_sample|dec_mult:batch.total_samples|remaining_amounts:tube.tube.amount < 0 %} (INSUFFICIENT) {% endif %}</td>
                <td>{{tube.tube.catalog_number}}</td>
                <td>{{tube.tube.lot_number}}</td>
                <td>{{tube.tube.amount}}</td>
                <td>{{tube.amount_per_sample}}</td>
                <td>{{tube.amount_per_sample|dec_mult:batch.total_samples}}</td>
                <td>{{tube.amount_per_sample|dec_mult:batch.total_samples|remaining_amounts:tube.tube.amount}}</td>
              </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
    {% else %}
      <h6 class="text-center">Estimated Reagent Usage</h6>
      <div class="table-responsive">
        <table class="table table-bordered table-text-mm" style="break-inside: avoid">
          <thead>
            <tr>
              <th scope="col">Reagent</th>
              <th scope="col">Catalog Number</th>
              <th scope="col">Lot Number</th>
              <th scope="col">Per Sample (μL) × {{batch.total_samples}}</th>
              <th scope="col">Amount Used (μL)</th>
            </tr>
          </thead>

          <tbody>
            {% for reagent in protocol.reagentextraction_set.all|dictsort:"order" %}
              <tr>
                <td>{{reagent}}</td>
                <td>{{reagent.reagent.catalog_number}}</td>
                <td>{{reagent.reagent.lot_number}}</td>
                <td>{{reagent.amount_per_sample}}</td>
                <td>{{reagent.amount_per_sample|dec_mult:batch.total_samples}}</td>
              </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
      
      <h6 class="text-center">Estimated Tube Usage</h6>
      <div class="table-responsive">
        <table class="table table-bordered table-text-mm" style="break-inside: avoid">
          <thead>
            <tr>
              <th scope="col" class="col-sm-2">Tube</th>
              <th scope="col">Catalog Number</th>
              <th scope="col">Lot Number</th>
              <th scope="col">Per Sample (μL) × {{batch.total_samples}}</th>
              <th scope="col">Amount Used (μL)</th>
            </tr>
          </thead>

          <tbody>
            {% for tube in protocol.tubeextraction_set.all|dictsort:"order" %}
              <tr>
                <td>{{tube}}</td>
                <td>{{tube.tube.catalog_number}}</td>
                <td>{{tube.tube.lot_number}}</td>
                <td>{{tube.amount_per_sample}}</td>
                <td>{{tube.amount_per_sample|dec_mult:batch.total_samples}}</td>
              </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
    {% endif %}

    <div class="row">
      <div class="col">
        <h6>Batch: {{batch.name}}</h6>
        <h6>Created: {{batch.date_created}}</h6>
        <h6>Panel: {{batch.code}}</h6>
        <h6>Extraction: {{batch.extraction_protocol}}</h6>
      </div>

      <div class="col">
        <h6>Anomalies: {{batch.number_of_anomalies}}</h6>
        <h6>Number of assays: {{batch.number_of_assays}}</h6>
        <h6>Number of samples: {{batch.total_samples}}</h6>
        <h6>Total tests: {{batch.total_tests}}</h6>
      </div>
    </div>

    <div class="table-responsive">
      <h5 class="text-center">Samples</h5>
      <table class="table table-bordered table-text-mm">
        <thead>
          <tr>
            <th scope="col" class="col-sm-2">Lab ID</th>
            <th scope="col" class="col-sm-3">Sample ID</th>
            <th scope="col" class="col-sm-2">Confirm ID</th>
            <th scope="col" class="col-sm-5">Assays</th>
          </tr>
        </thead>

        <tbody>
          {% for sample in batch.sample_set.all %}
            <tr>
              <td>{{sample.lab_id_num}} {% if samples.is_anomaly %} ⚠ {% endif %}</td>
              <td>{{sample.sample_id}}</td>
              <td></td>
              <td>
                {% for assay in sample.assays.all %}
                <span class="badge text-bg-success">{{assay}}</span>
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>

  </div>
</div>

<script>
  const button = document.getElementById("printButton");

  function printDiv() {
    var divContents = document.getElementById("printDiv").innerHTML;
    var a = window.open('', '', 'height=1920', 'width=1080');
    a.document.write('<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"><link rel="stylesheet" href="{% static 'css/global.css' %}"><html>');
    a.document.write('<html>');
    a.document.write('<body >');
    a.document.write(divContents);
    a.document.write('</body></html>');
    a.document.close();
    a.print()
  }

  button.addEventListener("click", printDiv);
</script>

<script>
  jQuery(document).ready(function($) {
    $(".row-link").click(function() {
        window.location = $(this).data("href");
    });
  });
</script>
{% endblock %}