{% extends "base.html" %} 

{% load static %}

{% block title %} Batches - PCRPrep {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="row justify-content-center">
    <h3 class="text-center">Batches</h3>
    <a href="{% url 'extraction_guide' %}" target="_blank" class="text-center">Extraction Guide</a>
  </div>

  {% for message in messages %}
  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h5 class="messages">{{ message }}</h5>
    </div>
  </div>
  {% endfor %}

  <div class="row mt-3">
    <div class="col d-flex justify-content-center"> 
      <a href="{% url 'create_batch'%}">
        <button type="button" class="btn btn-primary mb-2">Create Batch</button>
      </a>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Date Created</th>
          <th scope="col">Name</th>
          <th scope="col">Assay Code</th>
          <th scope="col">Number of Assays</th>
          <th scope="col">Number of Samples</th>
          <th scope="col">Total Tests</th>
          <th scope="col">Extraction Protocol</th>
          <th scope="col">Lab ID</th>
        </tr>
      </thead>

      <tbody>
        {% for batch in batches %}
          <tr class="batch-row" data-href="{% url 'batch_samples' batch.pk %}">
            <td>{{batch.date_created}}</td>
            <td>{{batch.name}}</td>
            <td>{{batch.code}}</td>
            <td>{{batch.number_of_assays}}</td>
            <td>{{batch.number_of_samples}}</td>
            <td>{{batch.total_tests}}</td>
            <td>{{batch.extraction_protocol}}</td>
            <td>{{batch.lab_id}}</td>
          </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>

        
</div>

<script>
  jQuery(document).ready(function($) {
    $(".batch-row").click(function() {
        window.location = $(this).data("href");
    });
  });
</script>

{% endblock %}