{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                  
{% block title %} Batch Samples {% endblock %} 

{% block content %}
<div class="container">

  <div class="text-center">
    <h3>Batch Samples</h3>
  </div>

  {% for message in messages %}
  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h5 class="messages">{{ message }}</h5>
    </div>
  </div>
  {% endfor %}

  <div class="row justify-content-center">
    <h6 class="text-center">
      **Once created, batches cannot be changed and can only be deleted with its samples.**
    </h6>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Date Created</th>
          <th scope="col">Name</th>
          <th scope="col">Assay Code</th>
          <th scope="col">Number of Assays</th>
          <th scope="col">Number of Samples</th>
          <th scope="col">Total Tests</th>
          <th scope="col">Extraction Protocol</th>
          <th scope="col">Lab ID</th>
        </tr>
      </thead>

      <tbody>
        <tr class="batch-row">
          <td>{{batch.date_created}}</td>
          <td>{{batch.name}}</td>
          <td>{{batch.code}}</td>
          <td>{{batch.number_of_assays}}</td>
          <td>{{batch.number_of_samples}}</td>
          <td>{{batch.total_tests}}</td>
          <td>{{batch.extraction_protocol}}</td>
          <td>{{batch.lab_id}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center">
    <h3>Samples</h3>
  </div>

  <div class="text-center mb-2">
    <h6>
      **Make sure to confirm/modify assays for each sample before updating sample ID's**
    </h6>
  </div>

  <div class="text-center mb-2">
    <a href="{% url 'batch_paperwork' request.user.username batch.pk %}" target="_blank" class="btn btn-info">Preview</a>
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#number-samples" id="reset">
      Reset Samples
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#populate-modal">
      Insert ID's
    </button>
  </div>

  <form action="" method="POST">
    {{ formset.management_form }}
    {% csrf_token %}

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Lab ID</th>
            <th scope="col" class="col-4">Sample ID</th>
            <th scope="col">Assay</th>
          </tr>
        </thead>

        <tbody>
          {% for samples, formset in data %}

          {% for hidden in formset.hidden_fields %}
            {{ hidden }}
          {% endfor %}

          {{formset.id}}

          <tr {% if samples.is_anomaly %} class="table-warning" {% endif %}>
            <td>{{samples.lab_id_num}}</td>
            <td>{{formset.sample_id}}</td>

            <td>
              <a href="{% url 'sample_assay' request.user.username samples.pk %}">
                <i class="fa-solid fa-vial-circle-check"></i>
              </a>
              {% for assay in samples.assays.all %}
                {% if samples.assays.all|length > 1 %}
                  <span>
                    {{assay}} |
                  </span>
                {% else %}
                  <span>
                    {{assay}}
                  </span>
                {% endif %}
              {% endfor %}
            </td>
          </tr>

          {% endfor %}
        </tbody>

      </table>
    </div>

    {% if formset.errors %}
      <div class="row text-center mt-2">
      {% for errors in formset.errors %}
        {% for error in errors.values %}
          {{error}}
        {%endfor%}
      {% endfor %}
      </div>
    {% endif %}

    <div class="row justify-content-center">
      <div class="text-center mt-2"> 
        <a class="btn btn-secondary" href="{% url 'batches' %}">Batches</a>
        <button class="btn btn-primary" type="submit" name="update">Update Sample ID's</button>
      </div>
    </div>
  
  </form>

  <div class="justify-content-center">
    <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#delete-modal">
        Delete Batch
      </button>
      <button type="button" class="btn btn-success mt-2 ms-1" data-bs-toggle="modal" data-bs-target="#confirm-extraction">
        Process
      </button>
    </div>
  </div>

  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Deleting batch...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="row justify-content-center">
            <h5 class="text-center">Are you sure?</h5>
          </div>
          
          <div class="row justify-content-center">
            <form method="POST" action="">
              {% csrf_token %}
        
              <div class="text-center mx-auto">
                <label class="form-label">Enter: "{{batch.name}}" &amp; Confirm</label>
                {{del_form.confirm}}
              </div>

              {% if del_form.errors %}
              <div class="row text-center mt-2">
                {% for key,value in del_form.errors.items %} 
                  {{ value|escape }}
                {% endfor %}
              </div>
              {% endif %}
        
              <div class="text-center mt-2">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" name="delete">Confirm</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="populate-modal" tabindex="-1" role="dialog" aria-labelledby="populate-modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="populate-modalLabel">Data from Excel/Google Spreadsheets...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="row justify-content-center"> 

            <div class="col">
              <label>Paste row here:</label>
              <textarea class="form-control" id="textarea-data" placeholder="Paste here..."></textarea>
            </div>

            <div class="col">
              <ol>
                <li>Copy &amp; paste column</li>
                <li>Remove any blank spaces</li>
                <li>Make sure list size is less than or equal to number of samples in batch</li>
                <li>Populate sample ID's</li>
                <li>Rows will be filled in the order shown</li>
              </ol>
            </div>
            
          </div>

        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-primary" id="populate-button">Populate</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="number-samples" tabindex="-1" role="dialog" aria-labelledby="delete-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Changing number of samples in batch...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="col">

            <ol>
              <li>Resetting the number of samples in this batch will delete current sample ID's and assays.</li>
              <li>Copy &amp; paste sample ID's outside of this application.</li>
              <li>Set a new number of samples and confirm.</li>
              <li>Paste the sample ID's again and edit assays accordingly.</li>
            </ol>

            <form method="POST" action="">
              {% csrf_token %}
        
              <div class="text-center mx-auto form-width-18">
                <label class="form-label">Enter number of samples &amp; Confirm</label>
                {{samplesform.number_of_samples}}
              </div>

              {% if samplesform.errors %}
              <div class="row text-center mt-2">
                {% for key,value in samplesform.errors.items %} 
                  {{ value|escape }}
                {% endfor %}
              </div>
              {% endif %}
        
              <div class="text-center mt-2 mb-2">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" name="number-of-samples">Confirm</button>
              </div>
            </form>

            <div class="text-center mx-auto form-width-18">
              <label class="form-label">Current Sample ID's:</label>
              <textarea class="form-control form-width-18 mx-auto" id="sample-id-display" readonly></textarea>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirm-extraction" tabindex="-1" role="dialog" aria-labelledby="delete-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Confirming extraction process...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="col">

            <ol>
              <li>Update sample ID's before processing.</li>
              <li>Confirming this batch allows you to process its samples for PCR.</li>
              <li>Once you confirm, you will no longer be able to edit this batch and its samples.</li>
              <li>Confirm once all sample ID's and assays have been updated.</li>
              <li>You may also confirm after the batch has been extracted.</li>
            </ol>

            <form method="POST" action="">
              {% csrf_token %}
        
              <div class="text-center mt-2 mb-2">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" name="extracted">Confirm</button>
              </div>

            </form>

          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<script>
  const button = document.getElementById("populate-button");
  const reset = document.getElementById("reset");

  function populate() {
    inputNum = $('.form-control')
    var array = $('#textarea-data').val().split('\n');

    if (array.length <= inputNum.length) {

      for (let i=0; i < array.length; i++) {
        inputNum[i].value = array[i]
      }
      
      $('#populate-modal').modal('toggle');
    } else {
      alert("The list size is greater than the samples in the batch. Please modify list such as removing duplicates or blank spaces.")
    }
  }

  function getSampleIds() {

    var sampleIDS = document.getElementsByClassName("sample-id-form")
    const samplearea = document.getElementById("sample-id-display")
    samplearea.value = ""
    for (var i = 0; i < sampleIDS.length; i++) {
      if (sampleIDS[i].value != "") {
        samplearea.value += sampleIDS[i].value + '\n'
      }
    }
  }

  button.addEventListener("click", populate);
  reset.addEventListener("click", getSampleIds);
</script>

{% endblock %}