{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                         
{% block title %} Brands {% endblock %} 

{% block content %}
<div class="container">

  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h3 class="text-center">Brands</h3>
    </div>
  </div>

  {% if messages %}
  <div class="row justify-content-center">
    {% for message in messages %}
    <h6 class="text-center message">{{ message }}</h6>
    {% endfor %}
  </div>
  {% endif %}

  <div class="justify-content-center mb-2">
    <div class="col d-flex justify-content-center">
      <a href="{% url 'create_brand' %}">
        <button type="button" class="btn btn-primary">
          Add Brand
        </button>
      </a>
    </div>
  </div>

  <div class="row row-gap-2 justify-content-center">

    {% for brand in brands %}
    <div class="col-sm-3 form-width-18 text-center">
      <div class="card">
        <img src="{{brand.logo.url}}" class="card-img-right" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{brand.name}}{{brand.affiliate}}</h5>
          <a href="{% url 'edit_brand' brand.pk %}" class="btn btn-primary">Edit Brand</a> 
        </div>
      </div>
    </div>
    {% endfor %}

  </div>

</div>
{% endblock %}