{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Process Samples {% endblock %} 

{% block content %}
<div class="container">

  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h3 class="text-center">Process Samples</h3>
    </div>
  </div>

  {% for message in messages %}
  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h5 class="messages">{{ message }}</h5>
    </div>
  </div>
  {% endfor %}

  <div class="row">

    <div class="col-sm-8">
      <h5 class="text-center">Batches For Process</h5>
      {% for batch in batches %}
        
        <div class="card mb-2">
          <div class="card-header">
            Batch: {{batch.name}}
            <a href="#" type="button" class="btn btn-success btn-sm float-end">Add All</a>
          </div>
          
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Panel: {{batch.code}} | Samples {% if batch.contains_anomaly %} ⚠ {% endif %}
              <button type="button" class="btn btn-primary btn-sm float-end btn-arrow" data-bs-toggle="collapse" data-bs-target="#batch-collapse-{{batch.pk}}" aria-expanded="false" aria-controls="batch-collapse-{{batch.pk}}">
                ⮟
              </button>
  
              <div class="collapse" id="batch-collapse-{{batch.pk}}">
                <div class="card-body"> 
                  <ul class="list-group">
                    {% for sample in batch.sample_set.all %}
                    <li class="list-group-item {% if sample.is_anomaly %} list-group-item-warning {% endif %}">
                      <div class="fw-bold">{{sample.lab_id_num}}: {{sample.sample_id}}</div>
                      {% for assay in sample.assays.all %}
                      <span class="badge rounded-pill text-bg-primary">{{assay}}</span>
                      {% endfor %}
                      <a href="#" type="button" class="btn btn-success btn-sm float-end">Add Sample</a>
                    </ii>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>

      {% endfor %}

    </div>

    <div class="col-sm-4">
      <h5 class="text-center">Samples In Process</h5>

      {% comment %} <ol class="list-group list-group-numbered">
        {% for sample in batch.sample_set.all %}
        <li class="list-group-item {% if sample.is_anomaly %} list-group-item-warning {% endif %}">
          <div class="fw-bold">{{sample.lab_id_num}}: {{sample.sample_id}}</div>
          {% for assay in sample.assays.all %}
          <span class="badge rounded-pill text-bg-primary">{{assay}}</span>
          {% endfor %}
          <a href="#" type="button" class="btn btn-danger btn-sm float-end">Remove Sample</a>
        </ii>
        {% endfor %}
      </ol> {% endcomment %}

      <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Subheading</div>
            Content for list item
          </div>
          <span class="badge bg-primary rounded-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Subheading</div>
            Content for list item
          </div>
          <span class="badge bg-primary rounded-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Subheading</div>
            Content for list item
          </div>
          <span class="badge bg-primary rounded-pill">14</span>
        </li>
      </ol>

    </div>

  </div>

</div>

<script>
  $('.btn-arrow').click(function(){
    $(this).text(function(i,old){
      return old=='⮝' ?  '⮟' : '⮝';
    });
  });
</script>
{% endblock %}