{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Process Samples {% endblock %} 

{% block content %}
<div class="container">

  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h3 class="text-center">Process Samples</h3>
    </div>
  </div>

  {% for message in messages %}
  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h5 class="messages">{{ message }}</h5>
    </div>
  </div>
  {% endfor %}

  <div class="row">

    <div class="col-sm-4">
      <div class="text-center">
        <h5>Samples In Process</h5>
        <button type="button" class="btn btn-sm btn-secondary mb-2" data-bs-toggle="modal" data-bs-target="#clear-confirmation">Clear</button>
        <a href="{% url 'review_process' process.pk %}" class="btn btn-primary btn-sm mb-2">Review Process</a>
      </div>

      <ol class="list-group list-group-numbered" id="process-samples">
        {% for sample in process.samples.all %}
          {% include 'pcr/samples_in_process.html' %}
        {% endfor %}
      </ol>
    </div>

    <div class="col-sm-8">

      <form class="row gx-3 gy-2 align-items-center" method="GET" action="">
        <div class="col-sm-3">
          <div class="input-group">
            <div class="input-group-text">Name</div>
            {{form.name}}
          </div>
        </div>
        <div class="col-sm-3">
          <div class="input-group">
            <div class="input-group-text">Lab ID</div>
            {{form.lab_id}}
          </div>
        </div>
        <div class="col-sm-3">
          <div class="input-group">
            <div class="input-group-text">Panel</div>
            {{form.panel}}
          </div>
        </div>
        <div class="col-sm-3">
          <div class="input-group">
            <div class="input-group-text">Protocol</div>
            {{form.extraction_protocol}}
          </div>
        </div>

        <div class="col-sm-4">
          <div class="input-group">
            <div class="input-group-text">Start Date</div>
            {{form.start_date}}
          </div>
        </div>
        <div class="col-sm-4">
          <div class="input-group">
            <div class="input-group-text">End Date</div>
            {{form.end_date}}
          </div>
        </div>

        <div class="col-sm-4">
          <div class="float-end">
            <a class="btn btn-secondary me-1" href="{% url 'extracted_batches' %}" role="button">Clear</a>
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>

      </form>

      <h5 class="text-center">Batches For Process</h5>
      {% for batch in page_obj %}
        
        <div class="card mb-2">
          <div class="card-header">
            <p class="fw-bold">{{batch.name}} ({{batch.total_samples}} Samples)</p>{{batch.date_created}}
            <button
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
              hx-post="{% url 'add_batch_samples' process.pk batch.pk %}"
              hx-target="#process-samples"
              hx-swap="beforeend"
              class="btn btn-success btn-sm float-end" 
              name="all">
              Add All
            </button>
            <a href="{% url 'batch_paperwork' batch.pk %}" target="_blank" class="btn btn-secondary btn-sm mx-2 float-end">PPW</a>
          </div>
          
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Panel: {{batch.code}} {% if batch.contains_anomaly %} ⚠ {% endif %}
              <button type="button" class="btn btn-primary btn-sm float-end btn-arrow" data-bs-toggle="collapse" data-bs-target="#batch-collapse-{{batch.pk}}" aria-expanded="false" aria-controls="batch-collapse-{{batch.pk}}">
                ⮟
              </button>
  
              <div class="collapse" id="batch-collapse-{{batch.pk}}">
                <div class="card-body"> 
                  <ul class="list-group">
                    {% for sample in batch.sample_set.all %}
                    <li class="list-group-item {% if sample.is_anomaly %} list-group-item-warning {% endif %}">
                      <div class="fw-bold">{{sample.lab_id_num}}: {{sample.sample_id}}</div>
                      {% for assay in sample.assays.all %}
                      <span class="badge rounded-pill text-bg-primary">{{assay}}</span>
                      {% endfor %}
                      <button
                        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                        hx-post="{% url 'add_sample_to_process' process.pk sample.pk %}"
                        hx-target="#process-samples"
                        hx-swap="beforeend"
                        class="btn btn-success btn-sm float-end" 
                        name="add">
                        Add Sample
                      </button>
                    </ii>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>

      {% endfor %}

      <div class="d-flex justify-content-center">
        <div class="pagination">
          <span class="step-links">
            {% if page_obj.has_previous %}
              <a href="?page=1">⮜⮜ First</a>
              <a href="?page={{ page_obj.previous_page_number }}">⮜</a>
            {% endif %}
    
            <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
    
            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">⮞</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">Last ⮞⮞</a>
            {% endif %}
          </span>
        </div>
      </div>

    </div>

  </div>

  <div class="modal fade" id="clear-confirmation" tabindex="-1" role="dialog" aria-labelledby="delete-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Clearing samples from process...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="row justify-content-center">
            <h5 class="text-center">Are you sure?</h5>
          </div>

          <div class="row justify-content-center">
            <form method="POST" action="">
              {% csrf_token %}
        
              <div class="text-center mt-2">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" name="clear">Confirm</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<script>
  $('.btn-arrow').click(function(){
    $(this).text(function(i,old){
      return old=='⮝' ?  '⮟' : '⮝';
    });
  });
</script>
{% endblock %}