{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Review Process {% endblock %} 

{% block content %}
<div class="container">

  {% for plate in dna_pcr_co %}
  {{plate.samples}}
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">1</th>
          <th scope="col">2</th>
          <th scope="col">3</th>
          <th scope="col">4</th>
          <th scope="col">5</th>
          <th scope="col">6</th>
          <th scope="col">7</th>
          <th scope="col">8</th>
          <th scope="col">9</th>
          <th scope="col">10</th>
          <th scope="col">11</th>
          <th scope="col">12</th>
        </tr>
      </thead>

      <tbody>
      
        <tr>
          <td>A</td>
          {% comment %} list of index location here {% endcomment %}
        </tr>

        <tr>
          <td>B</td>
        </tr>

        <tr>
          <td>C</td>
        </tr>

        <tr>
          <td>D</td>
        </tr>
        
        <tr>
          <td>E</td>
        </tr>

        <tr>
          <td>F</td>
        </tr>

        <tr>
          <td>G</td>
        </tr>

        <tr>
          <td>H</td>
        </tr>

      </tbody>

    </table>
  </div>
  {% endfor %}

 

 
</div>
{% endblock %}