{% extends "base.html" %} 

{% load static %}
{% load custom_tags %}
                                                                                                                                                                                                                              
{% block title %} Review Process {% endblock %} 

{% block content %}
<div class="container">

  {% for plate in dna_qpcr_json %}

    {% for value in plate.assays %}
      {% for assay, num in value.items %}

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">{{assay}} × {{num}} Wells @ {{assay.sample_volume}} μL in {{assay.reaction_volume}} μL</th>
              <th scope="col">Total Master Mix (μL)</th>
              <th scope="col">Per Sample (μL) × {{num}}</th>
              <th scope="col">Stock Conc.</th>
              <th scope="col">Final Conc.</th>
              <th scope="col">DF</th>
            </tr>
          </thead>

          <tbody>
            {% for reagent in assay.reagentassay_set.all|dictsort:"order"%}
              <tr class="table-light">
                <td>{{reagent.reagent}}</td>
                <td class="table-success">{{reagent.volume_per_sample|dec_mult:num}}</td>
                <td>{{reagent.volume_per_sample}}</td>
                <td>{% if reagent.reagent.stock_concentration %} {{reagent.reagent.stock_concentration}} {{reagent.reagent.unit_concentration}} {% else %} ------ {% endif %}</td>
                <td>{% if reagent.final_concentration %} {{reagent.final_concentration}} {{reagent.final_concentration_unit}} {% else %} ------ {% endif %}</td>
                <td>{{reagent.dilution_factor}}</td>
              </tr>
            {% endfor %}
            <tr class="table-dark">
              <td>Total</td>
              <td>{{assay.mm_volume|dec_mult:num}}</td>
              <td>{{assay.mm_volume}}</td>
              <td>------</td>
              <td>------</td>
              <td>------</td>
            </tr>
          </tbody>

        </table>
      </div>
      {% endfor %}
    {% endfor %}

    {% if plate.plate.size == 96 %}
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col" class="plate-col">1</th>
            <th scope="col" class="plate-col">2</th>
            <th scope="col" class="plate-col">3</th>
            <th scope="col" class="plate-col">4</th>
            <th scope="col" class="plate-col">5</th>
            <th scope="col" class="plate-col">6</th>
            <th scope="col" class="plate-col">7</th>
            <th scope="col" class="plate-col">8</th>
            <th scope="col" class="plate-col">9</th>
            <th scope="col" class="plate-col">10</th>
            <th scope="col" class="plate-col">11</th>
            <th scope="col" class="plate-col">12</th>
          </tr>
        </thead>
        <tbody>
          <tr class="plate-row">
            <td class="fw-bold">A</td>
            <td class="text-center border-1 {{plate.samples.well1.color}}">
              <div class="plate-lab-id">{{plate.samples.well1.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well1.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well1.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well2.color}}">
              <div class="plate-lab-id">{{plate.samples.well2.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well2.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well2.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well3.color}}">
              <div class="plate-lab-id">{{plate.samples.well3.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well3.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well3.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well4.color}}">
              <div class="plate-lab-id">{{plate.samples.well4.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well4.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well4.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well5.color}}">
              <div class="plate-lab-id">{{plate.samples.well5.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well5.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well5.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well6.color}}">
              <div class="plate-lab-id">{{plate.samples.well6.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well6.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well6.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well7.color}}">
              <div class="plate-lab-id">{{plate.samples.well7.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well7.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well7.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well8.color}}">
              <div class="plate-lab-id">{{plate.samples.well8.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well8.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well8.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well9.color}}">
              <div class="plate-lab-id">{{plate.samples.well9.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well9.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well9.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well10.color}}">
              <div class="plate-lab-id">{{plate.samples.well10.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well10.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well10.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well11.color}}">
              <div class="plate-lab-id">{{plate.samples.well11.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well11.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well11.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well12.color}}">
              <div class="plate-lab-id">{{plate.samples.well12.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well12.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well12.assay}}</div>
            </td>
          </tr>

          <tr class="plate-row">
            <td class="fw-bold">B</td>
            <td class="text-center border-1 {{plate.samples.well13.color}}">
              <div class="plate-lab-id">{{plate.samples.well13.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well13.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well13.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well14.color}}">
              <div class="plate-lab-id">{{plate.samples.well14.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well14.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well14.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well15.color}}">
              <div class="plate-lab-id">{{plate.samples.well15.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well15.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well15.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well16.color}}">
              <div class="plate-lab-id">{{plate.samples.well16.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well16.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well16.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well17.color}}">
              <div class="plate-lab-id">{{plate.samples.well17.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well17.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well17.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well18.color}}">
              <div class="plate-lab-id">{{plate.samples.well18.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well18.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well18.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well19.color}}">
              <div class="plate-lab-id">{{plate.samples.well19.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well19.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well19.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well20.color}}">
              <div class="plate-lab-id">{{plate.samples.well20.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well20.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well20.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well21.color}}">
              <div class="plate-lab-id">{{plate.samples.well21.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well21.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well21.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well22.color}}">
              <div class="plate-lab-id">{{plate.samples.well22.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well22.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well22.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well23.color}}">
              <div class="plate-lab-id">{{plate.samples.well23.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well23.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well23.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well24.color}}">
              <div class="plate-lab-id">{{plate.samples.well24.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well24.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well24.assay}}</div>
            </td>
          </tr>

          <tr class="plate-row">
            <td class="fw-bold">C</td>
            <td class="text-center border-1 {{plate.samples.well25.color}}">
              <div class="plate-lab-id">{{plate.samples.well25.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well25.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well25.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well26.color}}">
              <div class="plate-lab-id">{{plate.samples.well26.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well26.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well26.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well27.color}}">
              <div class="plate-lab-id">{{plate.samples.well27.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well27.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well27.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well28.color}}">
              <div class="plate-lab-id">{{plate.samples.well28.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well28.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well28.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well29.color}}">
              <div class="plate-lab-id">{{plate.samples.well29.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well29.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well29.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well30.color}}">
              <div class="plate-lab-id">{{plate.samples.well30.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well30.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well30.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well31.color}}">
              <div class="plate-lab-id">{{plate.samples.well31.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well31.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well31.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well32.color}}">
              <div class="plate-lab-id">{{plate.samples.well32.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well32.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well32.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well33.color}}">
              <div class="plate-lab-id">{{plate.samples.well33.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well33.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well33.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well34.color}}">
              <div class="plate-lab-id">{{plate.samples.well34.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well34.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well34.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well35.color}}">
              <div class="plate-lab-id">{{plate.samples.well35.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well35.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well35.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well36.color}}">
              <div class="plate-lab-id">{{plate.samples.well36.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well36.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well36.assay}}</div>
            </td>
          </tr>

          <tr class="plate-row">
            <td class="fw-bold">D</td>
            <td class="text-center border-1 {{plate.samples.well37.color}}">
              <div class="plate-lab-id">{{plate.samples.well37.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well37.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well37.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well38.color}}">
              <div class="plate-lab-id">{{plate.samples.well38.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well38.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well38.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well39.color}}">
              <div class="plate-lab-id">{{plate.samples.well39.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well39.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well39.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well40.color}}">
              <div class="plate-lab-id">{{plate.samples.well40.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well40.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well40.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well41.color}}">
              <div class="plate-lab-id">{{plate.samples.well41.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well41.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well41.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well42.color}}">
              <div class="plate-lab-id">{{plate.samples.well42.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well42.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well42.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well43.color}}">
              <div class="plate-lab-id">{{plate.samples.well43.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well43.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well43.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well44.color}}">
              <div class="plate-lab-id">{{plate.samples.well44.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well44.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well44.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well45.color}}">
              <div class="plate-lab-id">{{plate.samples.well45.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well45.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well45.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well46.color}}">
              <div class="plate-lab-id">{{plate.samples.well46.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well46.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well46.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well47.color}}">
              <div class="plate-lab-id">{{plate.samples.well47.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well47.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well47.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well48.color}}">
              <div class="plate-lab-id">{{plate.samples.well48.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well48.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well48.assay}}</div>
            </td>
          </tr>
          
          <tr class="plate-row"> 
            <td class="fw-bold">E</td>
            <td class="text-center border-1 {{plate.samples.well49.color}}">
              <div class="plate-lab-id">{{plate.samples.well49.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well49.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well49.assay}}</div>
            </td>

            <td class="text-center border-1 {{plate.samples.well50.color}}">
              <div class="plate-lab-id">{{plate.samples.well50.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well50.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well50.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well51.color}}">
              <div class="plate-lab-id">{{plate.samples.well51.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well51.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well51.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well52.color}}">
              <div class="plate-lab-id">{{plate.samples.well52.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well52.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well52.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well53.color}}">
              <div class="plate-lab-id">{{plate.samples.well53.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well53.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well53.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well54.color}}">
              <div class="plate-lab-id">{{plate.samples.well54.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well54.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well54.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well55.color}}">
              <div class="plate-lab-id">{{plate.samples.well55.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well55.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well55.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well56.color}}">
              <div class="plate-lab-id">{{plate.samples.well56.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well56.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well56.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well57.color}}">
              <div class="plate-lab-id">{{plate.samples.well57.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well57.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well57.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well58.color}}">
              <div class="plate-lab-id">{{plate.samples.well58.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well58.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well58.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well59.color}}">
              <div class="plate-lab-id">{{plate.samples.well59.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well59.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well59.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well60.color}}">
              <div class="plate-lab-id">{{plate.samples.well60.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well60.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well60.assay}}</div>
            </td>
          </tr>

          <tr class="plate-row">
            <td class="fw-bold">F</td>
            <td class="text-center border-1 {{plate.samples.well61.color}}">
              <div class="plate-lab-id">{{plate.samples.well61.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well61.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well61.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well62.color}}">
              <div class="plate-lab-id">{{plate.samples.well62.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well62.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well62.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well63.color}}">
              <div class="plate-lab-id">{{plate.samples.well63.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well63.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well63.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well64.color}}">
              <div class="plate-lab-id">{{plate.samples.well64.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well64.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well64.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well65.color}}">
              <div class="plate-lab-id">{{plate.samples.well65.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well65.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well65.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well66.color}}">
              <div class="plate-lab-id">{{plate.samples.well66.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well66.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well66.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well67.color}}">
              <div class="plate-lab-id">{{plate.samples.well67.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well67.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well67.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well68.color}}">
              <div class="plate-lab-id">{{plate.samples.well68.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well68.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well68.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well69.color}}">
              <div class="plate-lab-id">{{plate.samples.well69.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well69.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well69.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well70.color}}">
              <div class="plate-lab-id">{{plate.samples.well70.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well70.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well70.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well71.color}}">
              <div class="plate-lab-id">{{plate.samples.well71.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well71.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well71.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well72.color}}">
              <div class="plate-lab-id">{{plate.samples.well72.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well72.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well72.assay}}</div>
            </td>
          </tr>

          <tr class="plate-row">
            <td class="fw-bold">G</td>
            <td class="text-center border-1 {{plate.samples.well73.color}}">
              <div class="plate-lab-id">{{plate.samples.well73.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well73.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well73.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well74.color}}">
              <div class="plate-lab-id">{{plate.samples.well74.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well74.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well74.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well75.color}}">
              <div class="plate-lab-id">{{plate.samples.well75.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well75.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well75.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well76.color}}">
              <div class="plate-lab-id">{{plate.samples.well76.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well76.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well76.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well77.color}}">
              <div class="plate-lab-id">{{plate.samples.well77.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well77.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well77.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well78.color}}">
              <div class="plate-lab-id">{{plate.samples.well78.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well78.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well78.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well79.color}}">
              <div class="plate-lab-id">{{plate.samples.well79.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well79.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well79.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well80.color}}">
              <div class="plate-lab-id">{{plate.samples.well80.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well80.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well80.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well81.color}}">
              <div class="plate-lab-id">{{plate.samples.well81.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well81.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well81.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well82.color}}">
              <div class="plate-lab-id">{{plate.samples.well82.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well82.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well82.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well83.color}}">
              <div class="plate-lab-id">{{plate.samples.well83.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well83.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well83.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well84.color}}">
              <div class="plate-lab-id">{{plate.samples.well84.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well84.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well84.assay}}</div>
            </td>
          </tr>

          <tr class="plate-row">
            <td class="fw-bold">H</td>
            <td class="text-center border-1 {{plate.samples.well85.color}}">
              <div class="plate-lab-id">{{plate.samples.well85.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well85.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well85.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well86.color}}">
              <div class="plate-lab-id">{{plate.samples.well86.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well86.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well86.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well87.color}}">
              <div class="plate-lab-id">{{plate.samples.well87.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well87.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well87.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well88.color}}">
              <div class="plate-lab-id">{{plate.samples.well88.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well88.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well88.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well89.color}}">
              <div class="plate-lab-id">{{plate.samples.well89.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well89.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well89.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well90.color}}">
              <div class="plate-lab-id">{{plate.samples.well90.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well90.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well90.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well91.color}}">
              <div class="plate-lab-id">{{plate.samples.well91.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well91.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well91.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well92.color}}">
              <div class="plate-lab-id">{{plate.samples.well92.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well92.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well92.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well93.color}}">
              <div class="plate-lab-id">{{plate.samples.well93.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well93.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well93.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well94.color}}">
              <div class="plate-lab-id">{{plate.samples.well94.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well94.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well94.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well95.color}}">
              <div class="plate-lab-id">{{plate.samples.well95.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well95.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well95.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well96.color}}">
              <div class="plate-lab-id">{{plate.samples.well96.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well96.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well96.assay}}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    {% endif %}

    {% if plate.plate.size == 48%}
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col" class="plate-col">1</th>
            <th scope="col" class="plate-col">2</th>
            <th scope="col" class="plate-col">3</th>
            <th scope="col" class="plate-col">4</th>
            <th scope="col" class="plate-col">5</th>
            <th scope="col" class="plate-col">6</th>
          </tr>
        </thead>
        <tbody>
          <tr class="plate-row">
            <td class="fw-bold">A</td>
            <td class="text-center border-1 {{plate.samples.well1.color}}">
              <div class="plate-lab-id">{{plate.samples.well1.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well1.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well1.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well2.color}}">
              <div class="plate-lab-id">{{plate.samples.well2.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well2.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well2.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well3.color}}">
              <div class="plate-lab-id">{{plate.samples.well3.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well3.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well3.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well4.color}}">
              <div class="plate-lab-id">{{plate.samples.well4.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well4.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well4.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well5.color}}">
              <div class="plate-lab-id">{{plate.samples.well5.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well5.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well5.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well6.color}}">
              <div class="plate-lab-id">{{plate.samples.well6.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well6.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well6.assay}}</div>
            </td>
          </tr>

          <tr class="plate-row">
            <td class="fw-bold">B</td>
            <td class="text-center border-1 {{plate.samples.well7.color}}">
              <div class="plate-lab-id">{{plate.samples.well7.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well7.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well7.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well8.color}}">
              <div class="plate-lab-id">{{plate.samples.well8.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well8.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well8.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well9.color}}">
              <div class="plate-lab-id">{{plate.samples.well9.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well9.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well9.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well10.color}}">
              <div class="plate-lab-id">{{plate.samples.well10.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well10.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well10.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well11.color}}">
              <div class="plate-lab-id">{{plate.samples.well11.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well11.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well11.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well12.color}}">
              <div class="plate-lab-id">{{plate.samples.well12.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well12.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well12.assay}}</div>
            </td>
          </tr>

          <tr class="plate-row">
            <td class="fw-bold">C</td>
            <td class="text-center border-1 {{plate.samples.well13.color}}">
              <div class="plate-lab-id">{{plate.samples.well13.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well13.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well13.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well14.color}}">
              <div class="plate-lab-id">{{plate.samples.well14.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well14.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well14.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well15.color}}">
              <div class="plate-lab-id">{{plate.samples.well15.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well15.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well15.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well16.color}}">
              <div class="plate-lab-id">{{plate.samples.well16.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well16.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well16.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well17.color}}">
              <div class="plate-lab-id">{{plate.samples.well17.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well17.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well17.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well18.color}}">
              <div class="plate-lab-id">{{plate.samples.well18.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well18.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well18.assay}}</div>
            </td>
          </tr>

          <tr class="plate-row">
            <td class="fw-bold">D</td>
            <td class="text-center border-1 {{plate.samples.well19.color}}">
              <div class="plate-lab-id">{{plate.samples.well19.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well19.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well19.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well20.color}}">
              <div class="plate-lab-id">{{plate.samples.well20.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well20.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well20.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well21.color}}">
              <div class="plate-lab-id">{{plate.samples.well21.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well21.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well21.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well22.color}}">
              <div class="plate-lab-id">{{plate.samples.well22.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well22.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well22.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well23.color}}">
              <div class="plate-lab-id">{{plate.samples.well23.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well23.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well23.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well24.color}}">
              <div class="plate-lab-id">{{plate.samples.well24.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well24.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well24.assay}}</div>
            </td>
          </tr>
          
          <tr class="plate-row"> 
            <td class="fw-bold">E</td>
            <td class="text-center border-1 {{plate.samples.well25.color}}">
              <div class="plate-lab-id">{{plate.samples.well25.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well25.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well25.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well26.color}}">
              <div class="plate-lab-id">{{plate.samples.well26.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well26.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well26.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well27.color}}">
              <div class="plate-lab-id">{{plate.samples.well27.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well27.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well27.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well28.color}}">
              <div class="plate-lab-id">{{plate.samples.well28.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well28.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well28.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well29.color}}">
              <div class="plate-lab-id">{{plate.samples.well29.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well29.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well29.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well30.color}}">
              <div class="plate-lab-id">{{plate.samples.well30.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well30.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well30.assay}}</div>
            </td>
          </tr>

          <tr class="plate-row">
            <td class="fw-bold">F</td>
            <td class="text-center border-1 {{plate.samples.well31.color}}">
              <div class="plate-lab-id">{{plate.samples.well31.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well31.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well31.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well32.color}}">
              <div class="plate-lab-id">{{plate.samples.well32.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well32.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well32.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well33.color}}">
              <div class="plate-lab-id">{{plate.samples.well33.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well33.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well33.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well34.color}}">
              <div class="plate-lab-id">{{plate.samples.well34.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well34.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well34.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well35.color}}">
              <div class="plate-lab-id">{{plate.samples.well35.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well35.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well35.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well36.color}}">
              <div class="plate-lab-id">{{plate.samples.well36.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well36.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well36.assay}}</div>
            </td>
          </tr>

          <tr class="plate-row">
            <td class="fw-bold">G</td>
            <td class="text-center border-1 {{plate.samples.well37.color}}">
              <div class="plate-lab-id">{{plate.samples.well37.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well37.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well37.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well38.color}}">
              <div class="plate-lab-id">{{plate.samples.well38.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well38.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well38.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well39.color}}">
              <div class="plate-lab-id">{{plate.samples.well39.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well39.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well39.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well40.color}}">
              <div class="plate-lab-id">{{plate.samples.well40.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well40.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well40.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well41.color}}">
              <div class="plate-lab-id">{{plate.samples.well41.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well41.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well41.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well42.color}}">
              <div class="plate-lab-id">{{plate.samples.well42.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well42.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well42.assay}}</div>
            </td>
          </tr>

          <tr class="plate-row">
            <td class="fw-bold">H</td>
            <td class="text-center border-1 {{plate.samples.well43.color}}">
              <div class="plate-lab-id">{{plate.samples.well43.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well43.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well43.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well44.color}}">
              <div class="plate-lab-id">{{plate.samples.well44.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well44.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well44.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well45.color}}">
              <div class="plate-lab-id">{{plate.samples.well45.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well45.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well45.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well46.color}}">
              <div class="plate-lab-id">{{plate.samples.well46.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well46.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well46.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well47.color}}">
              <div class="plate-lab-id">{{plate.samples.well47.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well47.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well47.assay}}</div>
            </td>
            <td class="text-center border-1 {{plate.samples.well48.color}}">
              <div class="plate-lab-id">{{plate.samples.well48.lab_id}}</div>
              <div class="plate-sample-id">{{plate.samples.well48.sample_id}}</div>
              <div class="plate-assay">{{plate.samples.well48.assay}}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    {% endif %}

  {% endfor %}

 

 
</div>
{% endblock %}