{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Review Process {% endblock %} 

{% block content %}
<div class="container">

  <div class="row">
    <h5 class="text-center">Review Process</h5>
  </div>

  <div class="row">

    <div class="col-sm-8">
      <ol class="list-group list-group-numbered">
        {% for sample in samples %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">➤ {{sample.lab_id_num}}: {{sample.sample_id}}</div>
            
            {% for assay in sample.assays.all %}
            <span class="badge bg-primary rounded-pill">{{assay.name}}</span>
            {% endfor %}

          </div>
        </li>
        {% endfor %}
      </ol>

    </div>


    <div class="col-sm-4">
      form
    </div>

  </div>

</div>

<script>
  $('.btn-arrow').click(function(){
    $(this).text(function(i,old){
      return old=='⮝' ?  '⮟' : '⮝';
    });
  });
</script>
{% endblock %}