{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Review Process {% endblock %} 

{% block content %}
<div class="container">


</div>

<script>
  $('.btn-arrow').click(function(){
    $(this).text(function(i,old){
      return old=='⮝' ?  '⮟' : '⮝';
    });
  });
</script>
{% endblock %}