{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                                              
{% block title %} Review Process {% endblock %} 

{% block content %}
<div class="container">

  <div class="row">
    <h5 class="text-center">Review Process</h5>
  </div>

  {% for message in messages %}
  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h5 class="messages">{{ message }}</h5>
    </div>
  </div>
  {% endfor %}

  <div class="row">

    <div class="col-sm-8">
      {% for assay in assay_samples %}
        {% for key, value in assay.items %}

        <div class="card mb-2">
          <h5 class="card-header">{{key}} ({{value|length}} Samples)</h5>
          <div class="card-body">

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Lab ID</th>
                  <th scope="col">Sample ID</th>
                  <th scope="col">Batch</th>
                </tr>
              </thead>
              <tbody>
                {% for sample in value %}
                <tr>
                  <td>{{sample.lab_id_num}}</td>
                  <td>{{sample.sample_id}}</td>
                  <td>{{sample.batch.name}}</td>
                </tr>
                {% endfor %}
             
              </tbody>
            </table>
            
          </div>
        </div>

        {% endfor %}
      {% endfor %}
    </div>

    <div class="col-sm-4">
      <form method="POST" action="">
        {% csrf_token %}
        <h6 class="text-center">Thermal Cyler Protocols</h6>

        <div class="input-group mb-2">
          <div class="input-group-text input-group-process">DNA PCR</div>
          {{form.pcr_dna_protocol}}
        </div>

        <div class="input-group mb-2">
          <div class="input-group-text input-group-process">RNA PCR</div>
          {{form.pcr_rna_protocol}}
        </div>

        <div class="input-group mb-2">
          <div class="input-group-text input-group-process">DNA qPCR</div>
          {{form.qpcr_dna_protocol}}
        </div>

        <div class="input-group mb-2">
          <div class="input-group-text input-group-process">RNA qPCR</div>
          {{form.qpcr_rna_protocol}}
        </div>

        <div class="card mt-2">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Plates
              <button class="btn btn-primary btn-sm float-end btn-arrow" type="button" data-bs-toggle="collapse" data-bs-target="#plate-collapse" aria-expanded="false" aria-controls="plate-collapse">
                ⮝
              </button>
            </li>

            <div class="collapse show" id="plate-collapse">
              <div class="card-body"> 
                <ul class="list-group">
                  {% for plate in form.plate %}
                    <li class="list-group-item">
                      {{plate}}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </ul>
        </div>

        <div class="card mt-2">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Gels
              <button class="btn btn-primary btn-sm float-end btn-arrow" type="button" data-bs-toggle="collapse" data-bs-target="#gel-collapse" aria-expanded="false" aria-controls="gel-collapse">
                ⮝
              </button>
            </li>

            <div class="collapse show" id="gel-collapse">
              <div class="card-body"> 
                <ul class="list-group">
                  {% for gel in form.gel %}
                    <li class="list-group-item">
                      {{gel}}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </ul>
        </div>

        <div class="input-group mb-2">
          <div class="input-group-text input-group-min">Min. Samples In Plate</div>
          {{form.min_samples_per_plate}}
        </div>

        <div class="input-group mb-2">
          <div class="input-group-text input-group-min">Min. Samples In Gel</div>
          {{form.min_samples_per_gel}}
        </div>

        {% if form.errors %}
        <div class="row text-center mt-2">
          {% for key,value in form.errors.items %} 
            {{ value|escape }}
          {% endfor %}
        </div>
        {% endif %}

        <div class="row justify-content-center mb-2">
          <div class="text-center mt-2"> 
            <a class="btn btn-secondary" href="{% url 'extracted_batches' %}">Go Back</a>
            <button class="btn btn-primary" type="submit">Update &amp; Review</button>
          </div>
        </div>
 
      </form>
    </div>
   
  </div>

</div>

<script>
  $('.btn-arrow').click(function(){
    $(this).text(function(i,old){
      return old=='⮝' ?  '⮟' : '⮝';
    });
  });
</script>
{% endblock %}