<li class="list-group-item">{{reagent.name}}
  <button type="button" class="btn btn-primary btn-sm float-end btn-arrow" data-bs-toggle="collapse" data-bs-target="#reagent-collapse-{{reagent.pk}}" aria-expanded="false" aria-controls="reagent-collapse-{{reagent.pk}}">
    ⮟
  </button>

  <div class="collapse" id="reagent-collapse-{{reagent.pk}}">
    <div class="card-body"> 
      <ul class="list-group">

        <li class="list-group-item">Usage: {{reagent.usage}}</li>
        {% if reagent.pcr_reagent %}
          <li class="list-group-item">PCR: {{reagent.pcr_reagent}}</li>
        {% endif %}
        <li class="list-group-item">Volume: {{reagent.volume}} {{reagent.unit_volume}}</li>
        {% if reagent.stock_concentration %}
          <li class="list-group-item">Concentration: {{reagent.stock_concentration}} {{reagent.unit_concentration}}</li>
        {% endif %}
        <a href="{% url 'edit_reagent_store' reagent.pk %}" class="list-group-item list-group-item-action">
          Edit Reagent
        </a>

      </ul>
    </div>
  </div>
</li>