<div class="card" style="width: 18rem;">
  <img src="/images/{{kit.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{kit.name}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-post="{% url 'add_kit_to_order' request.user.username order.pk kit.pk%}"
        hx-target="#orders-in-kit"
        hx-swap="beforeend"
        class="btn btn-primary" 
        name="add">
        Add Kit
      </button>
  </div>
</div>