<li class="list-group-item">{{ladder.name}}
  <button type="button" class="btn btn-primary btn-sm float-end btn-arrow" data-bs-toggle="collapse" data-bs-target="#ladder-collapse-{{ladder.pk}}" aria-expanded="false" aria-controls="ladder-collapse-{{ladder.pk}}">
    ⮟
  </button>

  <div class="collapse" id="ladder-collapse-{{ladder.pk}}">
    <div class="card-body"> 
      <ul class="list-group">

        <li class="list-group-item">Amount: {{ladder.amount}}</li>
        <a href="{% url 'edit_ladder_store' ladder.pk %}" class="list-group-item list-group-item-action active">
          Edit Ladder
        </a>

      </ul>
    </div>
  </div>
</li>