<div class="col-3 card border border-primary border-5 kit-card">
  <h6 class="text-center">{{kit.brand}}</h6>
  <a {% if kit.affiliate_link %} href="{{kit.affiliate_link}}" target="_blank" {% endif %}>
    <img src="{{kit.image.url}}" class="card-img-top" alt="...">
  </a>
  <div class="card-body">
    <h5 class="card-title">{{kit.name}}</h5>
    <h6>Cat#: {{kit.catalog_number}}</h6>
    <h6>Price: {{kit.price}} USD</h6>

      {% if kit.avg_rating %}
      <div>
        {% if kit.avg_rating == 0 %}
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        {% endif %}

        {% if kit.avg_rating == 1 %}
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        {% endif %}

        {% if kit.avg_rating == 2 %}
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        {% endif %}

        {% if kit.avg_rating == 3 %}
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        {% endif %}

        {% if kit.avg_rating == 4 %}
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
        {% endif %}

        {% if kit.avg_rating == 5 %}
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        {% endif %}
        {{kit.avg_rating}}/5 ({{kit.review_num}} Review(s)) 
      </div>
      {% else %}
        <div><u>No Reviews</u></div>
      {% endif %}

    <p class="card-text">{{kit.display_description}}</p>

    <a href="{% url 'reviews' kit.pk %}" class="btn btn-secondary btn-sm float-start">Reviews/Details</a>

    <button
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      hx-post="{% url 'add_kit_to_order' order.pk kit.pk %}"
      hx-target="#orders-in-kit"
      hx-swap="beforeend"
      class="btn btn-primary btn-sm float-end" 
      name="add"
      hx-on:click="this.parentNode.parentNode.remove()">
      Add Kit
    </button>

  </div>
</div>