<form 
  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
  hx-post="{% url 'create_reagent_store' %}"
  hx-target="#reagents"
  hx-include="[name='pk']"
  hx-swap="beforebegin"
  hx-on::after-request="this.remove()"
  hx-trigger="click from:#submit-all">
  <div class="border border-2 border-primary mt-2 px-2">

    <button 
      type="button" 
      class="btn-close float-end"
      hx-on:click="this.parentNode.parentNode.remove()">
    </button>

    <div class="text-center mb-2">
      <label class="form-label">Name</label>
      {{form.name}}
    </div>

    <div class="text-center mb-2">
      <label class="form-label">Usage</label>
      {{form.usage}}
    </div>

    <div class="text-center mb-2">
      <label class="form-label">PCR Reagent</label>
      {{form.pcr_reagent}}
    </div>

    <div class="text-center mb-2">
      <label class="form-label">Forward Sequence (5' to 3')</label>
      {{form.forward_sequence}}
    </div>

    <div class="text-center mb-2">
      <label class="form-label">Reverse Sequence (3' to 5')</label>
      {{form.reverse_sequence}}
    </div>

    <div class="text-center mb-2">
      <label class="form-label">Volume</label>
      {{form.volume}}
    </div>

    <div class="text-center mb-2">
      <label class="form-label">Unit Volume</label>
      {{form.unit_volume}}
    </div>

    <div class="text-center mb-2">
      <label class="form-label">Stock Concentration</label>
      {{form.stock_concentration}}
    </div>

    <div class="text-center mb-2">
      <label class="form-label">Unit Concentration</label>
      {{form.unit_concentration}}
    </div>

    {% if form.errors %}
    <div class="row text-center mt-2">
      {% for key,value in form.errors.items %} 
        {{ value|escape }}
      {% endfor %}
    </div>
    {% endif %}

  </div>
</form> 