<form 
  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
  hx-post="{% url 'create_reagent_store' %}"
  hx-target="#reagents"
  hx-swap="beforeend"
  hx-on::after-request="this.remove()"
  hx-trigger="click from:#submit-all">
  <div class="border border-2 border-primary m-1 form-width-18">

    <button 
      type="button" 
      class="btn-close float-end"
      hx-on:click="this.parentNode.remove()">
    </button>

    <div class="text-center">
      <label class="form-label">Name</label>
      {{form.name}}
    </div>

    <div class="text-center">
      <label class="form-label">Usage</label>
      {{form.usage}}
    </div>

    <div class="text-center">
      <label class="form-label">PCR Reagent</label>
      {{form.pcr_reagent}}
    </div>

    <div class="text-center">
      <label class="form-label">Volume</label>
      {{form.volume}}
    </div>

    <div class="text-center">
      <label class="form-label">Unit Volume</label>
      {{form.unit_volume}}
    </div>

    <div class="text-center">
      <label class="form-label">Stock Concentration</label>
      {{form.stock_concentration}}
    </div>

    <div class="text-center mb-2">
      <label class="form-label">Unit Concentration</label>
      {{form.unit_concentration}}
    </div>

  </div>
</form> 