<div class="container mt-3 border border-3 border-secondary h-100">

  <h5 class="text-center">Dyes</h5>

  <div class="text-center mb-1">
    <a class="btn btn-primary btn-sm position-relative" href="{% url 'dyes' %}" role="button">Manage Dyes

      {% if is_low and not is_expired %}
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        Low
        <span class="visually-hidden">unread messages</span>
      </span>
      {% endif %}

      {% if is_expired and not is_low %}
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        Expired
        <span class="visually-hidden">unread messages</span>
      </span>
      {% endif %}

      {% if is_low and is_expired %}
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        Low &amp; Expired
        <span class="visually-hidden">unread messages</span>
      </span>
      {% endif %}

    </a>
  </div>

  <div class="table-responsive">

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Amount (µL)</th>
          <th scope="col">Lot Number</th>
        </tr>
      </thead>

      <tbody>
        {% for dye in page_obj %}
          <tr class="link-row {% if dye.threshold_diff is not None and dye.threshold_diff <= 0 %} table-warning {% endif %}" data-href="{% url 'edit_dye' dye.pk %}">
            <td>{{dye.name}}</td>
            <td>{{dye.amount}}</td>
            <td>{{dye.lot_number}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

</div>

<script>
  jQuery(document).ready(function($) {
    $(".link-row").click(function() {
        window.location = $(this).data("href");
    });
  });
</script>