{% extends "base.html" %} 

{% load static %}

{% block title %} Inventory Dashboard {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="row justify-content-center">
    <h1 class="text-center">Inventory Dashboard</h1>
    <h4 class="text-center">Welcome back {{request.user.first_name}} {{request.user.last_name}}</h4>
  </div>

  {% if message %}
  <div class="alert alert-danger text-center" role="alert">
    {{message}}
  </div>
  {% endif %}

  <div class="row gap-2 mt-3">
    <div class="col" hx-get="{% url 'reagents_display' %}" hx-trigger="load">Loading...</div>

    <div class="col" hx-get="{% url 'tubes_display' %}" hx-trigger="load">Loading...</div>
  </div>

  <div class="row gap-2 mt-3">
    <div class="col" hx-get="{% url 'plates_display' %}" hx-trigger="load">Loading...</div>

    <div class="col" hx-get="{% url 'gels_display' %}" hx-trigger="load">Loading...</div>
  </div>

  <div class="row gap-2 mt-3">
    <div class="col" hx-get="{% url 'ladders_display' %}" hx-trigger="load">Loading...</div>

    <div class="col" hx-get="{% url 'dyes_display' %}" hx-trigger="load">Loading...</div>
  </div>

  <div class="row gap-2 mt-3">

    <div class="col" hx-get="{% url 'controls_display' %}" hx-trigger="load">Loading...</div>

    <div class="col" hx-get="{% url 'assays_chart' %}" hx-trigger="load">Loading...</div>

    <div class="col" hx-get="{% url 'panels_chart' %}" hx-trigger="load">Loading...</div>

  </div>

</div>
{% endblock %}




