<div class="container mt-3 border border-3 border-secondary h-100">

  <h5 class="text-center">Plates</h5>

  <div class="text-center mb-1">
    <a class="btn btn-primary btn-sm" href="{% url 'plates' %}" role="button">Manage Plates</a>
  </div>

  <div class="table-responsive">

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Amount</th>
          <th scope="col">Lot Number</th>
        </tr>
      </thead>

      <tbody>
        {% for plate in page_obj %}
          <tr class="link-row" data-href="{% url 'edit_plate' plate.pk %}">
            <td>{{plate.name}}</td>
            <td>{{plate.amount}}</td>
            <td>{{plate.lot_number}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

</div>

<script>
  jQuery(document).ready(function($) {
    $(".link-row").click(function() {
        window.location = $(this).data("href");
    });
  });
</script>