<script src="https://unpkg.com/htmx.org@1.9.7" integrity="sha384-EAzY246d6BpbWR7sQ8+WEm40J8c3dHFsqC58IgPlh4kMbRRI6P6WA+LA/qGAyAu8" crossorigin="anonymous"></script>

<div class="container mt-3 border border-3 border-secondary h-100">

  <h5 class="text-center">Reagents</h5>

  <div class="text-center mb-1">
    <a class="btn btn-primary btn-sm" href="{% url 'reagents' %}" role="button">Manage Reagents</a>
  </div>

  <div class="table-responsive">

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Amount</th>
          <th scope="col">Lot Number</th>
        </tr>
      </thead>

      <tbody>
        {% for reagent in page_obj %}
          <tr class="link-row" data-href="{% url 'edit_reagent' reagent.pk %}">
            <td>{{reagent.name}}</td>
            <td>{{reagent.volume}} {{reagent.unit_volume}}</td>
            <td>{{reagent.lot_number}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </div>

</div>

<script>
  jQuery(document).ready(function($) {
    $(".link-row").click(function() {
        window.location = $(this).data("href");
    });
  });
</script>