{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                         
{% block title %} Store {% endblock %} 

{% block content %}
<div class="container">

  <div class"row">
    <h5 class="text-center">Adding {{kit.name}} × {{kit_order.amount_ordered}} To Inventory From Order On {{order.date_processed}}</h5>
  </div>

  <div class="row justify-content-center">


    <div class="col-sm-4 form-width-18">
      <form method="POST" action="">
      {{ formset.management_form }}
      {% csrf_token %}

      {% for form in formset %}
        {{form}}
      {% endfor %}
    
      <input class="btn btn-primary" type="submit" value="Update">
      </form>
    </div>


    <div class="col-sm-6">
      Existing Kits
    </div>

  </div>

</div>
{% endblock %}