{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                         
{% block title %} Store {% endblock %} 

{% block content %}
<div class="container">

  <div class"row">
    <h5 class="text-center">Previous Orders</h5>
  </div>

  {% for message in messages %}
  <div class="row">
    <div class="col d-flex justify-content-center"> 
      <h5 class="messages">{{ message }}</h5>
    </div>
  </div>
  {% endfor %}

  <div class="row">

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="col-sm-2">Date Processed</th>
            <th scope="col" class="col-sm-2">Cost (USD)</th>
            <th scope="col" class="col-sm-2">Order Files</th>
          </tr>
        </thead>
        
        <tbody>
          {% for order in orders %}
          <tr>
            <td>
              <a href="{% url 'view_order' request.user.username order.pk %}">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
              {{order.date_format}}
              <div class="float-end">
                <a data-bs-toggle="modal" data-bs-target="#order-modal{{order.pk}}">
                  <i class="fa-solid fa-copy"></i>
                </a>
              </div>
            </td>
            <td>{{order.total_cost}}</td>
            <td>
              <button type="submit" class="btn btn-primary btn-sm" name="search-catalog-number"><i class="fa-solid fa-download"></i> ZIP</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>

  </div>

  {% for order in orders %}
  <div class="modal fade" id="order-modal{{order.pk}}" tabindex="-1" role="dialog" aria-labelledby="order-modal{{order.pk}}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Copying Order...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="container-sm">

            <div class="row justify-content-center">
              <h5 class="text-center">Are you sure?</h5>
              <ol>
                <li>Copy kits from this past order to your current order.</li>
                <li>All kits in your current will be replaced by kits in this past order.</li>
                <li>You must declare amount of kits to order again.</li>
              </ol>

              <ul class="list-group">
                <li class="list-group-item list-group-item-primary">Kits Ordered</li>
                {% for kit in order.kits.all %}
                <li class="list-group-item">{{kit.name}}</li>
                {% endfor %}
              </ul>

            </div>

            <div class="row justify-content-center">
              <form method="POST" action="">
                <div class="text-center mt-2">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <a href="{% url 'copy_order' request.user.username order.pk %}" type="submit" class="btn btn-primary">Confirm</a>
                </div>
              </form>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
  {% endfor %}


</div>
{% endblock %}