{% extends "base.html" %} 

{% load static %}
{% load custom_tags %}
                                                                                                                                                                                                         
{% block title %} Store {% endblock %} 

{% block content %}
<div class="container">

  <div class="row justify-content-center mt-2">

    <div class="col-sm-6">

      <form method="POST" action="">
        {{ orderformset.management_form }}
        {% csrf_token %}

        {% for kits, orderformset in kits_data %}
          {{orderformset.id}}
          <div class="input-group mb-3">
            <span class="input-group-text input-group-kit">{{kits.kit.name}}</span>
            <span class="input-group-text input-group-price">{{kits.kit.price}} USD ea.</span>
            {{orderformset.amount_ordered}}
          </div>
        {% endfor %} 

        <div class="float-start">
          <h4>Total Cost: ${{order.total_cost}}</h4>
        </div> 
        
        <div class="float-end">
          <a href="{% url 'store' %}" class="btn btn-secondary">Store</a>
          <button type="submit" class="btn btn-primary" name="recalculate">Recalculate</button>
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#process-modal">Process</button>
        </div>

        <div class="modal fade" id="process-modal" tabindex="-1" role="dialog" aria-labelledby="process-modalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Processing Order...</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                
                <div class="container-sm">
      
                  <div class="row justify-content-center">
                    <h5 class="text-center">Are you sure?</h5>
                    <ol>
                      <li>Once an order has been processed, it will no longer be editable.</li>
                      <li>By processing this order, you will be able to add these items to your inventory.</li>
                      <li>Order files will be generated for your convenience.</li>
                    </ol>
                  </div>

                  <div class="row justify-content-center">
                    <form method="POST" action="">
                      <div class="text-center mt-2">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" name="process">Confirm</button>
                      </div>
                    </form>
                  </div>
      
                </div>
      
              </div>
            </div>
          </div>
        </div>

      </form>

    </div>

    <div class="col-sm-6"> 

      {% for order_kits, kits in display_data %}
      <div class="table-responsive">
        Cat#: {{order_kits.catalog_number}}
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col" class="col-sm-4">{{order_kits.name}} × {{kits.amount_ordered}}</th>
              <th scope="col" class="col-sm-1">Amount</th>
              <th scope="col" class="col-sm-1">Total</th>
            </tr>
          </thead>
          
          <tbody>
            {% for reagents in order_kits.storereagent_set.all %}
            <tr class="table-success">
              <td>{{reagents.name}}</td>
              <td>{{reagents.volume}} {{reagents.unit_volume}} × {{kits.amount_ordered}}</td>
              <td>{{reagents.volume|dec_mult:kits.amount_ordered}} {{reagents.unit_volume}}</td>
            </tr>
            {% endfor %}

            {% for tubes in order_kits.storetube_set.all %}
            <tr class="table-primary">
              <td>{{tubes.name}}</td>
              <td>{{tubes.amount}} × {{kits.amount_ordered}}</td>
              <td>{{tubes.amount|dec_mult:kits.amount_ordered}}</td>
            </tr>
            {% endfor %}

            {% for plates in order_kits.storeplate_set.all %}
            <tr class="table-warning">
              <td>{{plates.name}}</td>
              <td>{{plates.amount}} × {{kits.amount_ordered}}</td>
              <td>{{plates.amount|dec_mult:kits.amount_ordered}}</td>
            </tr>
            {% endfor %}

            {% for gels in order_kits.storegel_set.all %}
            <tr class="table-secondary">
              <td>{{gels.name}}</td>
              <td>{{gels.amount}} × {{kits.amount_ordered}}</td>
              <td>{{gels.amount|dec_mult:kits.amount_ordered}}</td>
            </tr>
            {% endfor %}
          </tbody>
  
        </table>
      </div>
      {% endfor %}

    </div>

  </div>

</div>
{% endblock %}