{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                         
{% block title %} Store {% endblock %} 

{% block content %}
<div class="container">

  <form method="POST" action="">
    {% csrf_token %}
    <div class="row">
      <div class="col">
        {{kit_name_form.kit_name}}
      </div>
    </div>

    <div>
      <button type="submit" class="btn btn-primary" name="search-kit-name">Search By Kit</button>
    </div>
  </form>

  <form method="POST" action="">
    {% csrf_token %}
    <div class="row">
      <div class="col">
        {{catalog_number_form.cat_num}}
      </div>

      <div>
        <button type="submit" class="btn btn-primary" name="search-catalog-number">Search By Catalog #</button>
      </div>
    </div>
  </form>
  
  <form method="POST" action="">
    {% csrf_token %}
    <div class="row">
      <div class="col">
        {{brand_tag_form.brands}}
      </div>
    </div>

    <div class="row">
      <div class="col">
        {{brand_tag_form.tags}}
      </div>
    </div>

    <div>
      <button type="submit" class="btn btn-primary" name="search-brand-tag">Search By Brands/Tag</button>
    </div>
  </form>

  <div class="row">

    <div class="col-sm-10">
      {% for kit in kits %}
        {% include 'partials/kit_display.html' %}
      {% endfor %}
    </div>

    <div class="col-sm-2">
      Kits In Order
      {% for kit in order.kits.all %}
        {{kit.name}}
      {% endfor %}
    </div>


  </div>



</div>
{% endblock %}