{% extends "base.html" %} 

{% load static %}
                                                                                                                                                                                                         
{% block title %} Store {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="row justify-content-center">
    <h3 class="text-center">Store</h3>
  </div>

  {% if messages %}
  <div class="row justify-content-center">
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
      <h6 class="text-center message">{{ message }}</h6>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="row mt-2 justify-content-center">

    <div class="col-sm-4 mb-2">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Kits In Order
            <button class="btn btn-primary btn-sm float-end btn-arrow" type="button" data-bs-toggle="collapse" data-bs-target="#kits-collapse" aria-expanded="false" aria-controls="kits-collapse">
              ⮝
            </button>
          </li>

          <div class="collapse show" id="kits-collapse">
            <div class="card-body"> 
              <ul class="list-group" id="orders-in-kit">
                {% for kit in order.kits.all %}
                  {% include 'partials/kit_order.html'%}
                {% endfor %}
              </ul>
            </div>
          </div>
        </ul>
        <div class="card-footer text-center">
          <a href="{% url 'orders' %}"  class="btn btn-secondary btn-sm float-start">Previous Orders</a>
          <a href="{% url 'review_order' order.pk %}" class="btn btn-primary btn-sm float-end">Review Order</a>
        </div>
      </div>
    </div>

    <div class="col-sm-8">

      <form class="row gx-3 gy-2 align-items-center justify-content-center mb-2" method="GET" action="">

        <div class="col-8">
          <div class="input-group">
            <div class="input-group-text">Text Search</div>
            {{form.text_search}}
          </div>
        </div>
        <div class="col-4">
          <div class="input-group">
            <div class="input-group-text">Price</div>
            {{form.price}}
          </div>
        </div>

        <div class="col d-grid">
          <div class="btn-group dropdown-center">
            <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Brands
            </button>
            <ul class="dropdown-menu w-100">
              {% for brand in form.brands %}
                <div class="p-2 mx-1">
                  <li class="fs-6 fw-bold">{{brand}}</li>
                </div>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="col d-grid">
          <div class="btn-group dropdown-center">
            <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Tags
            </button>
            <ul class="dropdown-menu w-100">
              {% for tag in form.tags %}
                <div class="p-2 mx-1">
                  <li class="fs-6 fw-bold">{{tag}}</li>
                </div>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="col-auto">
          <a class="btn btn-secondary me-1" href="{% url 'store' %}" role="button">Clear</a>
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
        
      </form>
      
      <div class="row d-flex justify-content-center gap-4 mt-2" id="kit-display">
        {% for kit in page_obj %}
          {% include 'partials/kit_display.html' %}
        {% endfor %}
      </div>

      <div class="d-flex justify-content-center me-5">
        <div class="pagination">
          <span class="step-links">
            {% if page_obj.has_previous %}
              <a href="?page=1">⮜⮜ First</a>
              <a href="?page={{ page_obj.previous_page_number }}">⮜</a>
            {% endif %}
    
            <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
    
            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">⮞</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">Last ⮞⮞</a>
            {% endif %}
          </span>
        </div>
      </div>

    </div>

  </div>
</div>

<script>
  $('.btn-arrow').click(function(){
    $(this).text(function(i,old){
      return old=='⮟' ?  '⮝' : '⮟';
    });
  });
</script>
{% endblock %}