{% extends "base.html" %} 

{% load static %}
{% load custom_tags %}
                                                                                                                                                                                                         
{% block title %} Store {% endblock %} 

{% block content %}
<div class="container mt-3">

  <div class="row">
    <h3 class="text-center">Viewing Order</h3>
  </div>

  <div class="row">

    {% for kits, kit_order in order_data %}
    <div class="table-responsive">
      
      <div class="float-start fw-bold">{{kits.brand}} Cat#: {{kits.catalog_number}}</div>
      <div class="float-end">
        ({{kit_order.remaining_transfers}}/{{kit_order.amount_ordered}})
        <a type="button" href="{% url 'add_to_inventory' order.pk kits.pk %}" class="btn btn-primary btn-sm {% if kit_order.remaining_transfers == 0 %} disabled {% endif %}">Add To Inventory</a>
      </div>
 
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="col-sm-3">{{kits.name}} × {{kit_order.amount_ordered}} <a class="btn btn-primary btn-sm float-end" href="{% url 'reviews' kits.pk %}" role="button">Kit Details</a></th>
            <th scope="col" class="col-sm-2">Amount</th>
            <th scope="col" class="col-sm-1">Total</th>
          </tr>
        </thead>
        
        <tbody>
          {% for reagents in kits.storereagent_set.all %}
          <tr class="table-success">
            <td>{{reagents.name}}</td>
            <td>{{reagents.volume}} {{reagents.unit_volume}} × {{kit_order.amount_ordered}}</td>
            <td>{{reagents.volume|dec_mult:kit_order.amount_ordered}} {{reagents.unit_volume}}</td>
          </tr>
          {% endfor %}

          {% for tubes in kits.storetube_set.all %}
          <tr class="table-primary">
            <td>{{tubes.name}}</td>
            <td>{{tubes.amount}} × {{kit_order.amount_ordered}}</td>
            <td>{{tubes.amount|dec_mult:kit_order.amount_ordered}}</td>
          </tr>
          {% endfor %}

          {% for plates in kits.storeplate_set.all %}
          <tr class="table-warning">
            <td>{{plates.name}}</td>
            <td>{{plates.amount}} × {{kit_order.amount_ordered}}</td>
            <td>{{plates.amount|dec_mult:kit_order.amount_ordered}}</td>
          </tr>
          {% endfor %}

          {% for gels in kits.storegel_set.all %}
          <tr class="table-secondary">
            <td>{{gels.name}}</td>
            <td>{{gels.amount}} × {{kit_order.amount_ordered}}</td>
            <td>{{gels.amount|dec_mult:kit_order.amount_ordered}}</td>
          </tr>
          {% endfor %}

          {% for ladders in kits.storeladder_set.all %}
          <tr class="table-danger">
            <td>{{ladders.name}}</td>
            <td>{{ladders.amount}} × {{kit_order.amount_ordered}}</td>
            <td>{{ladders.amount|dec_mult:kit_order.amount_ordered}}</td>
          </tr>
          {% endfor %}

          {% for dyes in kits.storedye_set.all %}
          <tr class="table-info">
            <td>{{dyes.name}}</td>
            <td>{{dyes.amount}} × {{kit_order.amount_ordered}}</td>
            <td>{{dyes.amount|dec_mult:kit_order.amount_ordered}}</td>
          </tr>
          {% endfor %}

          {% for controls in kits.storecontrol_set.all %}
          <tr class="table-light">
            <td>{{controls.name}}</td>
            <td>{{controls.amount}} × {{kit_order.amount_ordered}}</td>
            <td>{{controls.amount|dec_mult:kit_order.amount_ordered}}</td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
    {% endfor %}

  </div>



</div>
{% endblock %}